
---
import Layout from '../components/Layout.astro';
---

<Layout title="A Short and Bumpy Start">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A Short and Bumpy Start</h1>
        <h2>
           Not quite according to plan, but adapted to what was available...
        </h2>
      </div>
<p>
      I had sure hoped to take the train down to Texas, but after a couple hours on the phone with Amtrak, there wasn't a good way to get me and my bike down to Texas on time, for less than a thousand dollars.  Amtrak claimed to be "out of room" for bikes on any travel days near mine, and further wouldn't even let me book a single trip all the way to Texas: it was two trips, with a transfer and a 22-hour layover in LA. And, I would have had to hope and pray that the second train would "find room" for my bike otherwise leaving me stranded.  I don't like those odds, since I have to be in Austin on the 21st of March to help my favorite (only :)) nephew and sister celebrate birthdays that day!
<p>
	Faced with the prospect of paying <a href=https://www.bikeflights.com/>bikeflights</a> around $500 to ship (only) my bike down to Del Rio - in addition to train fare for a >3 day train ride....and then finding that a flight was both 3 days shorter (and one hotel stay in LA shorter) and included free bike transport, I caved to convenience and savings and just booked a flight to Austin for close to 1/3rd of the cost of a train ride (and that includes a rental car to get from Austin out to Del Rio, since there were no flights into Del Rio). So, the plan is to drive to Del Rio on the 13th, and roll out from Del Rio the 14th after having the bike shop in Del Rio reassemable my bike and give it a once-over.  I'm not excited about that portion of the trip anymore; I don't like flying, but at least I could get a straight answer from the airline that they would be able to take my bike for sure and get me there on time.  Or, even if I'm late in arriving, everything still works out since I can pick up my rental car anytime until midnight from the airport rental place...
<p>
	While I haven't been journaling here a lot, I have been riding almost every day, averaging >20 miles a day for the past few weeks.  Let's see what Strava's embed widget looks like:
<p>
<iframe height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/285475/latest-rides/2d8ffe86ebe392cca7d5caebdf856f37cfad1af1'></iframe>
<p>
	Yesterday I got the 2nd/3rd-to-last things I really need for this trip: front panniers and got my bike fit (we put wider handlebars and a shorter/taller stem on to encourage me to be kinder to my upper back and arms, and look more like the picture on the right:
<p>
<img src=/left-fit.jpg alt="side view of my too-stretched geometry" width=326 height=244><img src=/right-fit.jpg alt="side view of my corrected geometry" width=326 height=244>
<p>
	The last major thing I'm waiting for is still in the mail - locking skewers for my wheels so I can more comfortably lock my bike up anywhere while I'm on my trip, without having to lock the wheels too!  
<p>
	Next week I'll finally do a shakedown ride to camp somewhere near Portland, carrying all my gear and ensuring that I'm not missing anything while there's still time to acquire whatever I forgot/doesn't work as I expect...and I intend to test my camera and the daily-ride embed from Strava in a writeup too!
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
