
---
import Layout from '../components/Layout.astro';
---

<Layout title="Back on Track!">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Back on Track!</h1>
        <h2>
           Progress made, plans coming together for a start date of 26 May
        </h2>
      </div>
<p>
	My <a href=https://fool.medium.com/silver-linings-3807642529ea>last update</a> was a bit bleak and depressed, but I'm happy to report that health is good, miles are long, and tickets are bought for take 2, starting next weekend!
<p>
	Fortunately I've been ready to go for months aside from health issues, and some combination of the below ingredients seemed to resolve the pain:
<ul>
<li>taking the better part of 6 weeks off of biking 
<li>getting a new, squishy saddle with a cutout to reduce pressure on the sensitive spot
<li>acupuncture and massage
<li>hopefulness
</ul>
<p>
	I have again been riding almost every day, averaging >25 miles a day for the past month or so, as you can see on <a href=https://www.strava.com/athletes/285475>Strava</a> - which I am using as a convenient tracking method for my training and will probably continue to use throughout my trip!
<p>
	Lori and I did a shakedown camping trip last weekend (albeit with her new tent and stove, my old tent and stove are in good shape per my last campout), so even loaded, I feel confident in my ability to ride most days.  We'll do one more shakedown trip (~50 miles loaded) on <a href=https://ridewithgps.com/routes/45759489>this route</a> this weekend to celebrate some friends' wedding.
<p>
	Look for many more details and updates here as I set out in 10 days!
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
