---
import Layout from '../components/Layout.astro';
---

<Layout title="Wrapping up my trip in Montreal">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Wrapping up my trip in Montreal</h1>
        <h2>
           ..but I'll be back someday!
        </h2>
      </div>
<p>
<img src=https://q42.me/trips/crosscanada/end-pano-small.jpg>
<p>
Sorry to leave you hanging so long, readers!  I've decided to head home from Montreal, after riding a fair ways this summer:
<p>
<ul>
<li>May: 195mi
<li>Jun: 1098mi
<li>Jul: 516mi
<li>Aug: 1340mi
<li>Sep: 208mi
<li><b>Tot: 3347mi</b>
</ul>
<p>
But, I'm done with neither Canada nor Quebec (nor Montreal), the latter of which have been the best biking on the trip so far and I am excited to return some summer in the future to explore far Eastern Canada.
<p>
<img src=https://q42.me/trips/crosscanada/end-hillary-small.jpg>
<p>
<i>Friend Hillary put me up and showed me around town!</i>
<p>
This week I'm checking out Montreal and mailing my bike and some camping stuff home so I can travel a bit lighter as I stop in to see a few friends on the way home.  I'll get back on 23 Sep via Amtrak train and then I'll get to work editing this blog into something a bit more fun, readable, and better formatted...and still figuring out what I want to be when I grow up.
<p>
Thanks for coming along with me on the trip!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
