
---
import Layout from '../components/Layout.astro';
---

<Layout title="Hurry up and wait">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Hurry up and wait</h1>
        <h2>
           6 miles biked, 12 hours traveling
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: ~6 mi (~10 km)
<br>
Climbing: minimal
<br>
Descending: minimal
<br>
Difficulty: easy effort, kinda hard to handle the bike in these first fully loaded miles!
<br>
<a href=https://www.strava.com/activities/11504953803>Link to Portland ride in Strava</a>.  Seems like I forgot to record the ride from the train station to the hotel!
<br>
<hr>
<p>
It's 12:45AM on the day I'll call day 1 after I wake up.
<p>
Just over 12 hours ago, I was kissing my partner goodbye, petting the cat one last time, and wobbling along on my first ride that was truly fully loaded with EVERYTHING I would bring, going from my house to the train station.  Yesterday I discovered that my bike and gear together weigh more than 110 pounds - without fluids! I think my bike's only 25ish pounds, but I'm carrying more than 50% of a me (at 200 pounds after my training regimen dropped 20 pounds) along with me on this trip!
<p>
Lori was kind enough to snap a couple pictures of me and the steed, so you don't have to settle for text alone:
<p>
<img src=https://q42.me/trips/crosscanada/day0-loaded1.jpg> <img src=https://q42.me/trips/crosscanada/day0-loaded2.jpg>
<p>
Today was 6 miles in 2 rides: to the train station, and then from it to my hotel.  I got to the train station early since my travel is international and I wasn't 100% convinced that I wouldn't have to box my bike, so left plenty of time to stand around uselessly, since I could have arrived 10 minutes before departure (though having shown up 2 minutes too late for a train once in the past, I try not to cut it that close anymore...)
<p>
The train ride was decent, scenic, crowded, but not too annoying until we got to vancouver and waited about 2 hours for a drawbridge and another train or two within a few miles of the end station.  But such are the vagaries of passenger train travel in North America, from experience past present and (foreshadowing!) future.  Upon arrival, it took me a fair while to get my poop in a group to get into line for customs, so I was last.  But Canadian customs is typically easy and today was no different:  "Why are you here?" "Gonna ride this to Jasper this month!"  "Oh, wow, good luck!" The train conductor was standing around and said something like "Uphill both ways to Jasper, eh?" and I concurred, having just mapped the ride and found it to be over 60,000 feet (over 18000 meters) of climbing in around a thousand miles (around 1500 kilometers).  But, it's worth it to bask in one of my favorite places on earth, I told him, and he agreed and mentioned that he'd grown up there and still found it amazing.
<p>
When I got to my hotel, I had to be buzzed in and there was nobody at the front desk as I stood out in the drizzle.  I rolled my bike in without asking, and the front desk fellow didn't say anything immediately, but before he sent me upstairs-with-no-elevator-option-somehow, he let me know I couldn't bring my bike up.  Fortunately, he recommended not leaving it outside "in this neighborhood", so found a spot for it in the office and assured me it would be no problem to leave it there until I checked out.  I was still feeling pretty precious about the bike and keeping it safe - something that would change substantially over the course of the trip as I took it more and more for granted that the people in Canada were quite nice and that especially nobody would feel like lugging 100 pounds of bike across the street, much less out of sight.
<p>
Now for some well deserved sleep before I roll out in the forecasted freezing rain to the ferry tomorrow morning.  Another short ride of around 35ish miles (56ish km) - much of which I did <a href=https://bestcoast-part1.netlify.app/16may/>to start my last tour down the coast</a>.  Normally the routes would be a bit different since the ferry is at the southwestern tip of an isthmus and the route down the coast has to cut east, but it turns out that the westernmost bike-able bridge is substantially to the east of me and the ferry terminal.  Still easing into things with a nice short day, ending in an Airbnb where I'll be able to warm up and write to you again. 
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
