
---
import Layout from '../components/Layout.astro';
---

<Layout title="Hurry up and wait">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Hurry up and wait</h1>
        <h2>
           6 miles biked, 12 hours traveling
        </h2>
      </div>
<p>
It's 12:45AM on the day I'll call day 1 after I wake up.
<p>
just over 12 hours ago, I was kissing my partner goodbye, petting the cat one last time, and wobbling in my first ride that was truly fully loaded from my house to the train station.  Yesterday I discovered that my bike and gear together weigh more than 110 pounds, and since my bike's only 30...I'm carrying more than 50% of a me (at 200 pounds) along with me on this trip!
<p>
Lori was kind enough to snap a couple pictures of me and the steed, so you don't have to settle for text alone:
<p>
<a href=https://photos.app.goo.gl/2jEtdoNrT4jsiMcC6>too tired to figure out how to add images to this site so here they are on google photos</a>
<p>
But, today was 6 miles in 2 rides, to the train station, and then from it to my hotel.  I got to the train station early since it is international and I wasn't 100% convinced that I wouldn't have to box my bike, so left plenty of time to stand around uselessly, since I could have arrived 10 minutes before departure (though having shown up 2 minutes too late for a train once in the past, I try not to cut it that close anymore...)
<p>
The ride was decent, scenic, crowded, but not too annoying until we got to vancouver and waited about 2 hours for a drawbridge and another train or two within a few miles of the station.  Then it took a fair while to get my poop in a group to get into line for customs, so I was last.  But Canadian customs is easy:  "why are you here?" "gonna ride this to Jasper in June!"  "oh, wow, good luck!" The train conductor was standing around and said "uphill both ways to Jasper, eh?" and I concurred, having just mapped the ride and found it to be over 60k feet of climbing in ~1k miles.  But, one of my favorite places on earth, I told him, and he agreed and mentioned that he'd grown up there.
<p>
Now for some well deserved sleep before I roll out in freezing rain to the ferry tomorrow morning.  Planned ride of 35ish miles (much of which I did <a href=https://bestcoast-part1.netlify.app/16may/>to start my last tour down the coast</a>, since the westernmost bridge is substantially to the east of me and the ferry terminal, and also the route to the US); a nice short day, ending in an airbnb where I'll be able to warm up and write to you again. 
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
