
---
import Layout from '../components/Layout.astro';
---

<Layout title="Yeehaw Rail Trail!">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Yeehaw Rail Trail!</h1>
        <h2>
           A very pleasant diversion and a great day
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 41 mi / 66 km
<p>
Climbing: 1240 feet / 378 m
<p>
Descending: more than I climbed, anyway :)
<p>
Difficulty: Easier
<p>
<a href=https://www.strava.com/activities/11607081976>Link to workout in Strava</a>
<hr>
<p>
Sitting by the lakeshore is peaceful.  Today was a good day!  I remembered that I enjoy riding bikes and I can stop to smell the flowers especially when my path (and the flowers!) are more than 3 feet (1 meter) from passing cars at highway speeds and I made a different plan for tomorrow that I don't dread (I was dreading tomorrow's ride!)
<p>
Today started off easy, first and second breakfast at Deadwood Junction coffee shop then got packed up and rolling before 9am even though I took my time reassembling my gear in the hotel room.  Rolled up the trail for a mile out of town, and the trail crossed the highway and there I found a graffiti tunnel where I decided to head back to the road based on what I could see of the trail ahead.
<p>
<img src=https://q42.me/trips/crosscanada/day11-metroid-small.jpg>
<p>
<i>my favorite graffiti, 15 feet up a sheer wall.</i>
<p>
I stayed on the highway for a handful of miles before switching to the delightful Columbia & Western Rail Trail.  I'd tried a bit of the Kettle Valley Rail Trail, which connects to it, and found it too sandy and overgrown for me to ride on my heavy mostly-a-road-bike...but not this new rail trail! (I guess the two rail lines met in Midway, the town with the museum yesterday.  Both are defunct today, no rail through this valley anymore since the road lets trucks bring in goods).
<p>
I stayed on that rail trail all the way into my destination "town", the ring of homes surrounding much of Christina Lake, and it was a delightful 2.2% or less grade up and down, meaning that I could coast or pedal easily downhill and I never had to walk going uphill, something like 35 miles!  Mid-ride, the town of Grand Forks straddled the trail, and there was a pub in the old train station. So of course I stopped there for lunch!
<p>
It was at lunch where I was pondering changing my route for the rest of the day and especially for tomorrow, from the highway to the rail trail and the waitress thought that was a good idea based on her experiences on the trail a few (?) years ago.  She claimed it was flat and would go around the gnarly climb the road went through, and while it will go around...upon researching a bit, it is still a pretty steady climb for 20 miles just on a rail trail, instead of the road.  I swung past the bike shop to ask about the feasibility of my plan and the shop guy said that if I had ridden the trail thus far today, I'd be fine to make it over that trail on my bike.  
<p>
The new route is a bit less climbing (600 feet or so less), which will be nice.  It will be bumpy which is to be expected, but <b>really</b> bumpy for 50 miles could be pretty tedious and some folks online warned me it was tooth rattling on a bike like mine.  But so far today - I rode a good portion of the same trail - it wasn't <b>really</b> bumpy for the vast majority of the ride.  I'll have to see tomorrow, and make a decision on the spot; there is a bail point or 2 to switch over to the highway if I am fed up within the first 10 miles, but then there's no bail point for like 40 miles and I may not see anyone so I have to be feeling good to do the long loop away from the world. But something I know is that I have been dreading the 4000' highway shoulder climb, assuming I'd be walking a lot of it as it gets steep or the shoulder gets too narrow, and so...walking some of the rail trail is a lot nicer!  And I suspect I'll be walking a lot less, since it will never be too steep, only too bumpy (or maybe there will be things I have to deal with like trees down).  But I think I'll get some more cool tunnels and trestles too.  So I am pretty well decided...
<p>
The ride out of Grand Forks was frustrating as the town had big chunks of the trail under construction and not signed well;  I ended up walking around several fences I know I wasn't intended to trespass beyond, but I was also frustrated and just wanted to get back to riding in the increasingly summery (warm, sweaty) sun.  Finally made it and was amused to then, for a moment be riding some overgrown doubletrack and my panniers were just whacking the grasses nonstop, but my legs weren't and no harm was done.
<p>
<img src=https://q42.me/trips/crosscanada/day11-trestle-small.jpg>
<p>
Set up camp in a large RV park and then went for a quick swim in some cool but not cold latewater, got great gyros and milkshake dinner, and now just enjoying the view and the sound of waves on the beach...
<img src=https://q42.me/trips/crosscanada/day11-panobeach-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
