
---
import Layout from '../components/Layout.astro';
---

<Layout title="A++ would ride again">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A++ would ride again</h1>
        <h2>
           Everything about today was pretty great
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 30 mi / 48 km
<br>
Climbing: 1972 feet / 601 meters
<br>
Descending: similar
<br>
Difficulty: medium low
<br>
<a href=https://www.strava.com/activities/11684379928>Link to workout in Strava</a>
<hr>
<p>
Yesterday, we woke up with an epic view after the thunderstorm and rain had passed. Cooked some oatmeal, and ate while regarding the mountains.  Here's a shot at a timelapse of me breaking down camp.  Still figuring out best placement for camera for most shots and in this case, well, I guess the real show was the mountains :).  All the faffing with tent bits was trying to get them to dry out before packing it up since I won't camp for a couple days;  it mostly worked. You can see Albert breaking down his camp next to me.  Definitely took advantage of the emptiness of the campground as it is still early season here.
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7wvrB8fKlcI?si=5OhJSZwOrmpAcAGs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>
We didn't get out of camp for quite awhile since we knew we had a short day and the hostel check in at our destination wasn't until 4pm.  Otherwise we can pack up much faster ;).  Looking at today's route, I had planned to go around the lake that we'd be riding near all day on the far side, which was not where the highway went.  Since the day before had rewarded the side road (after penalizing us a little for picking the trail out of town), and RidewithGPS said that many more cyclists went that way than the highway, I pressured Albert into trying the far side of the lake rather than the sure-thing, direct-route highway.  This required riding out about a mile south (we're headed north right now) and is maybe the first backtracking I've had to do on the trip?  Maybe I made a wrong turn a couple weeks ago and had to backtrack, but if so I've already blocked it out of my memory...
<p>
<img src=https://q42.me/trips/crosscanada/day18-trailside-small.jpg>
<p>
Google maps in Canada is not always great at showing where the bike paths are, so we had a nice surprise when that road (which would have been much nicer to ride on than the highway shoulder anyway - only a few dozen cars in an hour and a half) turned out to have an excellent offroad path paralleling the road the whole way - for 20-odd km!  If the "alternate" road was good - the path was GREAT!  fresh pavement, paralleled the road and had great views and fun signage (and someone had put the Mr. Potato Head style "face pieces" on at least a dozen trees along the route).  We saw exactly 6 other trail users - 4 cyclists and 2 people in a mini truck clearly out maintaining the trail (which was indeed very well maintained).  
<p>
<img src=https://q42.me/trips/crosscanada/day18-trailpano-small.jpg>
<p>
Path ended in the towns of Invermere/Windermere which are at the north end of the lake.  (The lake turned out to be 
Columbia lake, the headwaters of the Columbia river, which flows about 3 miles from my home and into the ocean not too long after...though it takes 2000 kilometers or so to make the trip from here to there).  Albert wanted to go to the cheap grocery store and had figured out where it was, and so we decided to stop there and also find lunch in the neighborhood.  Fortunately in the neighborhood was Poutine Queen, which served us some amazing poutine (amazing not just because I had gotten hangry by the time we biked (well, he biked, I walked) a big hill up to the side of town where the grocery store was, but objectively great poutine!).  This fuel powered us well into the evening.
<p>
<img src=https://q42.me/trips/crosscanada/day18-poutine-small.jpg>
<p>
We pulled into the very small town of Radium springs, essentially a highway intersection with a few shops and houses (but a good public library, which I am taking advantage of today!), got into the hostel a bit early "er, your beds aren't ready, but you can drop your stuff and use the kitchen & facilities", took the time to do some laundry at the laundromat, and then biked the 2.5k uphill to get to the hot springs.
<p>
The springs are a national park facility, open for everyone to use and well maintained.  We spent an hour or so soaking in the giant warm pool as the cold rain fell, before we finally got hungry enough that we were motivated to bike down through the much-colder-now-that-we-weren't-in-hot-water rain, to a fine german dinner.  Dinner was a little bittersweet because it was also a goodbye;  Albert was heading out on a long day today, but the campground I needed to split that long day (~90 miles with ~6000 feet of climbing) is only opening on thursday!  Good thing we found this out because I almost rode out with Albert with the intention of stopping before him at this campground, which I would have been bitterly disappointed to find closed.  Yay for visitor information centers which are in pretty much every small town around here, since they gave me the news.
<p>
<img src=https://q42.me/trips/crosscanada/day18-dessert-small.jpg>
<p>
So, we said our goodbyes, and I had time for a nice chat with Lori in the park while I watched the sunset, and looked forward to my last day off until I meet her in a week!  Next week will be a lot of hard, daily, riding, but I've got several hostels booked between campgrounds to allow for me not to have to be in a sleeping bag in my tent for a week straight...
<p>
<img src=https://q42.me/trips/crosscanada/day18-peace-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
