
---
import Layout from '../components/Layout.astro';
---

<Layout title="To the edge">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>To the Edge</h1>
        <h2>
           Some miles in the wrong direction, with intention
        </h2>
      </div>
<p>
Up and to the right:
<p>
Last night, I repaired my tent bag which eagle-eyed Lori had noticed was starting to tear right as I set out.  Then, before I set out this morning, I tightened my front wheel, which substantially reduced my wobble.  I had just swapped in locking wheel skewers the day before and hadn't tested them well, but fortunately the only resulting problem was a minor wobble, no tragedy.  But all sealed up now!
<p>
Today I headed some miles eastward, to get to where I want to start riding west from.  It's "traditional" on this route to start from milepost 0 on Canada highway 1, which is on Vancouver Island, accessible mainly by ferry.  Ferry terminal is about 30 miles South-Southwest of Vancouver downtown, so I rode down and enjoyed pulling up just in time to board the next ferry without much wait (they leave every hour or so until nighttime).  On the other end, it was still some distance to Victoria from the terminal on the island, so that took the rest of the afternoon to make it to town (by bus, since I'll ride directly back on Wednesday along the same route I would have taken today).  Probably took as long to wait for the bus, unpack my bike, repack my bike, and ride straaaight uphill from the bus stop a couple miles, as it would have to just ride tho...
<p>
Today's ride on the mainland was quite pleasant!  Nearly all very well signed bikeways and thoughtful MUP's (Multi-Use off road Paths, generally paved).  Even the rural roads I picked based on the Strava heatmaps had sharrows and implored tractors and bikes to ride single file, and even the highway shoulder I had to get on for the last few miles was marked as a bike lane.  I love riding in Vancouver, but I knew that already.
<p>
On the way out of town I rode on the Mosaic bikeway, which I vaguely recall from my first visit on a bike here, probably 15 years ago.  I remember it specifically since I was (back then) riding at night, and while I was, I had the only negative interaction on the road I can recall in Canada - a frustrated motorist pulled around me as I was turning left, yelled at me, and ended up throwing an apple at me from their car.  I caught it, and perhaps ill-advisedly, ate it.  It was tasty and I did not get sick. Net gain!  But nothing like that happened this time, it was smooth rolling all the way to the sea.
<p>
The MUP's were fabulous and mostly followed the light rail tracks;  transit was everywhere as were well signed bike facilities.  Wish more of America invested in non-car transport options to this degree :(
<p>
I recall the <a href=https://en.wikipedia.org/wiki/Alex_Fraser_Bridge>Alex Fraser bridge</a> from my last ride in this direction, and while the sidewalk hung off the side of it was only slightly wider than the I-5 bridge sidewalks in Portland, it was way less claustrophobic (higher but also no chance of banging your head on anything), and that (as well as EVERY OTHER MUP) seemed like it had <i>just</i> been swept clear of all debris moments before I arrived.  I dunno how much effort the local transport agencies put into cleaning their bike paths, but it sure felt like they were all very well loved.  Indeed I saw at least a couple dozen workers doing construction and landscaping along the paths on this fine monday morning.  Contrast this with, say, the i-205 path in Portland on which I typicaly have to pay constant, close attention to the surface - to dodge all the broken glass and other trash.  I'm not going to be riding on a whole lot of bike specific infra once I leave the metro area (until I get to Quebec where they reportedly have great infra!), but what's in the metro area is just so obviously well loved, even if I didn't see many (almost none) other trail users once I started crossing bridges to leave Vancouver proper into the suburbs.  But the connections, signage, and even bus stops in the middle of nowhere  were still excellent!
<p>
While in the countryside, I rode past a random unexpected <a href=https://barnsidebrewing.ca/>farm-to-table brewery</a> that grows their own stuff and brews on site, so had a delightful lunch-snack of a very local beer and pretzel before continuing to the ferry.
<p><div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="11512381742" data-style="standard"></div><script src="https://strava-embeds.com/embed.js"></script>
<p>
Unfortunately, my cranks are creaking a lot again.  I'd complained of this about a week and a half ago to the bike builder, and they tightened some reportedly very loose bolts in the drivetrain up and it went away, but it seems to be back.  On the third hand, this is the most weight I've ever carried on this bike, so maybe that's just normal?  Sure hope not since it's gonna be quite a constant companion if it persists.  I'll see if I can provoke it without much baggage tonight, and if so, I'll drop by  a bike shop in Victoria during my day off tomorrow. <p> 
Besides that, I have a little list of stuff I have to do, though I may not journal unless the day is noteworthy, I do intend to:
<p>
<ul>
<li>get a location tracker dropped into the bike frame
<li>figure out how to post pictures inline in these articles
<li>and get some video posted of my kit (which I took a couple days ago.)
<li>review why my strava embeds stopped working
</ul>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
