
---
import Layout from '../components/Layout.astro';
---

<Layout title="Resting at the springs">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Resting at the springs</h1>
        <h2>
           "a little R&R" to help brace for some hard work
        </h2>
      </div>
<p>
<img src=https://q42.me/trips/crosscanada/day19-radium-small.jpg>
<p>
Albert left before I woke up and hopefully has made the 100+ mile ride he was planning by now.  He liked to point out that it'll not be dark for another couple hours (I write this at 8:30pm around the 50th latitude North), but riding for more than 12 hours in a day is a lot of saddle time for anyone who isn't an ultra distance athlete.  I won't be sure of when I'll hear from him since cell signal begins to be less available as soon as one starts heading east.
<p>
There was quite a focus on food today as I only really got out of bed to eat lunch, and then kept shopping for more food and finally had a milkshake for an afternoon snack from Screamers...
<p>
<img src=https://q42.me/trips/crosscanada/day19-scream-small.jpg>
<p>
Spent some time at the library working on video uploading & also the plans for the rest of the rockies riding.  Pretty small town but pretty nice library!  Apropos of nothing, the church here has a trail on the hillside with the <a href=https://en.wikipedia.org/wiki/Stations_of_the_Cross>stations of the cross</a> lifesize sculptures so I checked it out.  It was not a spiritual experience but the view of the valley I'll be climbing out of tomorrow was nice!
<p>
Headed back to the hot springs to relax one more time and it was even more rewarding than expected, since these goats came to visit us and hung around for a long time.  About 2 dozen total and we got to watch them climb a very steep wall up and back down, as well as just graze and chill.  And play in traffic :/ .  I also did a minute long cold soak and that was invigorating, this was glacier-cold almost-freezing streamwater.
<p>
<img src=https://q42.me/trips/crosscanada/day19-goats-small.jpg>
<p>
After springs/goats, got Subway for dinner with cholocate milk, chips, and a candy bar.  Trying to get enough calories into the machine so I can be fueled for tomorrow's long day!
<p>
I feel like I'm living my best life and am at some peace, though during/after tomorrow's ride, I may be also feeling like it is too hard a life.
<p>
<img src=https://q42.me/trips/crosscanada/day19-snowplow-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day19-avalanche-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
