
---
import Layout from '../components/Layout.astro';
---

<Layout title="Steadily delightful">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Steadily delightful</h1>
        <h2>
           45 miles at a 2% grade
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 53mi / 85 km
<br>
Climbing: 2723 feet / 830 m
<br>
Descending: similar
<br>
Difficulty: super hard first mile, then medium 19 miles, then easy 25 miles, then medium hard into town
<br>
<a href=https://www.strava.com/activities/11615689179>Link to workout in Strava</a>
<hr>
<p>
Got up around 7 and put stuff away halfway and then headed to breakfast at nearby coffee shop.  It was meh.  Finished packing up slowly, and almost forgot to load my route onto my bike computer (but it would have been a survivable error, since there were no turns today outside of cell range, albeit 40 miles of such trail!).  Once I got ready to go, I had to face the hill.
<p>
I pushed my bike up the first mile - it was super steep!  I knew it would be since coming down from the high-above (hundreds of feet) rail trail was a big zoom down.  This was, I knew, going to be the hardest part of the day. I was super sweaty at the top but reapplied sunscreen at the trailhead where the road crossed the railroad grade, and then: rail trail all day!
<p>
Trail surface was great, motorized traffic was minimal.  I saw few people most of the way up - which was about 4 hours of relentless 2% uphill grade on gravel, I just churned along at a slowish speed and stopped several times to read placards, snack, catch breath, examine other ruins of the past, etc.  I was passed - almost the first person I saw near the start of my climb - by a woman with her dog not-small dog riding in a milkcrate on back of her bike;  made me think of Erinne to carry a dog at speed uphill.  I leapfrogged her all for much of the rest of the day (15+ miles of climbing for her and the dog; she was going the distance!)  Next guy I saw walking, with many dogs, was cuddling his bear spray in a way that made me re-arm my constant-ringing bear bell and confirm bear spray was at the ready, though I saw no non-human animals for the whole ride as it turned out.
<p>
Though the trail was largely open to motorized vehicles, and I was passed by a half dozen motorcycles, a half dozen ATV's, and one pickup truck with mountain bikes in the back.  Probably about the same number of motors as bikers/walkers.   I was extremely impressed at how non-rutted and passable the trail was in general - only one spot that wasn't easily bikeable, and suppose that this kind of attitude is part of why:
<p>
<img src=https://q42.me/trips/crosscanada/day12-trailcare-small.jpg>
<p>
Suddenly, I came upon 4 people - as many as I'd seen total so far in the past 3 hours - all standing in some rocks.  A small creek - shin deep - crossed the road among some wide smooth pebbles that were pretty slippery.  Two motorcyclists were debating how to negotiate it, and as I pulled to a stop, one blasted through it successfully but the other was not interested in trying her luck.  I looked at how deep it was, figured my front panniers would go in the water if I "just gunned it" nor was I confident in my ability to stay upright since the water was flowing fast and it looked slick.  So, I took the front panniers off and carried them across (soaking my feet), came back and pushed the bike across;  the water didn't quite get up to the interesting bits I left on it for the crossing: hubs, bottom bracket, and panniers.  I left the motorcyclists behind trying to decide how to get the second bike across and didn't see them again, so I guess they didn't cross quickly or they would have caught up with me since it was still uphill at that point and they could easily have gone 4x my speed.
<p>
Suddenly, came upon a trailhead with a dozen folks in the parking area: people outfitting for bikepacking trips or unpacking, not sure which; families hanging around; ATV'ers talking to mountain bikers. I got some tips when I explained my plan to a friendly MTB guy, and then I carried on to the tunnels he warned me about (it was long and cold and my headlight was up to the task!), and trestle bridges, and finally the summit so time for downhill! For 25 miles in a row!  It was delightful.  I refilled my water bottle a couple times, from a recommended spigot after the super long tunnel.  It was delightful too!
<p>
A passing guy on an ATV told me two things of interest:
<ol>
<li>I should stop a bit ahead, and check out this 120 year old oven in the hills and here was how to find it.  It was old and oven-shaped!
<li>And, that the path had just been re-graded (smoothed and leveled) last month and boy I would not have been able to ride it or at least not as comfortably, if that hadn't been done!  So yay for that. 
</ol>
<p>
At the very end of the trail after most of my ride, I ran into another loaded tourer - first one on the trail all day (several bikepackers - mountain bikes - at the trailhead) but no touring bikes with panniers except me and this guy; the folks I had seen riding were all not carrying much gear and were clearly on day rides. Chatted for a minute; turns out he was from the next town over and was on a short trip.
<p>
Looking forward to rest day today and not doing much.  My airbnb is ok, but this town is hilly and there aren't many commercial establishments here, so dinner and breakfast and store trip were hilly, not restful :P
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
