
---
import Layout from '../components/Layout.astro';
---

<Layout title="Finally found the mosquitoes">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Finally found the mosquitoes</h1>
        <h2>
           My surplus of clothing + 100% DEET have made the evening bearable
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 36 mi / 18 km
<br>
Climbing: 1837 feet / 560 m
<br>
Descending: 1266 feet / 386
<br>
Difficulty: moderate
<br>
<a href=https://www.strava.com/activities/11646996401>Link to workout in Strava</a>
<hr>
<p>
I posted some videos today, pretty amateur production values, but it seems like they have good bones to later dress up with some voiceovers and annotations (I'm also keeping the raw 360 degree footage so I can even reframe the shot(s), and/or try to remove some of the fisheye effect you'll see especially on the 360 ride-by from yesterday).  You can see a staged ride-by in <a href=/day14>Yesterday's post</a> (which I added belatedly, 16 hours after posting the initial entry), or a timelapse from today below.
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_xMeHMrgf30?si=_nbjDai0KQybBcA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>
<i>timelapse from camp into Creston</i>
<p>
Last night I slept amazingly well up on the Blacktail Ridge; so glad I didn't head into town like I'd planned. No matter if I'd stayed at an RV park/campground or in a hotel, I wouldn't have had the peaceful and quiet night that I did!  I was the only camper up there; I had a nice campfire and hiked up from where I was sleeping past the edge of their property (oops), and was awoken by wild turkeys at 7am - latest I've been able to sleep in quite awhile!  Perhaps because the hosts had helpfully suggested the site that was shaded from the morning sun...it still hadn't reached my site when I left at 9:30!  Partly thanks to the topography of the valley with the blocking-the-sun-near-the-horizon, but partially due to a well-placed stand of trees.  I liked that place and those folks (I chatted with them again on the way out as you can see in the video where I pause for a few seconds - really a few minutes - and there are 2 folks and 2 dogs in the frame.)  I'm <b>really</b> glad I pushed up that 500' climb to get to the campground (and hiked up at least another 500' to take in the valley before it was time to leave it).  Cooked some oatmeal for first breakfast, and then rode the 7mi or so into town where I promptly ate second breakfast, dorked around on the internet (see above re: video posting), and then ate lunch and hit the grocery store briefly for a few things since I have a bit of "no place to stop and eat" for the next couple of ride days.  Probably could have waited til tomorrow to do it, but got cheese and an apple to make tomorrow's ride less pb&j-riffic (the only lunch I've made for myself so far.  about 6 times...)
<p>
Enjoy some signs of Creston!
<p>
<img src=https://q42.me/trips/crosscanada/day15-universe-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day15-fakenews-small.jpg>
<p>
<i>Even Canada has ****** neighbors ; Also, the library is fighting the good fight to encourage critical thought!</i>
<p>
This 4-hour break between the morning ride and the afternoon ride meant I left town around 2pm and rode for 3 hours - the hottest part of the day - but that was only around 24c / 76f degrees, so while I got a bit of sun and sweat, it wasn't a scorcher.  Downed a dark green (never seen that flavor before;  it tasted...strongly green?) gatorade at the last stop on the way out of town so I had pre-lectrolyted and didn't suffer at all for my copious sweat.
<p>
I tried to stop and take a break at a rest stop about 10 miles from the end, but I realized that the rest stop was not empty as it had seemed - it was teeming with mosquitoes.  Not wanting to add a layer of deet to my existing layers of dirt and sunscreen, I abandoned and just pushed to the end of the ride, through the last climb which was very gentle/gradual but still had me sweating like whoa.  Pulling into Yahk, more of a dot on the map than a town, but still there are a couple gas stations, a candle and soap shop, and an ice cream stand!  I got a milkshake, naturally, which means I can take my time in starting dinner (I would have been pretty hungry immediately otherwise; this way, cleaning up, setting up camp, mosquito avoidance, and writing got to be my priorities instead of MUST EAT NOW).
<p>
Used a shower wipe since no shower, then applied deet and am wearing some slightly-too-warm long pants and sleeves, and now seem to be a good balance of "can tolerate my stink/grit level" and "smell baaad /am inaccessable to mosquitoes", but still not gonna sit out at the camp table for too long since no back support here and that is something I miss (but not enough to pack a chair on my too heavy bike).  I'll probably lay down and finish the book I've been reading - Alaska, by James A Michener - tonight, read a chapter of Zen and the art of motorcycle maintenance, and then start on a new book.
<p>
I got a single beer at the gas station, where I also learned that the campground I had hoped to use - which has showers - was <b>full</b> of people planting trees!  I guess that's a pretty good cause.  So I went to the fallback, state park campground (there's also a few other RV parks and a motel here but I was feeling the tenting since tomorrow I'll be in town and in a motel most likely), and here I sit blogging and drinking said beer.  I think there is cell coverage here since there is a freeway intersection just down the road?  Heard the road gets less awesome, shoulder-wise, tomorrow from someone who rode it a couple months ago.  I'll leave early so I can take my time and pause if it seems dangerous.  Ranger says no bear concern here so don't have to hide or hang my food like I've been doing.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
