
---
import Layout from '../components/Layout.astro';
---

<Layout title="Time to Think">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Time to Think</h1>
        <h2>
           Settling into a quiet rhythm 
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 41 mi / 66 km
<br>
Climbing: 2556 feet / 779 meters
<br>
Descending: 2149 feet / 655 meters
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/11644091456>Link to workout in Strava</a>
<hr>
<p>
Today's road (there were no turns) was very rural and fairly unpopulated - most folks on it were tourists coming on the same route as me, was my read (and a few commercial vehicles). Not much to do, but plenty to see as I rode next to the Kootenay lake (what the ferry took me across yesterday) for most of the day. 
<p>
<img src=https://q42.me/trips/crosscanada/day14-beach-small.jpg>
<p>
Today was the least shoulder on a highway I've seen since I started - it came and went, and was gone at least 50% of the time, which often left me squeezed into the tiny strip of gravel between the pavement striped edge, next to a sheer dropoff on the other side.  
<p>
<img src=https://q42.me/trips/crosscanada/day14-shoulder-small.jpg>
<p>
I mainly noticed the above (and took the above picture) because it seems like there was a weird likelihood for cars to end up passing eachother on this 2-lane road at the same time they're passing me.  As long as there was only one direction of traffic passing and the oncoming lane was visible, no problem! But, despite there being probably less than 200 vehicles passing me - in both directions - combined over 4 hours of riding, it seems like the half-dozen times I got double-passed with cars in both directions is more than I would expect if there were a more even distribution of the traffic.
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qZKGnZmf5FE?si=9_w5LFtDeEf3jmBV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>
Less than 3 miles out of the cabin I spent last night in last night, I ran into another touring cyclist!  Ralph is Canadian, but has ridden up from Mexico in the past 10 weeks and will head north and then west on his way home to near where I started my ride.  He was stealth camping on the shoulder of the road (but, there's probably no traffic between the last night ferry and the first morning one, so it might not have been miserable), and was rocking the cheapest gear imaginable and having a good time.  "bike's from the trash!  got the cheapest replacement fork.  Could only afford one new tire so have a good one on the back.  Found this, and this, and that on the road!  These were 5 bucks.  Can't get shoes like these north of Mexico, at least not good ones!"  His panniers were made out of plastic gas cans, attached to his rack with a broomstick and a bike tube.  Ralph was quite a character, and quite lonely based on his joy when I stopped to chat (was hard not to since he was standing practically where I was goign to ride), but it was good to talk about the road with someone who is living the same life as me momentarily.
<p>
<img src=https://q42.me/trips/crosscanada/day14-kangaroos-small.jpg>
<p>
<i>presented without comment</i>
<p>
The main (only) "tourist attraction" today was the glass house, built of over 600,000 glass embalming fluid bottles by an undertaker.  It was weird and cute and custom and I wish I had eaten lunch there since it had a nice view and was quirky, and a young girl who seemed to live next door sold me a ticket and gave me a quick spiel about the place.
<p>
<img src=https://q42.me/trips/crosscanada/day14-glasshouse-small.jpg>
<p>
I think I've finally settled into the riding so I don't worry about it as much anymore (it's still strenuous, but usually just "rather strenuous" and not "tunnel vision" strenuous if that makes sense), and my mind is starting to relax from its concern of whether I'll make it to where I want to go and will I find a place to stay and how to eat and it is opening me up to think about less logistics and more...nothing?  I am not solving major life problems nor world peace yet, but as my friend Gerald suggested, it's not a failure to have not had any breakthroughs yet.  They'll come when they come.
<p>
Perhaps subconsciously, I accidentally discovered, and then chose to stop at it without a lot of premeditation, a campground 10k outside of town tonight.  I won't go to a restaurant for dinner, but I'm prepared to cook a few meals from what I have with me.  The campground that is (way) up in the hills and away from the world going by and the only noises here are nature and the neighbors, and I can only smell the nature.  I'll have my first campfire tonight since they have wood here for free and it goes well with thinking.  I did stop at the quicky mart that was at the bottom of the campground road to acquire beer which also goes well with campfire meditative moments.
<p>
<img src=https://q42.me/trips/crosscanada/day14-campvista-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day14-trespass-small.jpg>
<p>
<i>I took a hike and had the pleasure of passing some no trespassing signs that were protecting the land where I was staying, so I marched past them without any concerns</i>
<p>
All this thinking about thinking has me thinking it may be time to re-re-read zen and the art of motorcycle maintenance?  I find it goes well with the contemplative road trips that have a wander-y component built in and I don't think I've read it since I was riding the <a href=https://texas4000.netlify.app>Texas 4000</a>.  The magic of technology is that I could download it FROM MY CAMPSITE IN THE MIDDLE OF NOWHERE directly onto my kindle, so I got started already.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
