
---
import Layout from '../components/Layout.astro';
---

<Layout title="First Bear">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>First Bear</h1>
        <h2>
           I did not get eaten!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 53 mi / 85km
<br>
Climbing: ~3400 feet / 1036 m
<br>
Descending: about the same amount
<br>
Difficulty: moderate
<br>
<a href=https://www.strava.com/activities/11630077513>Link to the bigger part of the workout in Strava</a>
<hr>
<p>
To round out my rest day in Castlegar, I walked down the main street and checked out their many sculptures from their <a href=https://www.castlegarsculpturewalk.com/2024>annual competition</a>, and then went for a walk in the park and got to watch as the sunset worked its magic.
<p>
Then, got up early today - and must report that I still haven't been to Tim Hortons ("Starbucks of Canada" - there are Starbucks here too, but Tim Horton's is Canadian!). There's just always been some local-er shop I'd rather spend my money at and today's local-er shop was also a mile closer and not up a big hill, so I had breakfast pizza with my mocha at a tiny coffee stand, and then rolled out of town.
<p>
<img src=https://q42.me/trips/crosscanada/day13-today-small.jpg>
<p>
<i>Not intended as indirect commentary that today might also be for sale..</i>
<p>
The route today was pretty nice!  About half on the highway, but the highway was also not super busy and thus was nonobjectionable. Transitioned onto rail trail briefly before following part of the Transcanada Trail (which on the part I rode, was just on a road, but not the highway) into Nelson.  During this stint, met Nacho at a convenience store:
<p>
<img src=https://q42.me/trips/crosscanada/day13-nacho-small.jpg>
<p>
Once I'd left the highway, I was crusing through the less populated side of the shore of the river the route followed all day, and suddenly, a bear walked on to the road about 100' ahead of me!  I did not stop to take a picture as I was making a lot of noise and considering unholstering my bear spray when a small car drove up.  This caused the bear to lope towards me for a moment, but then the bear wandered off the street to the side - but was still standing just in a driveway that I'd have to pass fairly closely.  The driver of the car waved me up and I went around the outside of it, putting it between the bear and I, and the pass was safe and there was no contact nor conflict.  I failed to identify the bear type aside from "large and black" but that could be any kind of bear...
<p>
<img src=https://q42.me/trips/crosscanada/day13-sculpture-small.jpg>
<p>
<i>Near bear, a fun sculpture.  Note that it has a cat-skele riding the handlebars and a dog-skele in the back box!</i>
<p>
When I pulled up to the ferry terminal, I had just missed the 1pm sailing (I had thought I might miss the 4pm sailing so had set up a hotel for late check in, but, spoiler: I got there well before it closed).  Not so lucky on this restaurant, which is closed only tuesdays, the only day I would be near it...
<p>
<img src=https://q42.me/trips/crosscanada/day13-closed-small.jpg>
<p>
So, instead, this is where I sat out the hailstorm that struck just before we boarded the ferry - drinking a milshake, natch!  But the reason I took this picture is that in it you can see 3 snow-capped peaks if you look close - I am getting close to the rockies!!
<p>
<img src=https://q42.me/trips/crosscanada/day13-peaks-small.jpg>
<p>
After the entirely free, 35 minute ferry ride, I waited for all the cars to drain out (there were only a few dozen), so I could make the last heartbreaking climb (almost 500 feet in about 1.5 miles) off the ferry and into town, in peace.  2 cars did pass me but there was one road into town and I guess they came from there - almost all of the rest of the traffic was from/to the ferry.
<p>
Had dinner at the only place around, and somehow managed to catch the ice cream shop before it closed for second milkshake of the day!  First was better, which may be a lesson in diminishing returns, or maybe the second ice cream shop was still brand new (it was) and figuring stuff out (seemed like)?  Not sure.  It still wasn't bad :)  This 2-shake day was a nice consolation prize for learning that A&W franchises - which there are more of up here than any other fast food restaurant I've seen - have stopped selling soft serve so there are no more root beer floats.  Took me trying to order one in 3 separate shops to get the message that no, they just don't do that anymore (but their tv-screen menus have not caught up with this reality yet!)
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
