
---
import Layout from '../components/Layout.astro';
---

<Layout title="Steadily delightful">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Steadily delightful</h1>
        <h2>
           45 miles at a 2% grade
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 53mi / 85 km
<br>
Climbing: 2723 feet / 830 m
<br>
Descending: similar
<br>
Difficulty: super hard first mile, then medium 19 miles, then easy 25 miles, then medium hard into town
<br>
<a href="https://www.strava.com/activities/11615689179">Link to workout in Strava</a>
<hr>
<p>
Got up around 7 and put stuff away halfway and then headed to breakfast at nearby coffee shop.  It was meh.  Finished packing up slowly, and almost forgot to load my route onto my bike computer, pulling to a stop still within cell/wifi range of my campsite to remedy the situation. It would likely have been a survivable error, since there were no turns today outside of cell range, although I was expecting ~40 miles of trail off the network!  <i>Since I have returned from my trip, I have learned that if I have the route on my phone in my planning tool - <a href="https://ridewithgps.com">RidewithGPS</a> - I can then send it to my Garmin bike computer, even without cell reception.  It didn't seem like I could while I was out on the road, but it seems to work just fine now.  Maybe it was a software update that enabled it, but I'll ascribe this to user (t)error since it was more likely a PEBKAC - "problem exists between keyboard and chair"</i>.
<p>
 Once I got ready to go, I had to face the hill.  My campmate - largely unintelligible in his spoken word - was kind as I left and it put a spring into my step...which was helpful, since I was on foot, pushing my bike up the first mile - it was super steep!  I knew that it would be, since coming down the night before from the high-above (hundreds of feet) former railroad grade trail was a massive zoom down.  This was, I strongly suspected (and hoped), going to be the hardest part of the day. I was super sweaty at the top but reapplied sunscreen at the trailhead where the road crossed the railroad grade, and then: rail trail all day!
<p>
Trail surface was great, and motorized traffic was minimal.  I saw few people most of the way up - which was about 4 hours of relentless 2% uphill grade on gravel.  I just churned along at a slowish speed and stopped several times to read placards, snack, catch my breath, examine other ruins of the past, check out the view, etc.  I was passed, though - by almost the first person I saw near the start of my climb - a woman with her dog not-small dog riding in a milkcrate on back of her bike.  It made me think of my friend Erinne, who also carries a dog at speed uphill.  I leapfrogged her all for much of the rest of the day (15+ miles of climbing for her and the dog; she was going the distance for apparently just a picnic near the top!)  Next guy I saw walking, with many dogs, was cuddling his bear spray in a way that made me re-arm my constant-ringing bear bell and confirm bear spray was at the ready. However - I saw no non-human animals other than birds for the whole ride, as it turned out.
<p>
The trail was largely open to motorized vehicles, and I was passed by a half dozen motorcycles, a half dozen ATV's, and one pickup truck with mountain bikes in the back.  Probably about the same total number of motors as there were bikers/walkers over the course of the day.  I was extremely impressed at how non-rutted and passable the trail was in general! I suspect that the kind of attitude this sign demonstrates is part of the why:
<p>
<img src=https://q42.me/trips/crosscanada/day12-trailcare-small.jpg>
<p>
Suddenly, I came upon 4 people - as many as I'd seen total so far in the past couple of hours - all standing around at the same spot in the trail.  A small creek - shin deep - crossed the path among some wide smooth pebbles that were pretty slippery.  Two motorcyclists were debating how to negotiate it, and as I pulled to a stop, one blasted through it successfully but the other was not interested in trying her luck.  I looked at how deep it was, figured my front panniers would go in the water if I "just gunned it" like the biker had...nor was I confident in my ability to stay upright since the water was flowing fast and it looked slick.  So, I took the front panniers off and carried them across (soaking my feet), walked back and then pushed the bike across;  the water didn't quite get up to the interesting bits I left on it for the crossing: wheel hubs, bottom bracket (the machinery where the pedals attach to the frame), and my rear panniers.  I left the motorcyclists behind trying to decide how to get the second bike across...and didn't see them again, so I guess they didn't cross quickly or they would have caught up with me since it was still uphill at that point and they could easily have gone 4x my speed otherwise.
<p>
Soon after, I suddenly came upon a road-served trailhead with a dozen folks in the parking area: people outfitting for bikepacking trips or unpacking from same; families hanging around; ATV'ers talking to mountain bikers.  Looks like that's how most people get on the trail, since there were no cars at the "trailhead" (read: road crossing) where I got on back near Christina Lake.  I got some tips on upcoming trail conditions when I explained my plan to a friendly mountain biker who was familiar with the area, and then I carried on to the tunnels he warned me about (it was long and cold as advertised, but my headlight was up to the task!), scenic well-maintained trestle bridges, and finally the summit! So - time for downhill! For 25 miles in a row!  It was delightful.  I refilled my water bottles from a recommended free-flowing spout after the super long tunnel.  The water was cool and delightful too!
<p>
A passing guy on an ATV told me two more things of interest:
<ol>
<li>I should stop a bit ahead, and check out this 120 year old oven in the hills; here was how to find it.  It was...old and oven-shaped!  Not particularly fascinating but I guess slightly interesting that it had been there so long.
<li>And, I learned that the path had just been re-graded (smoothed and leveled) last month...and boy I would not have been able to ride it or at least not as comfortably, if that hadn't been done!  So yay for that. 
</ol>
<p>
At the very end of the trail, after most of my ride, I ran into another loaded tourer (sporting panniers on a bike that could ride on the road more comfortably than on singletrack) - the first one on the trail all day.  I'd seen several bikepackers - riding mountain bikes - at the trailhead, but no touring bikes with panniers except me and this guy. The folks I had seen riding were all not carrying much gear and were clearly on day rides. We chatted for a minute; turns out he was from the next town over and was only on a short trip so there was no chance I'd carry onwards beyond this evening's destination with him in future days.
<p>
Having arrived and checked into my Airbnb, I'm looking forward to a rest day t and to not doing much.  The Airbnb is ok, but this town is hilly and there aren't many commercial establishments here, so dinner and breakfast and store trip were hilly, not restful :P
<p>
<img src=https://q42.me/trips/crosscanada/day12-mural1-small.jpg>
<img src=https://q42.me/trips/crosscanada/day12-mural2-small.jpg>
<img src=https://q42.me/trips/crosscanada/day12-mural3-small.jpg>
<img src=https://q42.me/trips/crosscanada/day12-mural4-small.jpg>
<p>
<i>Some murals in Castlegar</i>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
