
---
import Layout from '../components/Layout.astro';
---

<Layout title="UnderBirthdayBiking">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>UnderBirthdayBiking</h1>
        <h2>
           Hard to imagine anything I'd rather be doing....
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 68 mi / 109 km - longest day so far!
<br>
Climbing:  2073 feet / 632 m
<br>
Descending: similar
<br>
Difficulty: medium-low
<br>
<a href=https://www.strava.com/activities/11676893279>Link to workout in Strava</a>
<hr>
<p>
Albert rolled into Cranbrook last night and we had dinner together, caught up, and schemed about today.  He's trying a lot harder than me to find hosts through the warmshowers.org website and had a lead on one just about 25 mi out of town, since there weren't many more along the route for the next few days.  That would have left us with a really long day tomorrow to get to Radium Hot Springs, but it would have made the decision for us anyway.  But, since he hadn't heard back by the time we left Tim Horton's (which I finally tried for the first time since texas4000;  it was great and cheap especially compared to starbucks!), we decided to follow my original plan, which was a kinda long day to Fairmont Hot Springs instead.  
<p>
With 60-odd miles to roll, we did not get the early start that might have suited us well, but we still set out in good spirits, full of donuts and caffeine.  I had mapped a route out of town that took a trail (dirt road quality) for a mile or so, and then crossed the highway, and took what looked like a similar trail for a couple more miles before dropping us back onto the highway for most of the rest of the day.  However, that second similar-looking trail on the computer screen turned out to be singletrack - really narrow singletrack, with lots of short punchy climbs but fortunately not super technical.  So, we gamely rode it for those couple miles until we found the escape back to the freeway at a trailhead.  We all know I am fine with the underbiking, but it's a challenge loaded, especially pushing my >100 pound bike up up too-steep-to-ride dirt and pebbles...and Albert who likes mountain biking was still not at all ready for this, but was already laughing about it by the time we exited back to the road.
<p>
Then, we biked about 25 miles on the highway shoulder in good time, had a snack (of food we had with us) at a "closed for the season" cafe - which still had tables out front, for us to sit at...then biked about 30 more miles into the first real population we'd seen all day - the town of Canal Flats, population <1000 - and he spent an hour charging his battery while we snacked.  We knew we had about 12 more miles, and so we finally rolled just before 4, trying to make it over before 5pm in case the RV park we wanted to camp at was closing early, which fortunately it did not (though we arrived around 4:50 so we were safe anyway...)
<p>
<img src=https://q42.me/trips/crosscanada/day17-whacky-small.jpg>
<p>
<i>while it was not wednesday, it was my birthday, and the cashier was thrilled to give me 20% off of my CAD$8 snack</i>
<p>
Got checked in without hassle, got camp setup, and Albert started us a roaring fire which kept us warm as the wind and rain came in.  Finally it was raining too much to stand outside anymore so we retreated to tent to listen to it pour and thunder a bit.
<p>
<img src=https://q42.me/trips/crosscanada/day17-mebythefire-small.jpg>
<p>
<i>warm and happy!</i>
<p>
<img src=https://q42.me/trips/crosscanada/day17-campsite-small.jpg>
<p>
<i>not a bad view...</i>
<p>
I had intended a rest day here but there really isn't much here aside from the hot springs, so I had taken the extra day in Cranbrook instead and so today's ride was on very well rested legs and it went swimmingly despite being kinda a lot.  Ride after next will be REALLY A LOT with tons of climbing so hoping my well-restedness carries on through what should be a pretty quick and short ride tomorrow, then some hot spring soaking, and sleeping in a hostel are our plans.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
