
---
import Layout from '../components/Layout.astro';
---

<Layout title="I rode my bike to another timezone">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>I rode my bike to another timezone</h1>
        <h2>
           Arrived an hour later than expected...
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 41 miles / 66km
<br>
Climbing: 1401 feet / 427 meters
<br>
Descending: 1382 feet / 421 meters
<br>
Difficulty: moderate
<br>
<a href=https://www.strava.com/activities/11652791773>Link to workout in Strava</a>
<hr>
<p>
I wasn't sure when it was going to happen, but it turned out to be my last riding day (friday)!
<p>
<img src=https://q42.me/trips/crosscanada/day15-timezone-small.jpg>
<p>
I somehow get more satisfaction out of traveling into a new timezone than to any set distance or destination.  Perhaps I feel that on an absolute scale, I am aware of moving across the planet when I literally must adjust my timekeeping to a substantially different longitude, so I don't become desynchronized from the locals who have forever been living in this future?  Or maybe it's just that to me - living a few miles from a state border and not far from a national border - borders seem so arbitrary and political, I suppose because they are.  But distance seems real...
<p>
On friday, I got up early since I didn't want to hang out in my campground (aka mosquitoville), especially without a good hand wash (only water at the campground was drinking water, no soap/sinks) for longer than it took me to eat my oatmeal and pack up.  Was on the road by 8am even after second breakfast from the other store in town (chocolate milk, a couple bites of a bad apple, and a blueberry muffin), and found that the highway shoulders I had been worried about were not really very bad.  In fact I'd call them 99.9% good (steady, sufficient, mostly having well-placed rumblestrips to ensure that no motorist nudges in unawares)!  While I could see where they hadn't been repaved right in one small segment, which made them bumpy, since the shoulder pavement was a generation older than the roadway and not maintained/kinda degrqded, it still turned out not to be too bad and there was anyway plenty of <b>room</b> for me - which is what I really crave - and so I had 0 close calls with vehicles during the ride.  The worst part of the shoulders was that they went away on a handful of bridges, fortunately all bridges were short enough that I could wait for a break in traffic and take the lane and nobody came up behind me until I was finished.
<p>
Got a bit tired during the ride - which wasn't long nor especially steep - despite repeatedly snacking.  Tired legs?  Headwind?  The road went just a bit unnoticeably uphill?  Not sure, but I felt low energy for the last 10 miles into town. Was already planning a rest day tomorrow, but now am taking an additional day off here in Cranbrook, BC, since:
<p>
<ul>
<li>I arrived just in time for the town's annual festival, so I'll go check it out tomorrow.
<li>There is mountain biking right in town and I was referred to a shop to rent a mountain bike from.  
<li>My butt kinda hurts, so I'd like to give it a couple days off
</ul>
<p>
Also: I had a huge burger after I got here since Lori says it helps muscles recover.  It had plantains on it, which was weird but good, and I also was compelled to order the salad rather than fries?  I guess the body craves what it has been missing!
<p>
<img src=https://q42.me/trips/crosscanada/day15-vest-small.jpg>
<p>
I also intend to finally purchase a high-viz vest to wear over my clothes while I am here, after more than one comment about my less-than-attention-grabbing-clothing (mostly grey/black), from motorists I catch up to who stop to talk with me (e.g. at rest stops, and the camp hosts from a few nights ago had passed me on the road before I arrived).  The next week is the most remote (fewest towns), so I think it'll serve me particularly well for the coming days. Also serving me well: with a restock on freeze dried meals since that's about my level of camp cooking.  However, I would like to pat myself on the back for making regular mac and cheese on the camp stove the other night, and adding (shelf-stable packaged) chicken and dehydrated cherry tomatoes which made the otherwise lackluster (no dairy to mix in) satisfying and tasty.  Lori's dehydrated tomatoes were definitely the stars of this show!
<p>
I failed to post this entry on friday or saturday, so here it is sunday and I am finally posting this. Today's mission is to export more videos from my backlog; I'll probably make a separate page for those and mention it in my next post. However, in the past 2 days I:
<ul>
<li>took as many showers as I wanted!  (4 so far)
<li>ate a ton of good food including no less than 3 "pancake breakfasts" fundraising for several causes.  Then ate some state fair kinda food for lunch yesterday (mini-donuts seem to be this region's version of funnel cakes/elephant ears aka "freshly fried dough with some sugar sprinkled on")
<li>watched the small town parade (no high school marching bands...perhaps the schools in the region just aren't big enough for em?)
<li>visited the local museum and learned about the history of the township (seems like it was a bit underhanded and politically-motivated in being marked the local "seat" despite another neighboring town already being that, before the founder arrived?)  Intrigue on the railway, back in the late 1800's!
<li>made friends with some neighbors who I liked
<li>restocked on foods
<li>did some "underbiking" - mountain biking trails right up against town that I rode to this morning (see <a href=https://www.strava.com/activities/11667771787>My Strava tracks</a> for a bit more detail, but all of the trails looked like the below)
</ul>
<img src=https://q42.me/trips/crosscanada/day15-moose-small.jpg>
<p>
<i>first and only moose I've seen here.  spotted some (actual) deer and either a really big deer, or an elk, tho!</i>
<p>
<img src=https://q42.me/trips/crosscanada/day15-kids-small.jpg>
<p>
<i>the kids are gonna be all right</i>
<p>
<img src=https://q42.me/trips/crosscanada/day15-underbike-small.jpg>
<p>
<i>many of the mountain biking trails here were rideable on my bike, but it was a short trip since the rain kicked in pretty quick.</i>
<p>
Tonight, hopefully my friend Albert rolls into town and we can meet up to catch up and maybe roll out together?  TBD!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
