
---
import Layout from '../components/Layout.astro';
---

<Layout title="The Bomb before the Calm">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>The Bomb before the Calm</h1>
        <h2>
           Down so fast I timetraveled
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 30ish miles
<br>
Climbing: 2000ish feet
<br>
Descending: more!
<br>
Difficulty: medium-easy
<br>
<a href=>Link to workout in Strava will have to wait</a>
<hr>
<p>
Happy to report that this - my most bear-likely camping so far based on the campground's fanatacism about food storage safety - provided no visitors in the night.  This campground had just opened (the day I arrived) and was pretty sparsely populated, and some of the services weren't quite set up yet;  there was no dishwashing sink in our half of the campground yet, but the storage lockers worked and there was a decent cooking shelter which it was nice to be under when the rain was worst.  Lucky timing on when I chose to cook dinner too, since it only rained for a half hour or so.
<p>
<img src=https://q42.me/trips/crosscanada/day21-closed-small.jpg>
<p>
<i>It was not in fact closed, but the sign was still wrong this morning</i>
<p>
Aside from that bit o liquid sunshine, mostly before dark, the main weather event was <b>COLD</b>!  My sleeping bag was up to the task but I had to pretty much seal it except a small crack to breathe through, right as it was coldest before dawn.  It must have been near freezing but I guess not under freezing since I didn't have icy water bottles or see ice in the shade when I got up.  Once I read in the bag for awhile and let the sun start the warming, I still got packed up somewhat slowly, drying out the tent before I packed it. On the bike, launched directly into the climb that I had done 2/3 of gradually, yesterday.  Knowing there were only 6 miles or so of it, and being fresh, and there being no unrideably steep portions, I made pretty great time going up.  Then, I likely hit the fastest speed of the trip thus far coming down the backside of the pass!  My bike computer got confused and showed me some other screen, unbidden (we sometimes argue, Garmin and I!) and I couldn't dork with it at 40+mph so I will maybe not know how fast I went unless Strava will tell me later?
<p>
<img src=https://q42.me/trips/crosscanada/day21-glaciers-small.jpg>
<p>
<i>Gave some thought to, but didn't, do a 5k hike up to see more of these glaciers</i>
<p>
Leaving British Columbia felt like less of an event than crossing the timezone border, but I still snapped some pictures of the signs on my way through.
<p>
<img src=https://q42.me/trips/crosscanada/day21-goodbyebc-small.jpg>
<p>
<i>I must agree that it made a compelling case for its tagline - "The Best Place On Earth"</i>
<p>
<img src=https://q42.me/trips/crosscanada/day21-alberta-small.jpg>
<p>
<i>Alberta's sign was less compelling</i>
<p>
At nearly the highest point of the ride so far - almost 1 mile high - I stopped for the traditional watering of the continental divide to send some liquid to one ocean and some to the other.
<p>
<img src=https://q42.me/trips/crosscanada/day21-divide-small.jpg>
<p>
After the bomb into the valley I'll be riding in for the next week and a half, I ended up on a <b>very</b> cyclist-populated road.  I'm talking hundreds of cyclists!  Aside from a few support vehicles, not much other motor vehicle traffic (route is mostly closed to motor traffic for the rest of this week!). It was delightful and full of wildlife - narrowly missed seeing a bear, saw more bighorn sheep and an elk (all of the last 3 within a mile or so of the same spot!).  Then the road kinda turned into a trail into town.  As far as segments to repeat, it'll be pretty sweet to do 3x! (again tomorrow, and then at the end of my ride with Lori).
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
