
---
import Layout from '../components/Layout.astro';
---

<Layout title="Cognitive Dissonance">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Cognitive Dissonance</h1>
        <h2>
           AKA Shock and Awe
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 36 mi / 58 km
<br>
Climbing: 2054 feet / 626 m
<br>
Descending: similar
<br>
Difficulty: Moderate
<br>
<a href=https://www.strava.com/activities/11714991471>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day22-banff-small.jpg>
<p>
<i>there was a line to get "correct direction banff" pictures so I grabbed one from behind</i>
<p>
Overpriced hostel included free breakfast, so I had free first breakfast - couple hardboiled eggs, a bit of canned fruit, coffee, and juice.  I let the coffee work its way through my system before getting packed up, which process was a little funny...you see, my shoes smell so bad that I really don't like sleeping near them or leaving them indoors.  So I found a hiding place for them outside but then it started raining so I moved them to a hiding place in the parking garage but then I couldn't pack my tennis shoes until I visited the parking garage which I had no car in...anyway, I made it down the road, to Timmy's.
<p>
<img src=https://q42.me/trips/crosscanada/day22-deer-small.jpg>
<p>
<i>This deer was also eating at Tim Horton's; I'm taking the picture from where I parked my bike against the window of the shop</i>
<p>
This was the first day where I am riding the same route as I rode back in 2007 with the texas4000 (here's that section of the blog from that trip:  <a href=https://texas4000.netlify.app/text/week6>Today lines up with July 10th</a>) - in the same direction.  I've been bombarded with memories and humbled by how much more effort this ride is than it was 17 years ago for me.  I am carrying a 10 pound heavier bike and 80 pounds more stuff, and I am 30 pounds heavier myself, so "more work" is being done, but it is a lot more effort.  I usually just feel like "the work is the work" and worry about getting myself up the next hill, and that isn't a demotivating thought, just accepting.  But now I have echoes of "how it was" intruding on the zen of "how it is" and it's distracting at best.
<p>
<img src=https://q42.me/trips/crosscanada/day22-welcome-small.jpg>
<p>
<i>WELCOME writ large</i>
<p>
I was re-welcomed to the Banff National park (which I had entered and then left the day before, heading into much-more-urban-than-I-remembered-it town of Banff).  There were like yesterday LOTS of bikes on the road - I'd venture to say it might have been close to a thousand folks I passed or (much more likely) was passed by.  Folks on tandems, adaptive cycles, ebikes, ebikes, ebikes.  Pacelines and mountain bikes.  That closed-to-motor-vehicles section of the road really drew a crowd today, the last saturday it will be closed.  the TL;DR: <b>It was still continually stunning</b>, though rather less animal-tastic than the day before.  I saw a deer and a goat and some marmots.
<p>
My heart was really jangled by this one trailhead/lodge where I'd hung out for awhile with some texas 4000 teammates.  Very fond memories.  Looking forward to making some new memories with Lori when we head back past in a week!  But, I got my milkshake and carried on.
<p>
During the steepest climb today - there were a couple of 10%+ sections that I managed to ride instead of walking! - I was struggling uphill so slowly - thinking about walking - and suddenly a minivan drove past and yelled "you got this!!" and...I smiled...and I made it over the crest.  That was my only motorist interaction today, just when I needed it.
<p>
<img src=https://q42.me/trips/crosscanada/day22-lakelouise-small.jpg>
<p>
<i>Lake Louise, town of, is down there.  The whole thing!</i>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
