
---
import Layout from '../components/Layout.astro';
---

<Layout title="Remotely Interesting">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Remotely Interesting</h1>
        <h2>
           Me, the mountains, and the noise of passing motorists
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 59 mi 
<br>
Climbing: 3649 feet
<br>
Descending: similar amount
<br>
Difficulty: medium hard
<br>
<a href=>Link to workout in Strava</a>
<hr>
<p>
Today featured many people, none of whom I had meaningful conversations with.  So it was almost like being alone with the mountains!
<p>
<img src=https://q42.me/trips/crosscanada/day23-nocell-small.jpg>
<p>
Lake Louise hostel was probably the most hotel-like I've been in - family focused, lots of private rooms, no bar on site (but restaurant and tons of swingset and other kids toys indoors and out).  My bed was on the second floor of the room, at the top of a (really) 20 foot ladder along with another bed.  Other bed was occupied by 1 Stefan, who was kind and cheered my long bike trip and sheepishly admitted he was also exploring, but in a car.  Everytime someone expresses shame or guilt about not riding like me, I feel a shadow of my own tendency towards feeling guilty of not "trying hard enough" in my endeavors, and it makes me sad for both of us.  So I try to find something in common that we both like - easy around here, must be the mountains/view/nature/beauty! - to bring the conversation around to so we can enjoy a shared interest together instead of focusing on who's suffering more in their pursuit of joy.  Toxic ambition is what's on tap in today's world...
<p>
Floormate rose as quietly as anyone has ever left a shared accommodation, which is especially kind since he left at 5:30am!  1 of the downstairs people also left before I got out of bed, since it is easy to sit and goof off on one's phone when it is plugged in and one is warm and it is raining outside.  I was halfway packed at 7 when the restaurant opened and I was sitting down at 7:01 and had paid by 7:40.  I was ready to go around 8 when it started raining (again), which it was not forecast to do until this evening.  I waited out the worst of it, tried to convince someone that putting compostable trash into the recycling bin would not end well, and then set off into the sprinkle around 8:40 - I didn't want to be riding in the heat of the day, and that meant leaving at a reasonable hour.
<p>
I suppose I'd left the park since I had to re-enter it and show off my annual pass (it was going to be cheaper for just my visit to have the annual pass, plus there will be some other opportunities to use it closer to the east coast), and the lady saw my bear spray and said "you look prepared" and asked where I'd come from; I told her the plan and she said "Ah, you <b>must</b> be prepared.  Good luck with the weather!"  I joked that there was no more rain forecast which ensured that it rained on me a couple of brief times, and then sprinkled on me for a couple of hours and left the road and my pant cuffs wet.  I put on the rain jacket a couple times, after getting just wet enough to start to be worried about long-term comfort.  Putting on the rain jacket seemed to reliably cause it to stop raining, naturally.
<p>
<img src=https://q42.me/trips/crosscanada/day23-mosquito-small.jpg>
<p>
During Texas 4000, we camped at Mosquito Creek campground, and I dipped in quickly to use the bathroom since I had to go and there it was.  Though the active sprinkling discouraged mosquitoes at the moment I was there so I saw none, I am convinced that the services offered at this campground are "for mosquitoes" (and their victims).  Last time I was there I got into the tent immediately, and never got out until it was time to leave since they were SO VICIOUS.  Pretty sure I had mint schnapps and shot blocks for dinner that night since it was what I had in my bag that was in the tent.  Tonight I will eat rather better and have less mosquito-suffering, I presume!
<p>
Lots of gorgeous vistas today, on and off the road, but just near-constant traffic.  Tis what I get, I suppose, for doing this part of the ride on a weekend day.  My butt radar was really busy and it is the first thing getting charged in the single outlet that appears to be available at the wilderness hostel I'm staying at.  No animals except squirrels/marmots seen today, though lots of bear and canine (wolf?  coyote?)  poop on the road shoulder.
<p>
<img src=https://q42.me/trips/crosscanada/day23-pano1-small.jpg>
<p>
I knew there was a climb in the first half of my nearly 60-mi day, and I nibbled or chomped at it for the first couple hours of riding over the course of the first 25 miles.  I am always glad to "front-load" the work so the end of the day is easier, and I get to do the work while I am fresher, so that was all a success.  There were 2 commercial stops today:
<ol>
<li>Hanging Glacier Cafe just shy of the peak
<li>Saskatchewan River Crossing complex (gas station/cafeteria/pub/lodge/restaurant/gift shop/viewpoint/very large parking lot)
</ol>
...and naturally I had lunch at both places.  I'd been a touch early for lunch at the hanging glacier cafe (7 minutes, timed well!) but it took more like 20 minutes for the food to finish being prepared, which led to me buying over $50 in stickers.  But they were cool local stickers, so I guess that's ok!  Lunch at that cafe was sausage roll, bison chili, or vegan chili.  I had the first two, and some raspberry iced tea, and a hot chocolate.  
<p>
<img src=https://q42.me/trips/crosscanada/day23-pass-small.jpg>
<p>
Just after the cafe was the summit, which unlike the last 2 passes, did not rob me of the numbered accomplishment of a sign at the top.  Then, Peyto lake, so blue!  
<p>
<img src=https://q42.me/trips/crosscanada/day23-peytopano-small.jpg>
<p>
On the hike to and from the overlook, there were very steep parts on the (paved, but not ADA compliant based on some of the steeps) trail.  Coming up from behind to one of the steepest downhills, I offered my arm to an old lady who was standing nearby with an older guy. Seems she did not speak English, but did need help - for her partner to get down this steep embankment.  She gestured this to me and so I offered him my arm.  He looked a little bit like the Dalai Lama, though I barely remember his face, his smile sticks with me.  A beatific smile, sunny though it was raining, thankful and joyous.  I wish more of my smiles were BEAMING like his was when I walked up to him and offered my arm - and he really leaned into it all the way down, at which point both of them were very thankful and I just smiled and said you're welcome and walked on to my (wet) bike.
<p>
I zipped up my jacket for the downhill, and it was a great downhill!  Zoomed for the better part of 20 miles before it flattened out thoroughly, though a bit of a headwind made some of the downhills pedal-necessary and some of the climbs a bit tougher than they should have been.  Shortly into the windy flats was the second stop, where I had second lunch.  Soda, pretzel, chips (I could brook no proteins, apparently?) and a couple snack bars for later ran me $30, since this place marks everything up about 100%, being in the middle of nowhere and having to generate their own power, purify their own water, deal with their own trash, etc.  We'll see how it is as a hotel in a few days when I pass back that way with Lori!  I saw plenty of other cyclists pulling up there, some just to resupply, but some clearly to stay the night;  it is a convenient spot to stop at while credit card touring!
<p>
Was still feeling slow after lunch and the new headwind didn't help but it was only about 7 miles until I pulled up to the "wilderness hostel" (more like bunkhouses in the forest?  But, a roof and a guaranteed bed and some pit toilets are all I really need.  Bear-safe food storage, shared kitchen, a couch to type this on?  All quite nice but extras compared to the campgrounds...).  I was a bit early but the common room was open so I put my food inside (per the copious signage that there are bears near and they will find anything you leave outside down to your shoes?) and sat on the couch to write this up.
<p>
<img src=https://q42.me/trips/crosscanada/day23-poem-small.jpg>
<p>
Lukas checked me in and I got cleaned up and polished this up;  not much else to do for the night but cook dinner and go to sleep.  I may try a very early departure to potentially enable a super long day tomorrow (to skip a stop).  But, 90 miles and 5k feet of climbing is more than I've done in either category yet and I'm not sure I'm up to it.  We'll see how things develop whilst I ride, and either I get to the campground fairly early (and then leave early, to get to Jasper to meet Lori!) or I have most of the afternoon for the less-strenuous half of the ride that will remain.  WE SHALL SEE.
<p>
Oh, neat, there's solar powered starlink here!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
