
---
import Layout from '../components/Layout.astro';
---

<Layout title="A Host with the Most">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A Host with the Most</h1>
        <h2>
           A good ride with a great ending
        </h2>
      </div>
<p>
A day off in Victoria was fun, and incorporated 20 miles of riding, about half in the blustery rain, and 6 miles of walking.  Not sure I can call it a rest day, but it was satisfying;  I got my bike checked out and solved one problem (of the bolt that was trying to shred the bag that hooks next to it - bike shop's elegant solution was putting a valve stem cover on it and voila, no more pokey end!), but failure to remediate the creaky cranks had me worried as I tried to fall asleep.  A few cute / pretty pictures from Victoria can be seen <a href=https://photos.google.com/share/AF1QipMoCECIfLTGMewUkOndC9udorgDOlC9GqskFVfcpHJ6UAKh1j1fDcEkqrjcSs1r0A?key=LUFnbDg4YTBEVncyc21mUGEtWmRPeENRbXBjZzhn>in this album</a> since I still don't have the easily-embeddable pics set up...
<p>
However, there wasn't a ton of crank-creaking today as my ride was mostly flat and even at a push on the flats, things stay quiet, and so I got to really enjoy the ride up southern Vancouver Island, which was almost 100% on a bike route which was almost all paths.  This whole province just BELIEVES in paths, at least around Victoria and Vancouver.  Rain changed quickly to sun and I have a timelapse video that I need to figure out how to upload right to show you, but that is still a work in progress.
<p>
On the ferry I cranked out another week's routing getting me most of the way to the end of the month (once you add in rest days) with only a couple of days with "way too much climbing" (which at my load - nearly 90 pounds now - is anything too steep (7+% grade) or anything bigger than 2000 feet).  But, there's some of that between here and where I'm going so I'll do what I gotta!
<p>
Was running too early for my <a href=https://warmshowers.org>volunteer host</a> so I grabbed a late lunch and then sat in a park for awhile.  In the park was a woman with a bunny, who talked my ear off about bunny- and pet-related things.  She said the funniest thing I heard today, which was that she attends a "hoppy hour", which is a meetup/playdate for bunnies.  She is very committed to her bunny!
<p>
Then I headed down the street to my host's house, but he wasn't back from work yet.  His daughter let me in (after calling dad to make sure he was expecting me), made me chai and cookies, and I got cleaned up and read for a bit before my host Amarjit got home.  He arrived, hugged me, and we sat and talked for about 5 minutes before he realized that I rode the <a href=https://texas4000.org>Texas 4000</a> 17 years ago, and told me he hosts the Sierra team as they come through town.  He hosts a ton of people, it turns out!  Opens his home to so many people (much of his family lives here, but also friends and community members...and that's in addition to the folks like me whom he puts up as they pass through town!).
<p>
We chatted for a couple hours, first on the couch about charity rides and volunteering and love triumphing over hate, and the in the hot tub over beers, about so many things...finally we were cooked and got out and I was served a traditional Punjabi dinner which was amazing, fairly spicy and delightfully savory, and then we chatted until after it got dark and now it is bedtime.  Amarjit inspired me to volunteer and connect more since while he is certainly more extroverted than me, he does so many good things for so many communities and lives such a full life in addition to being a family man and running several businesses (just one small example is that one of his groups does 2 rest stops for the annual RSVP ride - Seattle to Vancouver - so he has a water station setup in his backyard just waiting to come out and fill a few thousand bottles during the ~200mi ride.)
<p>
One of his daughters broke out a cot for me and so I'll get to sleep off the ground without even unpacking my sleeping bag.  Tomorrow is his birthday and so I'll wake up early to say goodbye and wish him a happy birthday before I head to my next warmshowers host in Chilliwack, about 50 miles ENE of here with a fair amount more climbing than today, but, I'm excited to start getting out of town and into the scenery anyway.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
