
---
import Layout from '../components/Layout.astro';
---

<Layout title="Working a Double">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Working a Double</h1>
        <h2>
           Got paid in the legs
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 88 miles / 142 km
<br>
Climbing: 4144 feet / 1263 meters
<br>
Descending: more!
<br>
Difficulty: Hard (lots of climbing + long ride)
<br>
<a href=https://www.strava.com/activities/11731865556>Link to workout in Strava</a>
<hr>
<p>
<i><b>(Written on 24/25 Jun)</b></i>
<p>
I learned a lot by doing two rides worth of distance and climbing in one day today.  Fortunately no bad lessons like "you're not strong enough to do that!" but still.  I think that while my body is up to the task, my enjoyment is lessened - it turned into more work, less joyful exploration and play.  I stopped enjoying the miles as much as counting them down, I skipped things I might have stopped to check out on a shorter day.  Much of my body started to hurt by the end of the ride, but some preemptive advil midafternoon along with some bonus electrolytes seemed to help me make it all the way to the intended destionation without running out of energy.  I could train with this in mind if I want to do it again the future but it was about double my usual and longer than any ride I've done in years, and of course I'm still carrying too much weight.  So all of that wasn't ideal, but I am anyway glad I could rise to the occasion!
<p>
Another beautiful day among the mountains!  Left as early as I could convince myself to in the cold, 7:45.  Ate an especially hearty breakfast, oatmeal + fruits + pb&j tortilla + the remains of some jerky I'd bought.  3 hours later, after the biggest climb of the day, had an all I could eat buffet with an incredible glacier view out the window, before getting back on the bike to keep snacking across Canada.
<p>
<img src=https://q42.me/trips/crosscanada/day24-falls-small.jpg>
<p>
<i>This (seasonal) waterfall is many times taller than Multnomah falls</i>
<p>
The big climb was big but it was nice to get it done nearly first thing.  That seems to be my preference - get the hard thing out of the way and then enjoy the rest of the day.  They've given the glacier a frankly amazing visitor center and some tours and movies and a starbucks and 2 restaurants; let's say it didn't look like that in my memories from 17 years ago.  Not sure we'll even be able to "stand on" the glacier these days, maybe walk up to it?  We'll find out more when I get back there with Lori and we think about some of the tours/etc.  During the climb and the downhill after, I passed a solid dozen cyclists, more than one touring, all coming the other way - but just waved.  It was too cold and trafficky to cross the road to chat at that point.  Or I / they were too tired?  Something!
<p>
Despite preparing for the long day, I still hadn't finally decided until arriving at the campground where I was originally planning to stay the nightm assuming I didn't "do the double".  I sat there at a picnic table, had a snack and reapplied sunscreen, and finally decided to just go - it was 1pm and I had at least 8 hours of light to make 50 miles, mostly downhill.  Thank goodness it was mostly downhill; I was certainly not full of energy although I also was never really out of stamina - perhaps because I started setting a timer to remind myself to eat more, drink more, and reapply sunscreen every hour for that long second half of the day?  Not sure, but glad I had the foresight to focus on nutrition so I didn't bonk (or roast - sunscreen works)!
<p>
<img src=https://q42.me/trips/crosscanada/day24-what-small.jpg>
<p>
The weather was generally nice, but a bit blustery; sometimes it came as a headwind.  The headwind rarely lasted for many miles, but long enough to make me actually hunker down in the drops of my handlebars for a bit which I otherwise basically never do.  I also never really warmed up until well after I got off the summit where all the glacier stuff was, so I wore pants and long sleeved shirt all day, and mostly that was fine.  At one point I saw cloudy darkness ahead in a valley I had to ride through, and it started to sprinkle, so I did something I rarely do: put on my rain gear before it started raining!  Usually I'm more of a "wait until I'm already soaked to think to try to keep dry" kinda guy, but today I decided it was a pretty sure thing - I'M A WEATHERMAN I KNOW CLOUDS NOW OK? Most of all, I <b>wasn't</b> already hot and sweaty, so unlike in many situations where I choose to get rained on instead of putting on the doesn't-breathe-at-all rain gear and getting super sweaty; it wasn't a recipe for instant misery - yay!   About 3 miles later it had sprinkled slightly, and a tremendous headwind had slowed me down while pushing the clouds overhead quickly and I was thankful for a head wind for maybe the first time ever. Since I found no place to lean my bike (highways in canada in general lack as much "stuff" next to the shoulder as we have in the US - signs, bollards, railings, even fences), but was starting to sweat inside the rain gear, so had to do something: laid my bike on the ground and peeled off the layer.  Passing cars sure thought I was just stripping down but I had clothes under my rain gear - so, no free show for passing motorists!
<p>
Shortly after this, I spy an oncoming touring cyclist and he wants to stop and chat so he crosses the road and we chat for a few minutes.  I immediately notice his homemade <b>ear fairings</b> - covers for his ears, attached to his helmet straps, to block out the wind and traffic noise.  After complimenting him on them and introductions (he's Roy, from Edmonton, done a lot of touring and loves it) he commented that I was the only "properly loaded" person he had seen lately - he's not into the minimal bikepacking setups nor credit card touring, he likes his touring kit and being prepared and camping!  He was a nice/fun guy and appreciated that I loved touring in the same way he does: it's comfortable and feels productive but also is fun and fills the heart.  Funny story: he also admitted to preemptively putting his rain gear on around when I did (recall he was approaching me so we were looking ahead to the rain - which did pass through before us based on the wet ground).  He joked - same joke I always make - that putting it on early preempts the rain.  He was also camping at the campground I had decided not to, would have made a friend there had I stayed!  (We would have had the campground to ourselves, it looked like; no running water at that one).  We went our ways and I was glad to have met him.  He went on to camp at the campground where I'd decided not to camp, so I would have had a campmate had I stayed...
<p>
<img src=https://q42.me/trips/crosscanada/day24-point-small.jpg>
<p>
<i>Love that style of mountain identifier (and yes I framed the picture so the mountain in the corner is the one on the sign!)</i>
<p>
Second lunch at Sunwapta lodge was unremarkable but it was nice not to have to make yet another pb&j tortilla.  Started setting timers to remind myself to eat - so did pretty good at nutrition for maybe the second time in my life (the first time, someone else who was good at it made me a regiment that wokred well during my one and only half ironman triathlon)?  Usually I eat and drink a lot in the morning and skate through most of the day on that like a camel (and then am ravenous/hangry by the end), but that only stretches so far even on a good day.  During this ride, even with my buffet lunch, I was not going to be able to make it all the way in good spirits.  Today's snacks were:
<p>
<ul>
<li> mocha from starbucks
<li> cookie, soda, yogurt at lodge
<li> sesame bars
<li> kind bar
<li> more sesame bars (these have good calories, some salt, and some protein and are at many quickie marts)
</ul>
<p>
I noticed that as I went towards Jasper, the mountains crept away, slightly more towards the horizon and less right up next to you.  It'll be interesting to go from this "mountains dominating the horizon" back into the mountain snuggle that the rest of the ride on the icefields parkway south, was: these towering giant peaks going straight up from where you are into the clouds and then you can see them above the clouds, too, somehow and wow...well, not really capturing in word or image but maybe I can google up something tomorrow during my day off;  here you go (not my footage!)
<p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/L6e5mzi3TxE?si=lEwUR8xV73JKlGrq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<p>
Rolled into the town of Jasper about 10 hours after I set out. Figuring >2 hours of not-moving downtime (between lunch and other breaks), this was a good ride, for me (especially, loaded with more than 4,000 feet of climbing!).  I did opt out of the singletrack trail into town, though - was too tired to handle a punchy climb at that point and singletrack in the hills is never without those!  Rolled up to wrong hostel, then routed to the fortunately nearby right hostel, then clean and dinner and chat with Lori and now for sleep.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
