
---
import Layout from '../components/Layout.astro';
---

<Layout title="Standing on the shoulders of giants">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Standing on the shoulders of giants</h1>
        <h2>
           Purple mountain majesty
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 55 mi 
<br>
Climbing: 3862 feet
<br>
Descending: 1929 feet
<br>
Difficulty: hard, tiring
<br>
<a href=>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day20-majestic-small.jpg>
<p>
I drank glacier water all day.  I rode into and onto the Rocky mountains and they cuddled me as I traced their valleys and passes.  Glaciers loomed from the peaks and cried us a river which ran turqouise.  Lots and lots of miles just smiling at all the mountains.  They surround me like teeth of a planet-sized face and I can see how different they all are in shape - even if they are all equally incomprehensible in size.  I get to do one of my favorite things:  stand on a viewpoint and spin around and see mountains, mountains in every direction.  It's intoxicating and sometimes spiritual.  I nuzzle into the campsite for the night, snug amongst the peaks.  Goodnight, Stanley.  Goodnight, Vermillion!  Goodnight, Whymper? GOODNIGHT STORM MOUNTAIN.
<p>
Though the weather apps reported a likely very chilly (40F/5C) early morning, I didn't set out super early - ended up rolling just before 9am, and experienced only delightful temperatures (wore pants for the morning, changed to shorts for the sunny afternoon), and good to non-objectionable wind all day.  Good thing, because the alternate routes were none!
<p>
Lori gifted me a titanium (natch) water bottle that is also a water filter, and I finally had cause to use it.  Super easy to use and so I drank several bottles of water filtered from <a href=https://en.wikipedia.org/wiki/Simpson_River_(British_Columbia)>the Simpson River</a> that highway 93, the only road I've been on today, runs next to for quite a long way.
<p>
<img src=https://q42.me/trips/crosscanada/day20-river-small.jpg>
<p>
After seeing bighorn sheep at the springs on the rest day, I saw them again in nearly the same spot in the morning.  Then, after I'd gone up and down Sinclair pass, saw some folks gawking at something next to the road and hey, it was time for mountain goats (unlike the bighorn sheep I'd misidentified as goats yesterday).  These characters were furrier and in a smaller group (2) when we saw them.
<p>
<img src=https://q42.me/trips/crosscanada/day20-pano-small.jpg>
<p>
The big climb of the day was somehow manageable.  Being fresh helps!  I definitely walked 2 sections with 11% grade, but had planned and expected to walk more so I'm calling it a big win that I was at the top before 10:30am with a pretty (slow but) steady pace.  Then I zooooooomed down for awhile before a lot of miles that felt kinda like montana - big skies with big mountains at the edges.
<p>
I am thriled to report that this highway had extremely generous shoulders for more than 99.9% of the time!
<p>
Ran into another couple touring cyclists Amanda and K..something?  I mentioned Albert & his e-bike and generated much interest with one of them - many people seem e-bike-touring curious, but my assertion is that around here is not really good (too far between power), though in many other places or with a support vehicle it could easily work!
<p>
Stopped at the "paint pots" which was mostly orange mud but also some cool shimmery bits.
<p>
<img src=https://q42.me/trips/crosscanada/day20-paintpots-small.jpg>
<p>
After extensive comparison testing, "Mountain Home" brand really is the worst out of all of the "just add hot water" type foods.
<p>
<img src=https://q42.me/trips/crosscanada/day20-food-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
