
---
import Layout from '../components/Layout.astro';
---
<Layout title="Retracing my steps with Lori">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Retracing my steps with Lori</h1>
        <h2>
           180 degree turn in Jasper (as planned)
        </h2>
      </div>
<h3>Day 25 Ride Summary</h3>
Distance: 56 mi
<br>
Climbing: 3366 feet
<br>
Descending: less
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/11763778579>Link to workout in Strava</a>
<hr>
<p>
<i><b>This was partially written back when I did the rides; posting belatedly and without pictures - sorry!</b></i>
<p>
Feeling pretty relaxed after a couple days off from riding in Jasper.  Well, Lori and I took a ~8mi "mountain bike ride" on our touring bikes but my legs and butt got some "substantial" days off.
<p>
We left town on singletrack and since a friend (Lori!) was long, it felt a bit reminiscent of Creston with Albert.  Lori found an alternate route that had much less traffic than the highway for first 20 mi or so;  glad to have her on team planning!  It was the "old" road from Jasper south but it was well maintained and quite a pleasant ride.
<p>
At the junction of the alternate route and the main route, we visited the heavily-trafficked athabasca falls.  Check out some pictures!
<p>
During our lunch stop at a place called Sunwapta lodge, a (well-known to the staff) raven robbed Lori of her many snacks!  It cleverly opened her bag and took off with her energy chews, and then came back to gloat about it.  Also had a chance to chat briefly with a tourer going the other way from Germany who was outside when I went to batten down the hatches against further raven exploits. She had some Ortlieb gear I'd never seen (next generation panniers); she pointed out that it was after all a German company and she had to represent a bit...
<p>
While the day was pretty decent, it did rain pretty hard for all of the last 5 miles, so we arrived soaking wet to the hostel with minimal facilities (pretty much:  an outhouse, no running water), but managed to create a reasonable system of hanging stuff near the heater, to hopefully dry our stuff before we have to set out tomorrow!  (spoiler:  it worked!)
<hr>
        <h2>
           Day 26: Glaciers, Starbucks, and Skywalks - Oh my!
        </h2>
<h3>Day 26 Ride Summary</h3>
Distance: 42 mi
<br>
Climbing: 2612 feet
<br>
Descending: more!
<br>
Difficulty: hard
<br>
<a href=https://www.strava.com/activities/11763778841>Link to workout in Strava</a>
<hr>
<img src=day26-hostel-small.jpg>
<p>
<i>view from the hostel</i>
<p>
We were slow to get out of the hostel - challenges with no running water and 15 people all trying to use a kitchen simultaneously - but fortunately the weather  was dry (as was our stuff after an overnight near the heater!).  Only my shirt was still a little damp (but, thanks to the rain, smelled better than it ought to have when I had to reuse it regardless) but that just made for an invigorating morning.
<p>
We had only 5 miles til the big climb up to the glaciers; turns out that a big climb is more fun with a partner!  Shoulder was not the best - occasionally shrinking and very exposed - but we had no real close calls to speak of, whew!
<p>
Made it to the glaciers, had lunch, had starbucks, and did the skywalk, but did not take a chance to touch these glaciers since the trailheads were all far off the route.  We knew we'd get a chance in Alaska ;)
<p>
After that, still had a lot more climbing throughout the day (1000 feet+), but it was all in smaller chunks which were more manageable.  Then, a big bomb downhill (at responsible-ish pace since shoulder was small.)
<p>
Shoulder paint line disappeared or was very fainy between the bottom of the hill and Rampart Creek...I should report to banff NP crew to see if they'll repaint for us.
<p>
We checked out a viewpoint of the "weeping wall", pretty like many things... in fact, I was led to make the statement that every picnic table within 100 miles of where we're staying has an epic view, since...well, they all do.
<p>
Finally: cleanup, dinner, sauna (since it was easy...), charging, sleep.
<p>
<hr>
        <h2>
        Day 27: Behind the Scenery...there's just more of the same.
        </h2>
      </div>
<h3>Day 27 Ride Summary</h3>
Distance: 51 mi / 82 km
<br>
Climbing: 3212 feet / 979 meters
<br>
Descending: similar
<br>
Difficulty: climbs were strenuous but otherwise medium
<br>
<a href=https://www.strava.com/activities/11771018258>Link to workout in Strava</a>
<hr>
<p>
Started with meh breakfast at the only restaurant within 20 miles, followed with a distasteful dessert of a Garmin kerfuffle - not having the route I had planned weeks before available to my bike computer, and had to go back near the room for wifi (real root cause: me not being prepared and having everything synced in advance).  Once resolved, we rolled!
<p>
There was a "mountain identifier" near the highway which was neat, so we could learn but immediately forget the names of all the surrounding peaks!
<p>
Quick downhill into the <a href=https://ridewithgps.com/routes/47071186?highlight=43-117>first big climb</a>, which was the most strenuous of this segment - going up to 10% grade at times.  But, we rode the whole thing - almost 4mi - and in decent spirits for the level of strenuosity!  Early-in-the-day climbs remain better than later in the day ones for us!
<p>then ground and churned up and down (rollers!) a somewhat-uphill slope to the <a hred=https://ridewithgps.com/routes/47071186?highlight=373-453>second big climb</a> which was the same length as the first one but almost 300' more climbing.  Still, it didn't go above 6% usually so wasn't too bad, even though this one was late in the day...
<p>
We ended up kinda "stuck" on this ridge - just around 6000' - for at least 8 miles.  It was hilarious to go under 6k feet, and then climb back over and to just drift along right at 6k or within 15' of it for a couple more miles.  Would I have to climb back to it after a (finally!) substantial descent of 80' to say goodbye to 6000?  Yes, but finally got to bomb into town.
<p>
In Lake Louise the hotel might have been a little nicer than we felt, but we had incredible dessert luck - gluten free chocolate lava cake, which is Lori's favorite but which we had just joked was never a likely menu item, but since it was at the restaurant in our hotel, we had to go try it - even after good pizza, while it wasn't the best, well, it was what we had wished for :D
<p>
Had a quick walk around town before returning towards slumber...
<p>
    </div>
        <h2>
           Day 28: Goodbye to western canadian riding
        </h2>
      </div>
<h3>Day 28 Ride Summary</h3>
Distance: 38mi
<br>
Climbing: 1949 feet
<br>
Descending: more!
<br>
Difficulty: easy-ish
<br>
<a href=https://www.strava.com/activities/11778802890>Link to workout in Strava</a>
<hr>
<p>
<img src=day28-pano-small.jpg>
<p>
Last day riding loaded; last day deep in the mountains.  They started to retreat a little during the day, as they had hugged us increasingly south of Jasper.
<p>
Stopped for lunch, and tried for a milkshake...which was sold out.  The associated hike was disappointingly crowded, to the extent that we just bailed instead of going to see the falls even after walking in the crush for a mile or so.  Oh well.
<p>
Mostly downhill ride into banff - except last uphill bit! Strangely, no wildlife spotted though this was the segment where I saw the most during my first ride of it!
<p>
Many fewer riders on the route now that it's open to cars - and had to factor in the forecast:  it was supposed to be a rainy day.  In practice the rain didn't come, however, the mountains were shrouded but still majestic! 
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
