---
import Layout from '../components/Layout.astro';
---

<Layout title="Middle of Somewhere">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Middle of Somewhere</h1>
        <h2>
           A hard ending to a hot day
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 45mi
<br>
Climbing: minimal
<br>
Descending: minimal
<br>
Difficulty: somewhere between easy and deadly
<br>
<a href=https://www.strava.com/activities/11939765128>Link to workout in Strava</a>
<hr>
<p>
Woke up feeling ready to roll after 2.5 weeks off!  I did short (25 and 17mi) rides around Winnpeg over the past couple of days, and they felt reasonably good;  my legs worked and I had not forgotten how to plan routes and ride them!  The campground I had booked was about 50 miles away and were very clear that there would be no check in before 3pm, and since it is near...nothing else...I didn't want to be early and be sitting on the side of the trans canada highway for any amount of time waiting for them to be ready to accept me, so I made plans to leave at 10 since I could not imagine riding 50 miles in less than 5 hours, since I would certainly have to stop to eat, drink, and possibly be merry.
<p>
Set off at the stroke of 10 and made great time for the first 12 miles - mostly MUP's and other off-road paths.  Winnipeg is crawling with these; really all Canadian cities of more than 10,000 or so seem to invest in a well connected network of bike routes, and while I don't get the impression that Manitoba in general nor Winnipeg in particular is super bike-forward, the network there is still impressive and I enjoyed at least 40 miles worth of it over the 3 days I was there!
<p>
With some intention, I'd routed myself (once I fell off the path network to the southeast of town) onto some gravel farm roads that went the same way as the highway, to cut down on the amount of my first day back that would be just riding on the same shoulder I'll be on for most of the next 2 weeks. (Last night, I planned out the rides until I get to Toronto, which is 2 weeks of steady riding or in my take-a-day-off-sometimes style maybe 2.5 weeks?  Something like that, but it is essentially all the same highway for 95+% of that riding, so I thought I'd route around the highway while it was easy/possible).
<p>
The routing was indeed easy - think American countryside with a country road grid that is perfectly straight for 6.5 miles! - but the gravel slowed me down a bit (road conditions were surprisingly good; gravel just isn't as efficient as pavement and I was on gravel/dirt roads for about 18 miles today).  Add to that the heat, and the fact that the haze is out and the sun is orange - wildfires not super nearby but near enough to start impacting air quality. Even after the big storm rolled through this sun is still orange like a movie of some other planet.
<p>
<img src=https://q42.me/trips/crosscanada/day29-center-small.jpg>
<p>
Made it to the (longitudinal) Center of Canada, although I did feel a bit like a cheat since I basically took the train to the middle of Canada and then got on my bike.  But a nice fellow at the "point of interest" took my picture and gave me a couple bottles of water, which was a lifesaver since I was just sweating nonstop and couldn't even cool down in the shade when I stopped for a 30 minute lunch - was still just wet and that made reapplying sunscreen perhaps not as effective as it might have been.  Lunch was also odd - I couldn't really stomach much so I had a single "sandwich" (pb & honey on a tortilla) that took me at least 10 minutes to swallow, a bit of trail mix, and a lot of gatorade, but then rolled on towards a slightly off-route town to stop into their gas station for a snack and some cool air!  Surprise, 5 more miles of gravel road to get there.  The clerk asked how...I was even biking?  since it was so hot. I kinda shrugged it off, but then I got cold almost immediately in the store (since I was after all soaking wet) so I spent awhile choking down my gatorade outside before immediately setting off a mile down the wrong dirt road and having to turn around and come slowly back past the same quickie mart in the same town...
<p>
By this point, the thermostat on my bike computer was hovering near 100 degrees F, and I was moving pretty slowly, but still hadn't realized I was in trouble.  Just figured, well, 15 miles to go and I can stop anytime I want...on the side of the highway since we were in pretty remote lands by this point and there weren't even many gas stations or towns - just one between me and my destination.  I started feeling a little nauseated, and then I REALLY had to poop, and started contemplating where on the side of the highway I could get away with digging a hole.  Pulled off at a side road but there wasn't really anywhere to go and I got a leg cramp coming off the bike (which boded ill for actually squatting to dig a hole and do the deed - can't imagine that I could have pulled that off without falling into my own cathole, to be honest), so I ended up just sittin on the side of that dirt road for a minute until the urge to go passed, and started riding again just to keep making progress since I was ready to be done!
<p>
While I'd paid for the campground in advance, I was starting to realize that I might not make it all the way there, and even if I did, it was going to be an uncomfortably crampy and maybe sick night in a tent, and then my phone told me about the thunderstorm that I was about to ride into. At that moment I rode up to the hamlet that was to be the last civilization I was going to see tonight, and I pulled into the first building with a realization that I needed to cool down immediately, so just rented a room on the spot, and just made it into the bathroom in my room before I ejected lunch (mostly gatorade and electrolyte pills) while my legs spasmed.  I absolutely was crying from the pain while I emptied my stomach :/
<p>
Somehow, I managed to take a shower without too many more cramps so I could lay down in the bed without making it filthy (I was after call covered in sweat, sunscreen, and dirt-road-dust).  Then I took a lot more electrolytes and water over the course of the next 2 hours trying to get my legs to work enough to walk 50 feet to the restaurant without having to stop and deal with cramps (or fall over if I couldn't).  Ended up throwing that (very salty!) stomach up too, but felt like I'd turned a corner finally so did finally get dinner (lunch replacement?) in around 7:30pm, and it seems to be staying down and (knocks on wood) I haven't had another leg cramp since about 6:30.  As Lori told me, heat exhaustion is no joke.  Should have been smarter, but at least I managed to call it before disaster struck and I think I'll even be able to ride again tomorrow.  Definitely gonna be leaving a lot earlier for any more rides in this kind of heat, though by preference, it wouldn't be quite this warm again.  Can't make the weather do what I want though...
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
