
---
import Layout from '../components/Layout.astro';
---

<Layout title="A Host with the Most">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A Host with the Most</h1>
        <h2>
           A good ride with a great ending
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 38 mi / 61 km
<br>
Climbing: 768 feet / 234 meters
<br>
Descending: similar
<br>
Difficulty: medium-low
<br>
<a href=https://www.strava.com/activities/11526811165>First ride of the day in Strava</a>
<br>
<a href=https://www.strava.com/activities/11529692132>Second ride of the day in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day2-mile0-small.jpg>
<p>
A day off in Victoria was fun, and in some foreshadowing, even my day off incorporated some good 20 miles of riding.  This ended up being about half in the blustery rain, and also 6 miles of walking!  Not sure it makes sense to call it a rest day, but it was satisfying;  I got my bike checked out and solved one problem (of the bolt that was trying to shred the bag that hooks next to it - bike shop's elegant solution was putting a valve stem cap on it and voila, no more pokey end!). However, failure to remediate the creaky cranks had me worried as I tried to fall asleep.
<p>
<img src=https://q42.me/trips/crosscanada/day2-flyingnun-small.jpg>
<p>
However, there wasn't a ton of crank-creaking today as my ride was mostly flat and even at a push on the flats, things stay quiet, and so I got to really enjoy the ride up southern Vancouver Island, which was almost 100% on a bike route which was almost all paths.  This whole province just BELIEVES in paths, at least around Victoria and Vancouver.  Rain changed quickly to sun and I made a timelapse video of the ride all the way to the ferry.  It's not amazing quality and I didn't do a great job of orienting the viewpoint towards the front, but if you want to spend a few minutes looking up my nose and also seeing the scenery along the wonderful bike route that I took most of the way, you can <a href=https://photos.app.goo.gl/twdc3MVjjjTfzLkM9>check it out by clicking here</a>.  The pauses in the middle were a snack stops!
<p>
On the ferry I cranked out another week's routing - which should get me most of the way to the end of the month (once you add in rest days).  As far as I can tell at this point, there are only a couple of days with "way too much climbing" (which at my load - nearly 90 pounds now - is anything too steep (7+% grade) or anything bigger than 2000 feet).  But, no avoiding some of that between here and where I'm going so I'll do what I gotta!
<p>
After the ferry I didn't end up heading back into Vancouver (the main part of the city is 30ish miles north of the ferry), but instead took a nice gravel rail trail along a levee and then some pretty unpopulated roads before heading into the suburban sprawl in Surrey towards my destination
<p>
I was running too early for my <a href=https://warmshowers.org>volunteer WarmShowers host</a> so I grabbed a late lunch and then sat in a park for awhile.  In the park was a woman with a bunny, who talked my ear off about bunny- and pet-related things.  She said the funniest thing I heard today, which was that she attends a "hoppy hour", which is a meetup/playdate for bunnies.  She is very committed to her bunny!
<p>
Finally I headed down the street to my host's house, but he wasn't back from work yet.  His daughter let me in (after calling dad to make sure he was expecting me), made me chai and cookies, and I got cleaned up and read for a bit before my host Amarjit got home.  He arrived, hugged me, and we sat and talked for about 5 minutes before he realized that I rode the <a href=https://texas4000.org>Texas 4000</a> 17 years ago, and told me he hosts the Sierra team as they come through town.  He hosts a ton of people, it turns out!  Opens his home to so many people (much of his family lives here, but also friends and community members...and that's in addition to the folks like me whom he puts up as they pass through town!).
<p>
We chatted for a couple hours, first on the couch about charity rides and volunteering and love triumphing over hate, and the in the hot tub over beers, about so many things...finally we were cooked and got out and I was served a traditional Punjabi dinner which was amazing, fairly spicy and delightfully savory, and then we chatted until after it got dark and now it is bedtime.  Amarjit inspired me to volunteer and connect more since while he is certainly more extroverted than me, he does so many good things for so many communities and lives such a full life in addition to being a family man and running several businesses (just one small example is that one of his groups does 2 rest stops for the annual RSVP ride - Seattle to Vancouver - so he has a water station setup in his backyard just waiting to come out and fill a few thousand bottles during the ~200mi ride.)
<p>
One of his daughters broke out a cot for me and so I'll get to sleep off the ground without even unpacking my sleeping bag.  Tomorrow is his birthday and so I'll wake up early to say goodbye and wish him a happy birthday before I head to my next warmshowers host in Chilliwack, about 50 miles ENE of here with a fair amount more climbing than today, but, I'm excited to start getting out of town and into the scenery anyway.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
