

---
import Layout from '../components/Layout.astro';
---

<Layout title="Onwards through the fog"
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Onwards through the fog</h1>
        <h2>
           ...but the sun never really came out today
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 54mi
<br>
Climbing: negligible
<br>
Descending: also negligible
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/11952921087>Link to workout in Strava</a>
<hr>
<p>
After my heat event on Saturday, I was feeling burned (literally and metaphorically), and also worried about the similar forecast for Sunday. Monday was looking 10 degrees (F) cooler, and also gave my legs a bit longer to work through all of the knots that they developed during my series of cramps on Saturday afternoon/evening.  I got the rare chance to join the family's weekly zoom call, and also visited the museum in the town I was staying in - surprisingly open Sunday! And then while leaving, I found a paved off-road path in the middle of nowhere, connecting little...and finally saw another touring cyclist outside of the town cafe. So, stopped and met Fabian, who was doing the exact opposite of me - biking west into Winnipeg and then taking the train to Jasper to resume biking from there.  I am so glad to finally meet another person who is "skipping the boring middle", and using the train to do it and skipping the same exact piece as me to boot.  I have met many who are doing short tours but of all the longer (1+ week) tourers, they've been completionist - intending not to skip anything between their start and end.  Fabian and I swapped advice of the roads ahead (one benefit of meeting something going the other way - you both know what the other is about to experience!) and wove in our stories... and then he headed to his campground and me back to the hotel.
<p>
Despite basically sitting around most of yesterday, which often leads to lazy late departures the next day for me, I made a conscious effort to be close to ready to go before going to bed, and having breakfast before 7.  Made it onto the road by 7:30, and boy was it foggy!  But, it was also 60 degrees and I did not need my sunglasses yet despite riding directly into the sun, and so I rolled happily.
<p>
<img src=https://q42.me/trips/crosscanada/day30-foggy-small.jpg>
<p>
It was so foggy in fact that I got wet from it...not quite a mist when stationary, but rolling into it left the front-facing surfaces damp - not just my face but also the panniers and the top of my helmet, which dripped along with my face.  But the drips started out as just water (not the salty water of sweat) and I maintained a good pace and didn't really slow down nor stop for long - maybe 5 min total at a rest stop and a couple of quick water breaks until after mile 30, when I rolled past a corner with 2 gas stations on it, and stopped for a snack and a break; I had been on the road for only 2 hours.  Had a chocolate milk and got encouragement from one of the staff before I noticed that the thermostat now read 80 degrees (and while it was parked in the sun, I was shocked to see that since the forecast was high of 66).  So I set off again pretty quickly back into the haze (fog had lifted, but sun still only peeked through the haze and higher clouds).
<p>
I had forgotten to re-apply my sunscreen but since I had stopped long enough to stop sweating, I pulled off right after I re-merged onto the highway and slathered it on the face pretty fast, and then finished the last 22 miles without much more stopping too, since I was finally starting to sweat quite a bit and I knew someone else would make me lunch, likely with a cold beverage, once I arrived.  So I aimed to be there around 1130 and hit it nearly exactly on the nose, and then exactly what I had predicated would happen in town, happened, and I ate a tasty burger with a tasty local blueberry beer before rolling up to the campground at 12:15 (check in time: 3pm).
<p>
Today's ride was the fastest my fitness tracking software has seen me ride 50 miles and it was indeed a good day on the shoulder of the Trans-Canada highway - reasonable shoulder, meh traffic (but not constant), and while I don't think there was a tailwind, there wasn't a headwind either.  Fabian had mentioned that the day's miles (which I was now riding) left him moving faster than usual, and they did for me too.  Certainly no complaints on that front from me :D
<p>
The campgroun d attendant was friendly and didn't mind letting me in rather early so I rolled to my campsite (furthest from the gate and beach and road, it is pretty empty in that corner - no close neighbors - despite being crowded in the main areas and near the beach), and was attacked by the mosquito army.  I sprayed myself down with DEET and got things all set up, and then set off to explore and see about a shower.
<p>
Much of the rest of the campground was less secluded, less shaded, less humid, and less buggy so I scouted out spots to write this blog and call in for virtual reading time with my nephew later.  I determined that while the lakeshore and the water were well populated - so, probably not too cold - I also didn't really feel like a swim. So, instead took a ride up and down the main street in town (there's a bike path along it that passed close behind my campground, so I had to go check it out...) and now will lay down for a read and nap in my enclosed-from-mosquitoes tent, before reading time.
<p>
<img src=https://q42.me/trips/crosscanada/day30-bike-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
