
---
import Layout from '../components/Layout.astro';
---

<Layout title="Fast Miles back towards Nowhere">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Fast Miles back towards Nowhere</h1>
        <h2>
           but Nowhere is rather beautiful
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 65mi
<br>
Climbing: 1962 feet
<br>
Descending: similar
<br>
Difficulty: pushed a bit so let's call it hard
<br>
<a href=https://www.strava.com/activities/12054115438>Link to workout in Strava</a>
<hr>
<p>
Got stuck in Thunder Bay a bit longer than intended! I had planned a couple days to make sure the bike shop would have a chance to replace my broken spoke (success!) At least it was a good town to hang out in!  I got a haircut, visited two museums, biked 50 miles, almost won a prize at the pinball pub, resupplied for food and some bike gear (gloves, sunscreen, extra spokes, and a better helmet light), and in general enjoyed sleeping in beds and eating foods prepared by others (I think I had 4 pizzas over the 4 days I was there!).  Most towns on the route have some "large statue by the roadside" and for Thunder Bay, I finally, almost out of town this morning, found this statue...of covid 19?
<p>
<img src=https://q42.me/trips/crosscanada/day38-covidstatue-small.jpg>
<p>
Set out fairly early after a meh tim horton's breakfast.  It started raining just as I set out and I was not expecting that, but it was fairly cloudy.  I turned around and considered killing some time before I set out, potentially staying another day if the rain never let up...but no, I was stir crazy and felt like the prior day's heat warning was a mandatory rest day, but I know how to bike in rain, even if it is not the most comfortable to be soaking wet for hours.  Fortunately, the rain let up after about 2 minutes and did not return until after I made it to camp and got all set up.
<p>
<img src=https://q42.me/trips/crosscanada/day38-terrystatue-small.jpg>
<p>
The first 20 miles or so I had previewed much of yesterday to go see the Terry Fox Memorial which is illegal to bike to (but I did it anyway, see the light bike in the above photographic proof!), which saved me some heavily loaded climbing up to it today.  The monument is higher in the hills that extend away from the lake than this morning's planned route by at least a couple hundred feet!  The memorial (and the guy and what he did:  ran a daily marathon, every day, halfway across Canada, with only one leg, to raise awareness that cancer does not mean your life is over and you can't still achieve big things...and then he died of cancer recurrence halfway through his run) was pretty touching.  Most of today I was on the "Terry Fox Courage Freeway" until it suddenly ended near my end stop.  Since Terry ran effectively "to" Thunder Bay from the East Coast...I would think it could have been longer!
<p>
<img src=https://q42.me/trips/crosscanada/day38-terryfox-small.jpg>
<p>
There were a couple gas stations today on my ride, and one of them had "distance to Toronto" for some reason, so here it is:
<p>
<img src=https://q42.me/trips/crosscanada/day38-toronto-small.jpg>
<p>
...already made some pretty good progress on that 1350k today, probably around 100k between the sign and my end spot!  While I was at that particular gas station, I sat down at a table to drink my preferred energy drink, and was pleased by the nice view...
<p>
<img src=https://q42.me/trips/crosscanada/day38-gasview-small.jpg>
<p>
The next gas station (only the third of three on today's route) proclaimed itself a "cyclist's haven" but it just seemed like a normal quickie mart to me...
<p>
<img src=https://q42.me/trips/crosscanada/day38-haven-small.jpg>
<p>
I passed a fellow tourist going West today;  pulled over to exchange fist bumps.  He turned out to be from Montreal going to Vancouver, didn't speak much English, and side of a busy highway is no place for me to mumble my baby French, so we settled for vigorous smiles and waves and went our ways.  All day as I rode next to the (north shore of) Lake Superior, there was no shortage of Superior stuff:
<p>
<img src=https://q42.me/trips/crosscanada/day38-superior-small.jpg>
<p>
Practically speaking, today's ride was another record-settingly-quick 50 miles and beyond.  But it stayed fairly cool and pleasant to ride right up until the very end when I started to get tired, it got as hot as it was gonna (85ish), became more hilly, and a headwind developed.  However, I think I did pretty good work to pull into town around 1:30 in the afternoon.  I was a bit worried about where I'd stay, since some of the local motels were full and it is saturday night, but the first-come-first-served campground with no online reservation system turned out to be half-empty and the cheapest I've had so far - 11$ CAD!  Stay tuned for white river where I have a lead on a free one ;).  But: no showers, wifi, and maybe no drinking water (turns out there is a hose I can use)...If there hadn't been water, would have needed to pedal up into town to buy myself a gallon.  Instead, I took a quick dip in Lake Superior since...I'm here and it will rinse some sweat and dirt and sunscreen off and it's warm enough to drip dry quicklike.
<p>
Met my camp-neighbor Rudy who is from Toronto but being driven away from the city because it has grown too much and there is too much violence.  He comes up here (some distance!) to ride his ATV on abandoned railway lines.  Apparently they snake all over the place up here, no big surprise since so many were built while the economy was very different (pre cars/roads, during gold rush, while we were shipping wood further, etc).  Neat to find a different type of friendly explorer in this mostly-here-for-boaters campground, which calls itself a Marina...
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
