---
import Layout from '../components/Layout.astro';
---

<Layout title="Hot and Stormy">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Hot and Stormy</h1>
        <h2>
           Help from some friends unparalyzes me
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 20mi
<br>
Climbing: 551feet
<br>
Descending: similar
<br>
Difficulty: easy but sweaty
<br>
<a href=https://www.strava.com/activities/11996534766>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day34-pedbridge-small.jpg>
<p>
I took a forced rest day yesterday in Dryden, Ontario.  I spent a large chunk of it in the comfortable, nearly empty, but most importantly air-conditioned and wifi-having  library, reading and watching videos.  But, I also got a chance to explore town (suspension bridge, riverside trail explaining the massive factory (was: paper, wood, and pulp mill) that dominates the skyline and used to employ almost 2k folks but now (pulp mill only) more like 1/10th as many.  But hey, the pulp mill was the bad smelling part so it still smells like industrial-strength yuck - what a deal!).  This, in addition to the yester-sploring (museum, food cart, pedestrian bridge, laundry, large animal statues), 
<p>
<img src=https://q42.me/trips/crosscanada/day34-knitbike-small.jpg>
<p>
<i>this is a bicycle knitted from metal wire.  Which was hanging in the library for whatever reason...</i>
<p>
Right now, I'm frankly scared of the ongoing hot+humid situation up here, but...I feel like a weakling.  The weathermen all agree:  temperature in the 80's, but feels like 90's.  I feel like I should be able to stand that heat - 80's is ok, 90's is just warm, not incapacitating - but that's how hot it was when I had my heat event last saturday - 96 on the garmin, 86 on the mercury.  Up here in Canada, they use a term "humidex" to correlate how it feels and that seems to be what the Garmin shows, which is convenient so I don't have to extrapolate.  But I'm just being super careful since I know failure can be sudden and incapacitating, and I don't want it to happen in the heat on the side of the road with the next town 30 miles away.  Which is a distinct possibility out here where it's about 60+ miles between towns!  Oh, and with an ongoing heat warning that says watch out, so my phone is always alarming...
<p>
The extra day in Dryden was rest unlooked-for after an already short day getting there, and more rest coming up in Thunder Bay -  but was the right thing since it got super hot-feeling even just in town off the road.  Lori was thankful I didn't just push through and me too, since it was pretty bleak outside of town as I rode in today, I can only imagine being too hot with 15 miles to go and it just being misery/dangerous to keep having to push on - you can't really duck into something cooler if there's no shade and no water around, to change your situation.
<p>
As a result of the time in Dryden, I got to hang out a lot more with my hosts - Gerry and Karen, proprietors of the Nature's Inn lakeside RV park.  They were so helpful and friendly - and what a great place to stay!  Had a couple of hour-long chats with them over my stay, beers with Gerry, met the neighbors, and can see why they enjoy their community and how they make it a good one!
<p>
Also, been more aware of friendly motorists lately and wanted to celebrate some wins: got a beep from a (motor)cyclist today.  2 days ago, a car with bikes on and the occupants were visibly agitated as they shave-and-a-haircut'd me.  And earlier this week, 2 separate semi's but yeah, really, nice honks, not the terrifying blare you'd expect just a tootle!  This is pretty all right.  I don't think it's related, but I have maybe been a bit more chatty since I resumed my trip after the family break - talking more with the hotel clerk, the other folks waiting for a milkshake, the random lady leaving the restaurant I was parking my bike outside of, who may have been a prostitute, not really sure since I didn't take her up on the offer to bring some booze over to her place after I ate?  Anyway it's been nice to chat with more folks;  I wasn't super chatty nor bugged by the lack of social interaction much during the first month of the bike trip (or, maybe I filled it with Albert and warmshowers hosts?), but now I find myself filling in the gaps where there is someone interested in talking where before I might have been quicker to walk off...
<p>
The ride itself was straightforward, but hot!  Gerry offered to drive me as far as I wanted to go, which was "about halfway" so I wouldn't have to do a long hot day - just a hot day.  He ended up taking me about 2/3 of the way, and we left around 9 - but it was already 90 by the time I started pedaling around 10, settled around 96 by the time I arrived before noon.  Sweat <b>was</b> rolling off me (rather than evaporating off), a little as I pedalled - but I dialed back my effort with some success!  This means fighting my natural tendency when the end of a ride is approaching, which is "just get there at max sustainable effort" or perhaps "damn the torpedoes, full speed ahead".  While it wasn't a perfectly applied strategy today to ride at a non-sweat-wasting pace, it did anyway mean I didn't roll into town soaked through from sweat and that some - if not all - of the sweat actually got a chance to evaporate from my body and so I didn't feel dehydrated or crampy after the 20 miler.  I also did better at fueling during the beginning of my ride today as practice for tomorrow when the beginning may be more critical (don't "get behind" in nutrition/hydration and be trying to catch up;  be proactive!)
<p>
<img src=https://q42.me/trips/crosscanada/day34-ignace-small.jpg>
<p>
After arriving in small Ignace, I killed some time at the restaurant (milkshake and beer with lunch!) until I could check into hotel. Hotel calls itself a motel, whatever - but which is weirdly dingy in the hallways but cozy comfy in the lobby and rooms.  Clerk insisted I bring my bike inside so I unlocked it from the fire escape and brought it in.  Nice that it also has been thunderstormy out - fun to watch and listen to from inside - yet my steed will be dry in the morning.  So I feel ok here!
<p>
Speaking of morning I have found some convenient stopping spots halfway through tomorrow's planned 65 mile ride,  and 2/3 through the 85 mile ride I was planning for the next day.  I might turn all these rides into mini-rides and avoid more heat events.  I am so much more comfortable having fallback plans, though not always possible, it happened to be here (in both cases the fallback is just "a motel in the middle of nowhere that just happens to be on-route" but I think that'll be good enough, since it's not the weekend when motels tend to be full!)  I won't make the call on whether I'll stop before I arrive at the stop spots, but instead play it by ear and "make a game day decision".  Gives me the chance to power on if I'm feeling better than expected or...not :)
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
