---
import Layout from '../components/Layout.astro';
---

<Layout title="Short but Stout">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Short but Stout</h1>
        <h2>
           Saving myself for the next 3 days...
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: ~30 mi
<br>
Climbing: ~1000 feet
<br>
Descending: similar
<br>
Difficulty: easy but felt medium?
<br>
<a href=https://www.strava.com/activities/11980342642>Link to workout in Strava</a>
<hr>
<img src=https://q42.me/trips/crosscanada/day33-horizon-small.jpg>
<p>
Today I knew I had only around 30 miles to ride, so I didn't rush to get out of bed.  Free continental breakfast at the stellar hotel so I just ate, packed up, and rode out of town, finally hitting the road around 9am.  As expected there was little distraction before Dryden, so I rode with minimal breaks and arrived in under 3 hours.  I probably could have made it in 2 hours, but it was starting to warm up and I decided (nearer the end of the ride as it got warmer) to ride more slowly to give my sweat a chance to work instead of accumulating so fast that it started dripping off.  Took a conscious effort, since my legs could have gone 10% faster at a cost of $muchmoresweat, and I usually ride at the top end of my possible pace without sprinting; today I was 10-20% off my pace but also arrived non-drenched!
<p>
<img src=https://q42.me/trips/crosscanada/day33-graveyard-small.jpg>
<p>
<i>As far as I can tell, this is a one-family graveyard.  Maybe nobody else has ever died in the town of Vermillion Bay, which this cemetary is named for</i>
<p>
I'm in the land of big things!  Since I came across Husky the Muskie in Kenora, I've also seen Bigfoot in Vermillion Bay (yesterday), and the below two are just normal, supersized animals by the roadside, as is typical of oversized statuary...
<p>
<img src=https://q42.me/trips/crosscanada/day33-sheep-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day33-moose-small.jpg>
<p>
Rolled into town and was craving A&W for lunch - which turned out to be at the far end of town.  Went anyway; no regrets.  In the meantime the folks who built my bike have gotten back to me about spoke sizes so I'll now spend some time calling bike shops a few days out to find the one that can cut spokes to custom sizes since it seems like my bike will need custom cut spokes.   Luckily there are 3 good candidates and one fallback that will probably work but isn't open til tuesday (I plan to roll out on tuesday, early).
<p>
This afternoon, once I get a place to stay (angling for a campground, may have to settle for a 1 star motel) and get settled, I'll come back into town do some laundry.  A pretty chill day assuming that I can find a bike shop able to do the necessary work!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
