---
import Layout from '../components/Layout.astro';
---

<Layout title="Around the water and through the woods">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Around the water and through the woods</h1>
        <h2>
           I am in the land of lakes!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 59 mi
<br>
Climbing: 2546 feet
<br>
Descending: similar
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/11972110982>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day32-bikesociety-small.jpg>
<p>
<i>I like being part of bike clubs.  I might not be cool enough for this one. Rat Portage was the original name of the town I stayed in last night - now Kenora</i>
<p>
Today was a little exciting but it all ended ok.  Set out around 7:45am and had high hopes of making it to my destination before 1.  The route was, as expected, quite hilly, but each of the hills was distinct, and featured a max of 125' of climbing in one push, so it was just a lot of small ups and downs, nothing I had to really struggle with as far as extended efforts to really get me cursing and hot.  I think those may be coming in the next week, though!
<p>
<img src=https://q42.me/trips/crosscanada/day32-continental-small.jpg>
<p>
<i>If I ever find a shop with a Schwalbe sign (my preferred bike tire brand, vs "Continental" shown here), I will also take a picture and probably even go inside!</i>
<p>
Weather started out nice if ominously cloudless, it was a delightful 65 degrees (F) when I finally finished all my dithering and rolled. Clouds did arrive after an hour or so & were patchy for much of the day.  Didn't believe the weatherman when he told me highs in the mid-70's at the start and stop spots, which left me unsurprised when it briefly got up to almost 90 as I rode, but the humidity was SO much less than it was on Saturday that I didn't lose very much sweat to dripping - it actually evaporated and cooled me down.  Yay for the body's regulatory processes actually working as intended!  On Saturday when I struggled so much, the sweat was pretty much just dripping off me and otherwise not evaporating at all - for instance, I had to pull out a rag to clean the film of sweat off my phone screen enough for the guy who offered to take a picture to actually hit the button; my shirt was soaked through. Today my shirt was dry!
<p>
<img src=https://q42.me/trips/crosscanada/day32-spiderbug-small.jpg>
<p>
The restaurant I'd hoped to have lunch at seemed recently abandoned, so I kept rolling for a bit longer to the advertised picnic table rest stop that was a mile or two past the empty business.  I had lunch - no trouble eating a reasonable amount also unlike Saturday - and filtered a couple bottles of lakewater to accompany the lunch; I was making sure to drink a lot!  If you can't tell, I was kinda freaked out by how sick I got after getting overheated on Saturday and so am being quite ginger overall about trying not to work super hard in the super hot (later!) parts of the day, paying more attention to hydration and how I feel...not really how I prefer to exist but maybe necessary for now so I can enjoy the trip.
<p>
Lunch eaten and food re-stowed, I pedaled up to the bathroom, and suddenly there was a loud clanking.  Somehow I had broken a spoke and it was jangling around!  As I tucked it away (couldn't get it removed from the wheel, so got it to stop clanging around at least) I realized I <b>also</b> had a half-flat tire.   Well, back to the picnic tables to take the bike apart...I examined the still-somewhat-inflated tire, found a few bits of glass and wire in it, removed them, and decided to try just filling up the tire rather than removing the tire, which I've never done on this wheel.  Turns out, I didn't even know how to fully disengage the wheel from the frame: I have a belt drive and a fancy wheel hub (Rohloff speedhub) both of which are not "normal" and complicate removing the wheel, but I thought I'd understood how to remove it, yet I did not succeed in doing so on the side of the road.  So - I was very hopeful, and hope was rewarded!  I topped off the tire a couple times while I finished the ride, and now it seems to be holding after the last pump-up? Perhaps I was just reinflating the tire more and more as I topped off, and it wasn't leaking more? It can be hard to tell...
<p>
I have since figured out how to take the wheel truly off with the help of some internet videos, so I am now more prepared for changing the tube. (I think it's hard to understand the situation, but before, I could only remove the wheel from the bike frame, just can't move it very far from the position it was in relative to the bike, since the shifter cables go straight into the hub and don't have any extra length to them.)
<p>
<img src=https://q42.me/trips/crosscanada/day32-chargingmoose-small.jpg>
<p>
<i>I saw no moose/meese, charging or otherwise, but this sign made me hopeful I would</i>
<p>
Anyway, though that lunch stop took me over an hour, I still made good time into Vermillion Bay, population few, and found the cleanest cheap hotel I have ever stayed in.  It's for sale, in case you are thinking about moving to rural Ontario...seems like it has been very well taken care of / updated (has AC, internet, modern-looking bathrooms, no strange smells or stains in my room).  I got the same advice from my buddy who rolled through here last week and the hotel manager:  eat at the food truck, otherwise, you're eating at the gas station.  Better hustle over there to grab a bite before they close at 5!  It was indeed very tasty and now town (save for the gas station) is shut down at the ripe hour of 6:55pm.
<p>
<img src=https://q42.me/trips/crosscanada/day32-bigfoot-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
