
---
import Layout from '../components/Layout.astro';
---

<Layout title="Seduced by well-meaning MUP's">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Seduced by well-meaning MUP's</h1>
        <h2>
           In which my feelings for multi-use paths become more complicated
        </h2>
      </div>
<p>
<img src=https://q42.me/trips/crosscanada/day3-chooselife-small.jpg alt="me in sunglasses smiling next to a sign that says choose life">
<p><i>I have no idea why this sign was on a very empty stretch of highway frontage road</i>
<p>
I had a pretty hard day today.  I started out by going about 5 miles out of my way before I realized it, and after I turned around, I pretty quickly made a second wrong turn that took me another mile to notice.  But there were so many multi-use paths in Surrey!  So tempting and smooth and easy to ride apart from traffic.  But now that they made what was to be my longest day yet even longer...and that made me feel sad.
<p>
After some gratuitous climbing and descending through Surrey, I had plotted a route that looked good online that turned out to be terrible in practice once I got out of Surrey - boy, did the route AND the facilities used fail to live up to expectations!  I rode on the sidewalk for a lot of miles through the last suburbs and it was ugly and annoying.  The whole town of Abbotsford is not well indicated for biking on googlemaps, and I think part of it is that there just aren't great facilities there, so a lot of the route was on no-shoulder busy 4-lane streets with a lot of very steep blocks - and some of those blocks were indicated as bike routes.  "Oh, of course, there's a downhill bike lane, so it's green on google?" "ah, the bike lane starts after the road crossed the highway, 3 miles later."  But in this time of leisure, I suppose that <a href=https://www.youtube.com/watch?v=EKFdXdGK6_g>if it weren't for disappointment, I wouldn't have any appointments.</a>
<p>
Adding all that up led to a bit of a crisis of faith in this adventure.  What if I stopped sooner than planned?  Maybe this isn't my happy place?  Maybe I just have 30 pounds too much gear and I should get rid of it all?  Maybe this bike isn't as amazing as it seemed.  I was feeling in a bit of a funk...and my gut was pretty unhappy with something and I was stopping more often than usual to use the potty...and then it started to sprinkle.  But, the silver lining from the gut trouble stops was that I feel compelled to buy soemthing when I stop, and so I was eating and drinking...and it seems like that was actually the problem: just hangry.  So hard to remember to eat and drink enough while riding!  (I have no problem remembering to eat and drink before and after I ride, though?)
<p>
I finally made it out of town, into the real countryside (rather than just extended suburbs)! So the landscape opened up and I was in the foothills and it was scenic.  But, it was also a route with a ton of weekend traffic to the local "best lake" so it wasn't super calm, and I was wishing for some calm country roads so I could finally use my butt radar!  (<a href=https://www.garmin.com/en-US/p/698001>this one</a>).  This thing gives a beep and an accurate description (speed and proximity-behind, though not "how close it might pass / is passing you" which would be a cool feature, maybe?)) of a car approaching from the rear.  This device is unusable as a radar (works fine as a taillight, natch) on crowded streets, since it's effectively constantly going off.  Even on the frontage road to the highway, it detected the highway traffic 40ish feet off to the side.  But on the back farm roads?  Will be nice once the traffic dies down!
<p>
My <a href=https://warmshowers.org>warmshowers</a> hosts tonight in Chilliwack are wonderful human beings and we chatted for hours.  2/2 wonderful hosts so far this trip!  Looking forward to more when I can find em, though I couldn't find one for tomorrow or the next few days.  Tomorrow's an easy day to Hope, but the next day (or 2?) is 8k feet of climbing, and no services...TIME TO HANG THE OL BEAR BAG!
<p>
Runner-up title thoughts: "Snacking my way across Canada"


<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
