

---
import Layout from '../components/Layout.astro';
---

<Layout title="Back to where the land has interesting topography">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Back to where the land has interesting topography</h1>
        <h2>
           Goodbye Manitoba, Hello Ups and Downs
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 42mi
<br>
Climbing: 1460 feet
<br>
Descending: similar
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/11961985656>Link to workout in Strava</a>
<hr>
<p>
Last night I dove through the mosquitos into my tent at 7pm and didn't emerge until 6am this morning.  Not the most fun to be trapped in the tent, but the mosquitoes were intense so once I'd stretched out dinner and a couple beers as long as I could, I got ready to sleep and got into bed, not wanting to run the mosquito gauntlet again, especially not in the dark (required post-tent-entry activity:  hunting and killing all the mosquitos that made it inside with me!  Very hard to do in the dark...)
<p>
Woke up this morning to several dozen of those jerks hanging out on the outside tent netting just waiting to eat me, so put on my rain gear (weather was dry and comfortable, but raingear is fairly mosquito-proof) plunged back through the fray, got most of my stuff packed up so I could hang the tent up to dry a bit while I found a less buggy place to cook and eat my oatmeal.  That done, I finished packing up the mostly-dry tent, changed out of my rain gear and long pants on the still-as-yet abandoned beach, and set out east.  I was on the road around 730 again today.
<p>
The miles weren't quite as quick today since there are hills again!  (it was brutally flat out of Winnipeg until Falcon lake - past 2 days). But, I still made decent time even if I did carry a bit less speed & stop a bit more (for instance: I tried visiting the visitor centers on both sides of the Manitoba/Ontario border;  both were closed).  The official "welcome to Ontario" sign was about as boring as it gets, so here's one with some messaging that spoke to me more.
<p>
<img src=https://q42.me/trips/crosscanada/day31-tour-small.jpg>
<p>
Speaking of messaging, the third road sign in Ontario was this one - the first one was something about seatbelts being mandatory, and the second one was on the topic no handheld electronic device use while driving.  But the third one seemed most globally applicable and a good reminder to me and motorists:
<p>
<img src=https://q42.me/trips/crosscanada/day31-fatigue.jpg>
<p>
Sadly the rest of their signs were in more traditional colorways;  I was hoping for more gold and purple official signage but saw none.  Stopped for snacks at the only gas station I came across about 25mi in; was passed by another touring cyclist who must have been going at least 5-8mph faster than me, he said "see you in Kenora!" as he hustled past.  Since Kenora is a town of 15k people, I am less confident than he that we shall connect.
<p><img src=https://q42.me/trips/crosscanada/day31-muskie-small.jpg><p>
On the way into town, I got a quick pic with <a href=https://en.wikipedia.org/wiki/Husky_the_Muskie>Husky the Muskie</a>, a ~40 foot tall statue of a fish.  It is certainly tall!
Gonna find some lunch and hit the grocery store before I check into an airbnb and then launder and explore town (hotels in town were not cheap, airbnbs were)
<p>
    </div>


</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
