---
import Layout from '../components/Layout.astro';
---

<Layout title="Rolling Thunder">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Rolling Thunder</h1>
        <h2>
           Bay yes, thunder not so much
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: ~44mi
<br>
Climbing: 1270 feet
<br>
Descending: slightly more
<br>
Difficulty: easy-ish
<br>
<a href=https://www.strava.com/activities/12020026983>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day37-swamp-small.jpg>
<p>
Awoke in yet another hotel that seemed on the brink of closing - too close to civilization (yet also far from it), for folks to want to stay quite there (except folks like me for whom "an hour's drive" is more like "a day's riding").  Still, thankful for a bug-free night and a shower!
<p>
<img src=https://q42.me/trips/crosscanada/day37-shoulder-small.jpg>
<p>
Cooked oatmeal, packed up, left early (around 7:15). Like yesterday there was some fog (but less); sun hid-and-seeked behind clouds for the first part of the day, which remained cool up until the waterfalls.  Shoulder was pretty variable on this last stretch into town, but not awful.
<p>
The last stretch of highway I rode took me to <a href=https://www.ontarioparks.ca/park/kakabekafalls>Kakabeka Falls</a>, which is pretty big!  Not tall like Multnomah falls or the weeping wall we saw in Jasper National Park, but big like Niagara falls, broad and busy.
<p>
<img src=https://q42.me/trips/crosscanada/day37-falls2-small.jpg>
<p>
One of the cooler things in the falls is a somewhat-reminiscent-of-the-fort-worth-water-gardens sharply geometrical rocks which the falls flow over.  Looks engineered, but I guess that's just how this particular cookie crumbles.  Bonus: free entry for me on a bike though I tried to pay!
<p>
<img src=https://q42.me/trips/crosscanada/day37-falls1-small.jpg>
<p>
Over the next 20 miles, it was interesting to see rural change to suburban to urban!  From the falls I took "Pole Line Road" into town - which was perfectly straight for 8 miles and indeed, it was mostly me and the phone poles.  Seems like the small town out at the falls brough in power back before there was another for the road to have to curve around...
<p>
<img src=https://q42.me/trips/crosscanada/day37-twodorks-small.jpg>
<p>
Once I got into the outskirts of town, it was largely multi-use paths into city, which you know I like!  Rode to the airbnb but was a couple hours too early to check in, so grabbed lunch at a bar where I could watch my bike with all its bags still on, found a nearby park to spend the last hour in and had a quick park nap, and then descended upon the airbnb to be rid of my stuff.
<p>
<img src=https://q42.me/trips/crosscanada/day37-park-small.jpg>
<p>
Once I got checked into my airbnb, belatedly made it to bike shop (I'd called ahead and thought I'd be getting into town 2 days earlier, so had suggested I'd see them first thing monday morning).  Anyway, they said come back tomorrow morning, which I did and got my spoke replaced, plus picked up a few extras though I learned I would probably not be able to install them myself since you have to take the wheel hub slightly apart to fit them in and I wouldn't do that by the side of the road, myself. Since I wasn't gonna get my bike fixed...of course I had to stop at the neighboring pinball pub for a couple of pints and some pinball on the way home.  
<p>
<img src=https://q42.me/trips/crosscanada/day37-pinball-small.jpg>
<p>
Had some Indian take out for dinner, then read myself to sleep.  Now I'll explore town for a couple days before setting off again into the most unpopulated section of my ride (at least until the eastern edge of the canadian mainland).
<p>
<img src=https://q42.me/trips/crosscanada/day37-frozenbeneath-small.jpg>
<p>
<i>Apparently this is an (old, website gone) ad for <a href=https://www.goodreads.com/book/show/18187354-frozen-beneath> a book with this title</a></i>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
