
---
import Layout from '../components/Layout.astro';
---

<Layout title="Beautifully Hilly">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Beautifully Hilly</h1>
        <h2>
           it's challenging to enjoy the beauty while struggling
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 57mi
<br>
Climbing: 3445 feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href=https://www.strava.com/activities/12063675190>Link to workout in Strava</a>
<hr>
<p>
Expecting sunrise close to 5:30, I awoke quickly when I realized it was 6:30 and the sun still hadn't risen.  Partly due to the timezone change a few days ago, and partly due to the fact that camp was at the bottom of a valley whose walls blocked sunrise.  I discovered happily that the tent was not wet, so just hustled to breakfast at a truckstop diner a couple miles back up the road.  It was an ok breakfast, and I think the calorie-density outdid my local option of oatmeal.  Good thing I had a hearty breakfast since there were no services today between the start and end.  I expect the same tomorrow!
<p>
<img src=https://q42.me/trips/crosscanada/day39-nipigon-small.jpg>
<p>
I packed up fairly quickly, but since breakfast was about an hour long affair once you factor in the travel time, I didn't get on the road til about 8:30.  And then there was a cool overlook-structure on the way out of town, so I had to go climb it and take the above picture of the Nipigon bridge.  Then, I got to start climbing hills!  The lakeshore is very hilly, and it's all rock, so they go up and over more often than through - the road was a huge challenge to build according to every museum display ever!  I made rather good time despite the hilliness for the first half of the ride, and then started to get tired, hot, and slower.  Plus, the 3 biggest climbs were all stacked up in the second half of the day (400, 600, and around 700 feet respectively).  This is about as much climbing as I was doing in the rockies, just in smaller chunks.
<p>
<img src=https://q42.me/trips/crosscanada/day39-directions-small.jpg>
<p>
<i>At the top was one pointing up and it said "moon - way way up!"</i>
<p>
I stopped at a great rest stop around 12:30 - the only rest stop, in fact - for lunch and filtering some water, and it was gorgeous!  Pebbly beach, but also some cool rocks and a bit of sand, good shaded picnic table for me.  I was definitely struggling to eat much which had me worried, but I had been snacking up before the stop so I wasn't totally empty as I might have been in the "old days" before I figured out - at age 48, this week - that I really should start snacking regularly and before I am hungry for best results!  So, ate a smallish lunch, drank a lot of water and some gatorade, reapplied sunscreen, and then did the hardest part of the ride.  It was of course getting hotter (well, into the upper 80's my garmin thought), and I was getting tireder, and was just about ready to be done when hey I got done!
<p>
<img src=https://q42.me/trips/crosscanada/day39-logos-small.jpg>
<p>
Stopped at the visitor center/museum on the way into town - real treat for that to be open on a sunday and it was pretty cool!  They had 3 train cars packed with bits and bobs about the town and the train, and a neat movie about more of the history of the town.  Got to my pre-arranged motel, only to be told I would be staying at a different motel!  But, it wasn't back up the hill, so I just biked back and got cleaned up.  Did some sink-laundry (not sure when next laundromat is going to be), which dried quickly in the dry air outside.  Chatted with the family in our used-to-be-weekly-but-now-is-semiweekly? zoom call, a rare treat for us all to be available these days (it's my fault; I'm often not available!).  Dinner was chicken parmesan and cheesecake and a bunch of electrolytes to fend off crampiness;  I sweated a whole lot today.  AND I'LL DO IT AGAIN TOMORROW.
<p>
<img src=https://q42.me/trips/crosscanada/day39-museum-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
