---
import Layout from '../components/Layout.astro';
---

<Layout title="Fast and Wet">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Fast and Wet</h1>
        <h2>
           Started as a heat dodge, ended soaked but cool
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 68ish miles (turned garmin off at 66)
<br>
Climbing: 1549 feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href=https://www.strava.com/activities/12004524216>Link to workout in Strava</a>
<hr>
<p>
While I successfully dodged the hottest part of yesterday, by arriving before noon, I was still worried about today which was going to be 66ish miles which left my pre-noon arrival chances small, even if I managed to start at the planned 6am.  Which of course I didn't, but after consuming a reasonable breakfast of "brekwich" (with protein!) and an apple fritter to go with my coffee, and assembling my gear and checking out, I left around 6:40, and the temperature was already in the low 70's and super humid.  The sun was behind scattered clouds as I started, which I was thankful for as I was (incorrectly!) assuming it was going to get very hot and mercilessly sunny, so welcomed any tendency to the contrary, no matter how short or inconsequential.
<p>
HAving put the primary "leave early to beat the heat" strategy in play fairly successfully, my secondary but important don't-overheat strategy was supposed to be "don't go too fast" which usually happens due to me putting in too much effort to go "as fast as comfortable cardio-wise" - with the result that the sweat rolls off instead of being able to evaporate, and it is uncomfortable and wasteful of water and also likely to eventually contribute to overheating.  Righto, don't do that!  Should be harder to do while it's cool, in the 70's...but no, there was a big climb right out of town and I was already dripping in minute 5 of my ride.  GRR. I HAD A FIRM PLAN AND I DID NOT ACHIEVE IT FOR EVEN 2% OF THE RIDE. But, it was only one plan of three, and the last: take frequent, small stops (but quick ones) just to drink and snack.  Do it every 10 or 11 miles (11 miles was 1/6th of today's ride).  Don't skip any even when you are not hungry yet! Well, that plan was stuck to and worked!  Which meant that I made GREAT time all day - didn't struggle to pedal either.  And I still had energy at the end of my ride rather than dragggging in which I often do.
<p>
Also, nature accommodated my heat-fear by bringing me a mostly-cloudy day which made riding in the moderate warmth - never exceeded low 80's, which was expected for several hours before it was to get hotter - high 80's! Also contributing to only moderate warmth was also the remaining cloudiness and windiness (usually not a headwind, but it varied).  This all kept it feeling "reasonable" so I kept pushing a little too much and sweating but having the energy for it!  So I was making good time.  I stopped at the hotel I'd found that was halfway (it was the only commercial thing between my start and end points, to be honest) to see if they had drinks or ice since it was starting to get warm but I was already almost 2/3 done with the long ride if I stuck it out...so I decided to, even though they said no sale on ice nor drinks.  I filtered some lakewater so I wouldn't run out of water, but mostly I kept pedalling and finally at about mile 55 or so the storm broke!  The downpour managed to bring the temperature wayyy down (yay!) but...I got soaked and carried on riding into town.  Fortunately my soaked credit card still worked and more amazingly my soaked phone still worked too, so I confirmed my room (from the gas station 2 miles from the hotel) and headed over as soon as it wasn't quite pouring anymore.
<p>
Strava tells me it was one of my faster rides and though I averaged something like 12.5mph I had very little stopped time.  I thought the ride was going pretty well for my body since the heat threat receded, but also since I didn't notice some typical butt soreness or foot hotspots, but maybe they were there and I just ignored them.  I suspect this, since I had some chafing I discovered in the shower that I just hadn't felt before...another reward for going hard can be more easily ignoring "normal" pain?
<p>
During the ride I saw 3 other tourers today!  I first stopped to chat with (B?)Ryan, local (from thunder bay where I'll be in a couple days) who was heading into winnipeg, he was in great spirits and there was much bumping of fists.  Then I later passed someone who seemed to be chasing (B?)Ryan, who whooped loudly at me as he flew past.  Then somehow during one of my "just snack and drink" breaks I noticed someone pedalling towards me, and it was Ives, who moves much faster than me but is coming from Vancouver and heading to Halifax - but he loved the prairies and hates the terrain we're in, just "hilly trees".  I'm the opposite.  Cool thought that he got the part he likes in spades :)  He turns out to be staying at my hotel tonight so I chatted with him a little more and he'll go all the way to Thunder Bay tomorrow while I pull up short.  
<p>
Re: tomorrow, There may be rain all the way, at varying times and varying chances - so I am assuming I'll get wet, but hopefully not soaked, or hopefully I'll get a chance to then dry out?  But, as a result of that assumption, I decided not to force an almost-100-mile day for no real reasion - to get into civilization one day earlier.  I'll just do two near-50-mile days, stopping in nowheresville one more time tomorrow.
<p>
tangential: RIP Nerds (I'd been working my way through a box of Nerds candy over the past week, a mouthful as a quick treat or "oops am I bonking ingest sugar now!") - and it was stored in my cupholder, and it got wet and it wasn't structurally sound anymore.  Also my insurance card was not laminated well, I learned today.  Canadian money IS laminated well, bills took no damage and retained no moisture when soaked?
<p>
Enjoyed getting to video chat with my sisters;  then dinner was a gas station sub sandwich (and lunch was a leftover subway sub.  Very sandwich day!)  Now for sleep.
<p>
Apologies, I took no pictures today!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
