---
import Layout from '../components/Layout.astro';
---

<Layout title="Yet Another Interstitial Pilgramage">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Yet Another Interstitial Pilgrimage</h1>
        <h2>
           Traveling between places that are between places
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 45 mi
<br>
Climbing: 1076 feet
<br>
Descending: slightly more
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/12011290901>Link to workout in Strava</a>
<hr>
<p>
Rode my bike to breakfast, then rode away from breakfast for most of the rest of the day.  I'm in a kinda lakey-swampy-foresty zone which is entertaining enough to peer into and smell and wonder about the collapsing structure's former purpose, so that's most of what I did today.  A few other things happened too.
<p>
<img src=https://q42.me/trips/crosscanada/day36-foggy-small.jpg>
<p>
It was a foggy morning when I set out, and despite a 30 minute breakfast at the local country kitchen, it was still foggy for at least an hour into the ride.  Still fairly concerned about heat/overheating, so I take the free "cloud cover" as a plus.  Spoiler, today was mostly cloudy and not at all rainy until after I arrived at my stop - at which point it did get sunny and warm.
<p>
<img src=https://q42.me/trips/crosscanada/day36-pano-small.jpg>
<p>
<i>panoramas gone wrong</i>
<p>
The landscape was somewhat unchanging, but the road shoulder wasn't!  Went through a lot of different shoulder types today, as small as 8" and crumbling and as wide as a car lane and a half.  Mostly shrinking though, sign of things to come - until yesterday the shoulders had been very accommodating (for the most part easy to ride a bike on) but now I think they'll maybe be mostly unaccommodating?  Guess we'll see but that's the scuttlebutt from some folks who passed through recently.
<p>
<img src=https://q42.me/trips/crosscanada/day36-divide-small.jpg>
<p>
I crossed some things today!  This was one (Arctic/Atlantic divide - which way does water go?  It changes here!), and it had a nice story to go with it;  there was an electrical company work truck across the street from this sign, couple dudes working in some...way.  The one who was not in the cherry picker waved as I pulled up.  As I came back from photography he approached with a bottle of cool water, which I took gratefully.  He asked a little about my trip and noted that my tires were big enough to not immediately crash if I had to ride onto the gravel next to the roadway shoulders, which is true for the most part.  It was a nice thing and he tried to offer me more water but I was pretty well loaded already with 5 bottles worth of water, so just drained that one and set off again.
<p>
<img src=https://q42.me/trips/crosscanada/day36-timezone-small.jpg>
<p>
I also "officially" transitioned to eastern timezone about halfway through the ride today, but in reality - my phone, the motel, the gas station in upsala, all >= 20 miles before this sign - say that in practice, the theory is some distance off and some folks are living their earlier lives, and thus so was I.  I keep losing hours...2 more timezones to go if I am fast but more likely just 1 (newfoundland is its own timezone but it is looking less and less likely that I'll make it there before the ferry stops running).  Thunder Bay tomorrow, and then a couple days off to explore.
<p>
<img src=https://q42.me/trips/crosscanada/day36-signs-small.jpg>
<p>
<i>it'll tickle yore innards! (they did sell mountain dew, but bbq was a lie)</i>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
