

---
import Layout from '../components/Layout.astro';
---

<Layout title="Superior Goodbyes">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Superior Goodbyes</h1>
        <h2>
           ...Accompanied by inferior highway shoulders
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 48 mi
<br>
Climbing: 1502 feet
<br>
Descending: more!
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/12122135867>Link to workout in Strava</a>
<hr>
<p>

Didn't sleep super well, but was heartened by a reasonable breakfast sandwich and a complimentary breakfast fritter and hot chocolate and set out at a good clip.  Today's main feature was to be the horrific (absent, presumably) roadway shoulders, per a video from another traveling couple I'd seen who'd ridden this section 2-3 weeks ago.  So I was braced for that...all day.  And they weren't super bad except in one spot, though there was a lot more traffic than I'd expected for a sunday morning, based on prior days' traffic on the same highway.
<p>
<img src=https://q42.me/trips/crosscanada/day45-ronald-small.jpg>
<p>
<i>Was not too sad this store wasn't open yet</i>
<p>
Today was the day I left Lake Superior behind - it'll be Huron & Friends going forward.  I made quick time on an on-again, off-again shoulder for the first 20 miles or so, including up the first, smaller climb of the day - all done by 10am; felt accomplished!  The bigger climb was around mile 25. Coming up towards that mile mark, I sat and ate my fritter "lunch" on the inevitable bench - they love to put benches and picnic tables outside of every roadside establishment, much to my benefit - outside a closed quickie mart.  I was averaging 13+ miles an hour, not feeling challenged by the shoulders, yay!
<p>
<img src=https://q42.me/trips/crosscanada/day45-wrongway-small.jpg>
<p>
<i>Facing into traffic</i>
<p>
Then came the climb - about 600 feet in one go - only major one for the day!  And right as I see it looming above, I see the shoulder gives out.  We're back to "guardrail 6 inches from the side of the pavement mark, no room at all to ride in".  But on the other side of the road, a whole extra travel lane is paved between the road and guardrail!  So I suck it up, cross the road, and rode up the wrong way shoulder.  A bit terrifying but distracted by the exertion - did it all at once, all in one go.  Must have been 5+% grade.  No close calls with traffic!  Near the top of the climb, the shoulder on my side of the road was back so I switched back over.  My shoulder never disappeared like that again before I could route off the highway as roads started connecting to one another, about 10 miles outside of town.  The hype was...overblown!
<p>
<img src=https://q42.me/trips/crosscanada/day45-halfway-small.jpg>
<p>
Unfortunately, my GPS has not found its mind in regards to altimeter and grade, so I'll be looking for some tech support on it in hopes of being able to rely on its gradient and elevation recording again.  Not a huge deal - mileage and navigation work great and they are the critical stats - but I spend a lot of my day staring at this tiny screen and it's supposed to know more!!
<p>
<img src=https://q42.me/trips/crosscanada/day45-beartotem-small.jpg>
<img src=https://q42.me/trips/crosscanada/day45-cowtotem2-small.jpg>
<p>
Despite some dark clouds as I left and mid-ride, it was a good weather day.  Cool, cloudy, breezy but not too head-windy.  I'd love more like these where I barely need my sunglasses.  It was so cool that when I passed a dairy whose trucks I'd been reading for the past week - "The way milk SHOULD taste" - the ice cream shop attached to the dairy made me an only OK milkshake - and maybe that was less a bad shake and more I didn't really want one?  NOT SURE.
<p>
<img src=https://q42.me/trips/crosscanada/day45-bigball-small.jpg>
<p>
<i>Been awhile since I saw a huge thing to photograph, had to take the opportunity!</i>
<p>
The routing into town was great!  Good job me!  I had kinda freestyled/nudged RideWithGPS (the tool I use to route plan) a route parallel to the highway based on how much other folks using the software had already ridden - it can be displayed as a heatmap (darker line == ridden more).  So I knew it wasn't a way that nobody went, but it ended up being some pleasant roads with either no traffic and/or good shoulders, and then some multi-use paths which were pretty gorgeous and welcoming.
<p>
<img src=https://q42.me/trips/crosscanada/day45-mup-small.jpg>
<p>
Tomorrow I'll take a day off just to explore Sault Ste Marie, which seems like a cute town.  Some museums, some shopping and other errands...got another fairly remote stretch coming up and need to make sure I'm ready to be self-sufficient for a day or 3.
<p>
<img src=https://q42.me/trips/crosscanada/day45-sunset-small.jpg>
<p>
PS: Pictures from past 2 days posted in their entries!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
