---
import Layout from '../components/Layout.astro';
---

<Layout title="Heating Up">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Heating Up</h1>
        <h2>
           ...but struggling to stay cool!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 66mi
<br>
Climbing: 2005 feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href=https://www.strava.com/activities/12156727818>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day48-bear-small.jpg>
<p>
<i>this bear refused to make eye contact again so I could take a better picture.  Only third bear I've seen in the wild; had no interest in me.</i>

<p>
Before I share today's tale, I forgot to tell this tale from yesterday!  I had stopped at subway for a later-lunch (don't love their food, but they are legion up here, often open early, and their sandwiches keep quite well even without a fridge, for consumption during a day's ride).  The fellow working the counter and I were the only ones in the shop, so we were chatting.  He was a pretty upbeat fellow, and was very curious about my ride.  Once I communicated the details, he said something like "well it's amazing that you're doing this, it's like the opposite of getting stuck in a boring life like me!" and I responded that stuckness wasn't terminal - you may be stuck now but you can overcome!  He asserted that "athletes are always so positive - your attitude just confirms it!" and while I dunno about that assertion - I do know that we connected, however briefly, and maybe his life will be a little more interesting someday thanks to the nudge...
<p>
<img src=https://q42.me/trips/crosscanada/day48-goodshoulder-small.jpg>
<p>
<i>The view just after sunrise; this is the "good" shoulder</i>
<p>
Today, I set out just after 7 (so I could stop at the opened-at-7 quickie mart for a bite to eat), starting on my last stretch of highway 17 - which was around 15 miles with about half/half awesome/terrible shoulders.  The awesome parts were as usual thanks to the waterfront trail aligning with the highway there.  Weather was cool and traffic was not too bad during that stretch, but I was still happy to make the turn in Massey, ON, onto the side road.
<p>
<img src=https://q42.me/trips/crosscanada/day48-carriage-small.jpg>
<p>
<i>This was the sign of the backroad.  "Expect non-motorized roadway users!!"</i>
<p>
In Massey, I had timed things perfectly so I could have a second breakfast at the coffee shop in town.  While eating an unimaginative (but cheap) breakfast sandwich, I saw a cyclist fly past heading the way I was going, without bags and wondered if I might run into him later.  Continued onto the side road where I met <a href=https://northernontario.ctvnews.ca/northern-ont-firefighter-heads-to-france-for-an-important-bike-ride-for-vets-1.6914180>this guy</a> (who was the cyclist in question from the coffee shop).  This next stretch which was ideal for my tastes - especially the shady, very low traffic nature of it!  Anyway, guy stopped and talked about his cause (read the article if you are curious), but gave me some good intel (and some expected bad news) about the upcoming road: that the rest of my route would have a good shoulder!  But that it was pretty hilly (which I already knew).  I brushed off his hill-related concerns "I mean I just rode over the Rocky Mountains...there are no hills THAT big out here!" and while he agreed...I sure struggled with those (small but numerous) hills later!
<p>
<img src=https://q42.me/trips/crosscanada/day48-dreamcatcher.jpg>
<p>
<i>Sometimes you need a trampoline sized dreamcatcher, for instance, when your dreams are too big to fit into the bedroom!</i>
<p>
Stopped again, for first lunch and a cool down at 10am in Espanola, mile 35 or so.  Had the coldest root beer and a burger (I don't love A&W breakfasts, but their burgers are good) before setting out in search of the "good shoulders" Duncan had told me about.
<p>
<img src=https://q42.me/trips/crosscanada/day48-goodsign-small.jpg>
<p>
<i>This highway was full of inspiring billboards like this one.</i>
<p>
It started to get pretty hot south of town, maybe only 85 on the thermostat but Garmin was saying it felt more like 95. While struggling amongst the hills around noon found an unexpected quickie mart where I stopped for a slushie and a gatorade, since I was sweating like whoa.  The proprietor informed me that the bridge ahead (10 min ahead for cars, an hour for me) was closed, which really worried me!  I started googling and sure enough something had broken on this 100-year-old-in-bad-repair swing bridge (a rotating drawbridge) and there was no official estimate for reopening; no other path towards the ferry except swimmin', which I did put some serious thought into the logistics of whether I could pull it off or not; got hung up on I didn't want to submerge my bike!  But anyway, whatever the problem was cleared up within 45 min or so according to bystander reports AND google's traffic-view in maps, so I got up from the bench in the shade and carried on south.  It was around 12:45 by that point.  The bridge was indeed in ill repair, and is only one lane so you are always taking turns with oncomning traffic even on a good day.
<p>
<img src=https://q42.me/trips/crosscanada/day48-manitoulin-small.jpg>
<p>
<i>The island I strugged to cross the bridge onto is called "Manitoulin"</i>
<p>
Rolled into Little Current (yes, the town is called that) around 1:30 for second lunch and a beer in little current.  I really wanted to cool down, and struggled to choose where to eat.  Finally ended up heading towards a restaurant but then saw the brewpub and knew that was for me.  While the beer was cold, the seating was outdoors in the hot, but the food was good.  I drank the "swing bridge" beer from this brewery, and joked with Lori that I couldn't tell if it was celebratory or a protest!  Forgot to complete a mission given to me by former riding partner Albert (whom I'l stay with next week as I'm heading through his hometown where he is staying right now!) - mission was to use a coupon at the pizza vending machine in town!  But now town is in my rearview mirror and I did not use it.  Fortunately, he forgave me.
<p>
<img src=https://q42.me/trips/crosscanada/day48-beer-small.jpg>
<p>
Final stretch in the hottest part of the day.  Just put it in a low gear, and spun and spun easily...and sweated and sweated! Got to the hotel just at check-in time.  No A/C but two fans doing good work, and I am no longer sweating (but am still a bit under-hydrated, so working on that).  Too tired to explore the area (missed out on a museum :/) but not much just here to be honest - I had slim pickings on any place to stay that was near anything else.  At least this in the right direction for tomorrow morning (towards the ferry, for which I'll leave at dark-thirty to ensure I get to on time, since I have a ticket for a specific sailing!)
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
