---
import Layout from '../components/Layout.astro';
---

<Layout title="Beautifully Hilly Part Two">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Beautifully Hilly Part Two</h1>
        <h2>
           I felt better than yesterday, but the ride felt pretty similar!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 61 mi
<br>
Climbing: 3540 feet
<br>
Descending: similar
<br>
Difficulty: medium-hard
<br>
<a href=https://www.strava.com/activities/12070552624>Link to workout in Strava</a>
<hr>
<p>
I must have been too comfortable last night, since I fell asleep before 9!  This meant I woke up around 4:30 and finally gave up on falling back asleep around 6, and got up to get an early start.  I got most of the way packed up and then walked over to the supposedly-open-at-6 coffee shop to find it dark at 6:45.  Went back to my room and made myself some coffee (which ensures that I poop shortly after, not because I needed any help staying alert).  I really didn't want to pull my stove out and make oatmeal, so instead I asked my phone and it said subway in the next town over - about 9 miles down the road - would be open at 8, so I grabbed a pastry from the gas station which was also the place to check out from the hotel and set out in the still pretty cool dark (sunrise had happened but was still in shadow in town and for the first mile and a half).
<p>
<img src=https://q42.me/trips/crosscanada/day40-lighthouse-small.jpg>
<p>
The next town - Terrace Bay - had not only a subway but also a pretty cool waterfall and also a tall lighthouse overlook tower which I dutifully climbed up before heading to Subway and getting a long sandwich, half of which I ate immediately and half of which I packed up for lunch later - turned out great! The waterfall was neat, but I've seen better in the past couple months.  The view of lake Superior from the falls, was pretty great tho!  Looking at my poor picture, I can see that it isn't as epic in the shot as it was in person, but c'est la vie(w).
<p>
<img src=https://q42.me/trips/crosscanada/day40-falls-small.jpg>
<p>
Today's ride was very similar to yesterday's - similar distance and elevation...and frankly, yesterday was a little bit much for me.  However, better nutrition and hydration through my ride today seem to have helped! Also, a slightly earlier departure was a win; I wasn't quite exhausted when I pulled into town today (yesterday I sure was - and my shirt was a lot sweat-crustier so it tells a matching tale).  I was hoping to ride a little gentler overall today to take the exertion level down 10-20% (at the expense of some speed)- and maybe I did, but I didn't do so to the degree I had intended either.  The ride took long enough - under 10mph average - so maybe it actually did go easier/better than I thought?  Not entirely sure... Also, again I made time to filter water a couple times whilst I snacked, which I wasn't sure I would manage since there was less roadside water by the look of the map today.  But it all worked out!
<p>
<img src=https://q42.me/trips/crosscanada/day40-pano-small.jpg>
<p>
<i>Even the views are similar.  Still stellar!</i>
<p>
<img src=https://q42.me/trips/crosscanada/day40-welcome-small.jpg>
<p>
<i>I love this thinking of "welcome to our (unceded) land" - pretty collaborative and helpful in indicating both a genuine welcome from the original local tribes - but also, "hey, folks, we've been stewarding for centuries!  Don't screw this up!"</i>
<p>
The highway shoulder put on a good show for the first 20 mi - but then went missing for much of the middle third of the route today, and that led to a couple of scares today with oncoming traffic passing on "my side" of the yellow line (while my direction was a single lane) - usually while I was on a wide shoulder but twice they started to come over despite me being in or near the travel lane.  And yet, I persist in getting ready to do this again tomorrow.  Maybe with more shoulder?  Maybe not.
<p>
I arrived in Marathon around 2, and got into the hotel just before the rain began;  it's not even 3 as I write this and the rain has already stopped but it still smells like petrichor out there.
<p>
<img src=https://q42.me/trips/crosscanada/day40-climb-small.jpg>
<p>
<i>Ain't gotta worry about me climbing - not doing anything extra in the uphill department today!</i>
<p>
I learned in the town museum that the town of Marathon has a similar story to most of the rest of the north shore of Lake Superior:  natives were here from time immemorial, Europeans showed up in the 1600's looking for fur, but towns were few and far between until they came into being to help build the railroad in the late 1800's, and often had a wood-focused economy (pulp mill, here) that sustained them through some/much/all of the last century, but is no more.  Back in Dryden the mill is still there, downsized from wood/paper/pulp to just pulp;  here, it was mostly just pulp but still shut down in 2009 and was demolished almost immediately - you can watch parts of the demolition for instance <a href=https://www.youtube.com/watch?v=GH0rYgdmzWE>here on YouTube</a>.  The coolest thing about the museum, to be honest, was that the staff was 3 younger folks (I'd say high school or college age) who were running it - having revived it from a past owner who passed away a few years ago.
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
