
---
import Layout from '../components/Layout.astro';
---

<Layout title="The Hills Are Alive">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>The Hills Are Alive</h1>
        <h2>
           With the squeak of my drivetrain?
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 57 mi
<br>
Climbing: 2731 feet
<br>
Descending: slightly more
<br>
Difficulty: moderate
<br>
<a href=https://www.strava.com/activities/12105202418>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day43-pano1-small.jpg>
<p>
Spent yesterday apart from my bike; my legs needed a break and my brain wanted to relax from constantly analyzing the shoulder and traffic patterns, which is the way of much of my riding in this territory.  I ate well and planned my route most of the way into Toronto (only about 10 more riding days, including today), and made sure I had places to stay the next 2 nights.  Blew the mind of the guy at the food truck when I picked up dinner that someone would ride their bicycle across Canada...
<p>
This morning was a bit of a slow start due to 4 stops on the way out of town!  But all effective, and for the most part, tasty:
<ul>
<li>checking out of the hotel had to be done in person, but they had free coffee.  It was passable and ensured that I needed to use the bathroom before I left town.  Fun fact, I still have not had to use my trowel / needed to poop in the wild!
<li>I've been carrying small sodas (orange and root beer - don't want caffeine while I'm out on the road, which is what these are for, though sometimes I end up drinking them at night as a "snack"?) and needed to replenish those "snacks".  Ended up getting some more bar-form snack foods as well since this Circle K had an especially good selection and there won't be any gas stations for the next few days to grab something from.
<li>Subway for a breakfast sandwich and a lunch sandwich.  They opened at 6am for...some reason?
<li>Finally Tim Horton's for an apple fritter, and the bathroom.
</ul>
<p>
<img src=https://q42.me/trips/crosscanada/day43-clouds-small.jpg>
<p>
Still, by 8:15 I was rolling due south, into some threatening clouds!  The forecast had changed overnight from "rain til 6am!" to "no rain at all in Wawa today!" and since I slept with the window open I can verify that it had not rained after the middle of the night.  I was so happy not to be ridin' wet - assuming that Wawa's forecast was right and also for some reason applied to the 60 miles south of town too?  Well, the rain clouds started sprinkling and I immediately pulled off and put on my plastic pants and jacket, and they did get sprinkled on for 20-30 min before it cleared up and I geared back down - a rare rain gear success story!  It sprinkled for 5 min later in the afternoon too, so I geared up, and then of course it didn't really sprinkle anymore until after I had camp set up.  This latter experience is the way rain gear usually works for me:  wear it when I don't need it, or resist wearing it when I do need it.  Also: there was a bit of breeze but it wasn't constant, today, much more on and off and maybe even mostly off, which is good since it was mostly in my face :)
<p>
<img src=https://q42.me/trips/crosscanada/day43-restbeach-small.jpg>
<p>
Stopped for snacks at Old Woman Bay.  Chatted with some RV'ers also from Oregon.  The guy said "ah we saw you back along the road.  We're scared for you!"  I responded that I was scared for myself too but that I had chosen to bike across Canada rather than the US partly to look for better behaved drivers, and I have been largely blessed with such.  We chuckled.  His wife told me to take a picture of the "Old Woman Bay" sign as I pointed my camera around; I said nah, my mom reads my blog! ...and she cracked up.  Later, ate my subway sandwich lunch on some rocks above the roadside, drank a root beer, and then kept riding.
<p>
<img src=https://q42.me/trips/crosscanada/day43-momlake-small.jpg>
<p>
Today was really scenic - lots of overlooks on lakes (including a cute pair separated by the road - Baby Lake and Mom Lake!) and Superior was back in the picture after a day away from the shore into Wawa (which was next to Wawa Lake, but not very near Superior).  I had thought about trying to hitchhike this section from Wawa south, instead of riding it but I am glad I'm riding it since it is really getting prettier and prettier.  I've heard a couple people remark that it is the most scenic drive they've ever driven.  Folks said the same thing about a stretch I rode near Kootenay Lake.  I'm inclined to say they're great but not as spectactular as the icefields parkway.  In this stretch, Winnipeg to Thunder Bay was pretty boring, but since then, it's been increasingly great!  Superior is looking very big, deep, wavy: ocean-like - both from the road, and later in camp as I sat and watched the 3-4 foot waves attack some kids' sandcastle.
<p>
<img src=https://q42.me/trips/crosscanada/day43-highwayvista-small.jpg>
<p>
Checked in to the campground just after two and chatted with the park warden a bit about the roadway shoulders and how awful they are - she spends a fair amount of time walking on them to go to/from trailheads, I guess?  She printed me a receipt that said BIKE GUY instead of a licence plate number to display on my site to indicate its occupied-ness.  After pitching the tent and showering, visited the visitor center here, which is pretty museum-like, so I learned some stuff: one major message is that Lake Superior is so big (biggest freshwater lake on the planet) that it acts like the sea in terms of intensity - needing lighthouses and having huge storms.
<p>
<img src=https://q42.me/trips/crosscanada/day43-bikeguy-small.jpg>
<p>
The campground is supposed to be full based on how few sites I could choose from when I booked online - but after I arrived, it's barely crowded; none of the 5 neighboring sites have anyone in them.  But, someone could if they were lucky crash off the side of the highway and hit my tent; it's less than 50 feet away.  I am considering sleeping with my earplugs in.  I'll take it being quieter than expected people wise even if it is traffic-loud as expected.
<p>
It started to rain as I was on the way back from the visitor center and so I hurried to get ready to spend the entire evening in my tent should the rain be heavy and persistent.  (Spoiler:  it was not, it has just sprinkled on and off).  In the midst of preparations I found a keychain with some keys on it sitting in the road.  Knowing I would be really screwed if I lost my keychain, I went, in the rain, to turn it in at the lost and found.  Kinda an ordeal to get to the lost and found since the campground is very long and skinny and it's a mile to my tent from the visitor center, but I DID THE GOOD DEED.  Nobody was yet looking for said keys, unfortunately, that would have been pretty neat to be able to call them and tell them...
<p>
<img src=https://q42.me/trips/crosscanada/day43-pano2-small.jpg>
<p>
Sat and stared at the sea for awhile. Dinner eaten and "cleaned up" (spoon washed, food panniers repacked) by 545p.  Will probably wake up tomorrow starving but hey there's just oatmeal and other camp food, BON APPETIT.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
