---
import Layout from '../components/Layout.astro';
---

<Layout title="Holy Rollers!">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Holy Rollers!</h1>
        <h2>
           I roll down, and then up again...
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 67mi 
<br>
Climbing: 2287 feet
<br>
Descending: similar
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/12162472683>Link to first half of ride in Strava</a>
<br>
<a href=https://www.strava.com/activities/12165595456>Link to second half of ride in Strava</a>
<hr>
<img src=https://q42.me/trips/crosscanada/day49-sunrise-small.jpg>

<p>
As intended, got a super early start so I could make sure to be early for the ferry.  It was calm on the road, and beautiful to ride into the sunrise!  I had eaten some oatmeal and beef jerky for breakfast, and I definitely had a sour stomach for some of the ride, but no other services at this time of morning until the ferry town 33 miles in!  Soldiered on...
<p>
<img src=https://q42.me/trips/crosscanada/day49-friend-small.jpg>
<p>
Met fellow touring cyclist SJ on the road!  They'd rolled up to the same campground as me a couple days ago but we didn't get a chance to chat then.  They were moving faster than me, so I chased them to the ferry. We were quite early but then the bureaucracy of getting a ticket for my already-paid already-made reservation was less than efficient (stood in line for 20 min behind 2 people who couldn't find their ass with both hands.  Took her 30 seconds to print mine off.  I wish everyone did their homework!)
<p>
Still had time to kill after that nonsense, so had breakfast with SJ at nearby decent cafe. Shivered a bit during the 2h ferry ride since I was still soaked with seak, and the AC was set on high (and it was super windy outside), but there was unexpected live music (a guy covering classics) and some reasonably dense museum-exhibit style details about the boat and company's history to help pass the time between pockets of cell signal.
<p>
Off the ferry, said goodbye to SJ (who is on a trip around lake Huron - their 5th and last great lake to collect!), stopped for third breakfast?  first lunch? ...and some water at the grocery store before pushing further south.  No rain, but good weather (cloudy and cool) yet still was a very humid day and the sweat was very sweaty.  Strava says there was a lot of climbing but frankly it wasn't too bad, not that I didn't notice it, just didn't have time on any one climb to get too frustrated.
<p>
<img src=https://q42.me/trips/crosscanada/day49-crossing-small.jpg>
<p>
<i>Once again disappointed to see neither of these animals on my journey</i>
<p>
Ended up on 40 hills road towards the end of the ride - and rode the whole thing so I guess I went up 40 hills?  I didn't realize the road's name until I was almost off of it (beauties of online routing and Garmin telling me where to go - I don't have to be conscious of the names of roads I'll never think about again, for the most part).  I suppose that this road was, anyway, what you'd call "rollers" and holy cow I was glad to make it to town...
<p>
Just outside of town, met Marius heading north on his way out of town; small world as he was going to stay with SJ's warmshowers host up by the ferry so he would meet them once he arrived.  He was coming from Montreal and we definitely nerded out about our gear and the routes ahead for a few minutes before saying our goodbyes and heading onwards.  He has ridden only 2 weeks or so from Montreal; I didn't realize I was quite that close!  I will make it by early September even with some planned stops along the way (Toronto and Ottawa for a few days apiece).
<p>
<img src=https://q42.me/trips/crosscanada/day49-dinner-small.jpg>
<p>
Tried to go to the better rated restaurant but it was closed for an hour when I rolled up, so walked to the lesser-rated one.  Turns out, dinner was amazing but not what I was planning to get - this is nachos made with pork wontons instead of chips?  Yum!
<p>
<img src=https://q42.me/trips/crosscanada/day49-parallel-small.jpg>
<p>
<i>Didn't expect to be back on the 45th parallel in Canada!  This latitude is south of my home in Portland!</i>
<p>
There was a warning for extreme rain saturday (I was riding on friday), and it's a weekend in tourist land, so it was quite a scramble to find a place to stay the next night in town or in the area at all - to wait out the rain and take a rest day, but I managed it after some finagling!  Even managed to get all my upcoming hotel reservations scooted a day for free (looked like I was gonna have to pay for the unused night on one for a minute, but turned out not to!)  Of course, it's the next day as I post this and it didn't start raining here til almost 11.  I could have made it most of the way south in the dry, if I'd just set out.  Tomorrow I'll potentially be wet all day. But, I was tired too so the day off will be nice, even if there isn't much to do here (pretty much gonna sit in the restaurant and nurse a beer and read, now that I've posted this and reviewed/improved my routing for the next few days).
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
