

---
import Layout from '../components/Layout.astro';
---

<Layout title="Discouraged, Encouragingly?">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Discouraged, Encouragingly?</h1>
        <h2>
           Trying times on the shoulder, contrasted with frequent friendly/encouraging honks
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 58 mi
<br>
Climbing: 1906 feet
<br>
Descending: slightly more
<br>
Difficulty: medium-hard
<br>
<a href=https://www.strava.com/activities/12089390437>Link to workout in Strava</a>
<hr>
<p>
Today was a hard day; most headwind I've experienced in a day since starting the trip!  This, combined with the appearance and then disappearance of Ontario's best highway shoulder, and hearing that it was staying gone "for the rest of Ontario and hey it's gonna rain tomorrow!" from fellow human-powered traveler Andy put me in a fair funk.  But, at least 6 folks gave me encouraging honks today as they passed in their cars, which may match the total received across all days over the past 2 months all together!  So, Encouraging?
<p>
Last night as I read on a bench near the camp area, another cyclist rolled in and I somewhat ineffectively guided him to the camping area.  He turns out to be Christian, from Montpelier France, and he is going my way!  He does not speak much English, and my Duolingo French is only partly effective.  But we use google translate a bit and I try my broken French and he tries his broken English and we communicate well enough to get by.
<p>
<img src=https://q42.me/trips/crosscanada/day42-christian-small.jpg>
<p>
So, I set out with Christian after a leisurely (too leisurely for my normal taste) breakfast at the A&W, and as google translate helped us discuss at breakfast, there was a shared acknowledgement that we may go different speeds and that's fine.  So I rode behind him a bit slower than I would have liked for a couple miles, passed him and he drafted off me for a mile or so, and then he dropped back and I didn't see him again for the rest of the day.  Not sure if we'll connect again tonight or going forward - but he is a fun character.
<p>
<img src=https://q42.me/trips/crosscanada/day42-noshoulder-small.jpg>
<p>
The headwind was with me for most of the day - partly due to me going south instead of East at the moment, I think - it's been non-headwindy before as I headed East, but that wasn't today's ride.  However, as Mark had promised yesterday, there was a great shoulder right out of White River (you can see the BUFFERED BIKE LANE in the picture above) and for the next 40 miles!  But then, it ends abruptly leaving a 1-2' strip bordered by variable sand/gravel, also pictured above (the darker part ahead is just dirt).
<p>
Shortly after the shoulder pulled its disappearing act, I met Andy, who is walking across Canada for the third time!  And he's picking up trash as he goes.  Quite a happy character, though he made me aware that the shoulder doesn't really gt better until Quebec (at which point it is apparently fabulous!  Should be there in about...2.5 weeks as I'm halfway across Otario right about now.  Sigh.)  He also mentioned the rain in the forecast, which will make riding on the dirt next to the shoulder treacherous at best.  Enough to make me wish I was in Montreal already, kinda...but I shall carry on.  After I take a rest day because my legs were sore today and the ride just dragged on and I'd like a rest after 5 straight days of hard work!
<p>
Pulled into Wawa, the town I'll stay in til friday, and was met by a variety of large goose statues, for which the town is famous.  The first one below is the "official" one but they are all 20+ feet tall and none look very happy!
<p>
<img src=https://q42.me/trips/crosscanada/day42-goose1-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day42-goose3-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day42-goose2-small.jpg>
<p>
I'll wait til tomorrow to explore town very much beyond my hotel and getting some early dinner, since I am already hungry and it's 4pm...
<p>
<img src=https://q42.me/trips/crosscanada/day42-totem-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
