---
import Layout from '../components/Layout.astro';
---

<Layout title="Huronwards">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Huronwards</h1>
        <h2>
           This lake seems more lake-y
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 55mi
<br>
Climbing: 1450 feet
<br>
Descending: similar
<br>
Difficulty: not bad
<br>
<a href=https://www.strava.com/activities/12138899842>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day46-kindness-small.jpg>

<p>
Got all my errands run in Sault Ste Marie - including "visit museums" and "check out bridge lights at night".  Also got to chat with Mom and Evan and Lori yesterday so that kind of loving social contact always puts a spring in my step as does a rest day and a day of eating plenty!  Conspired to feeling pretty good as I headed out of town this morning around 715.  I had hoped to leave a little earlier but just didn't feel like rushing when the alarm went off.  The forecast had also been downgraded by a couple degrees F so it was less urgent to be done riding in the morning than it had been the night before.
<p>
<img src=https://q42.me/trips/crosscanada/day46-trail-small.jpg>
<p>
I spent a lot of today on the trans canada trail which was also the waterfront trail, but this section was all just the various roads.  To be fair - the first 40 miles of the day were great roads - either extremely low traffic, or a great shoulder.  Really helped the miles fly by since I got to enjoy the ride much more than I do on variable shoulder where I have to be vigilant for traffic approaching from the rear and also be watching the roadway edge to ensure I have a good path for popping off the road and that I don't need to dodge any broken pavement, of which there was plenty today during the last 20 miles.
<p>
<img src=https://q42.me/trips/crosscanada/day46-loonie-small.jpg>
<p>
<i>insist on big change, don't settle for small change</i>
<p>
During that first 40 miles, we were parallel to the highway on farm roads for about 15 miles.  This was the almost-no traffic part of the day.  I saw maybe 5 cars and a cyclist (who was just doing a local ride based on his no baggage and the way he turned around instead of getting onto the highway-of-little-shoulder!).  But the coolest thing about that ride is what looks like a free campground, with water and a bike fixit stand and some covered picnic tables.  And some outhouses (permanent ones, but new construction?) across the street. This is a better "rest stop" than 90% of the roadside ones for cars!  And it was clearly just for bikes and walkers (I think folks walk the TCT and the Waterfront trail).  
<p>
<img src=https://q42.me/trips/crosscanada/day46-amenities-small.jpg>
<p>
<i>The bike/walk rest area</i>
<p>
Stopped in Bruce Mines at a coffee shop for a snack but they had lunch too - a 12$ CAD ruben that was pretty dang good and some honey lavender iced latte to wash it down - good food value especially for a brick and mortar.  This would have cost twice as much in Portland or Vancouver.  
<p>
<img src=https://q42.me/trips/crosscanada/day46-juxtaposition-small.jpg>
<p>
<i>I liked the juxtaposition of the vintage sewing machine cradling the Alexa device</i>
<p>
While I was in Bruce Mines, there was an unexpected "Bike Route!" sign pointing off my intended route, so I stopped to look it up on the map.  Didn't seem like it went anywhere useful/direct, so I went to get back on my bike when I saw that I was at the town museum, and it was still 11:45am and I was 3/4 of the way done with my ride already, so I decided to check it out.  Glad I did since I got a personal tour from Linda and it was a lot more interactive than most museums (which are all pretty similar "here's how our town started and some old stuff people donated!  We're probably located in a former church...").  She also knew the names of the folks who'd been e.g. the postmaster and the switchboard operator, so that was neat when she was showing me their (donated, natch) kit.
<p>
Rode the last 15 miles - shoulder or not (mostly not) up to Thessalon and got situated at camp already.  Time to explore the town a bit, or at least read on the beach which is just across the road...
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
