
---
import Layout from '../components/Layout.astro';
---

<Layout title="Underbiking Overload; Hope">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Underbiking Overload; Hope</h1>
        <h2>
           Hearstrings tugged, surrounded by a beautiful ride
        </h2>
      </div>
<p>
Today was a very emotionally hard - but beautiful - day, with great riding.
<p>
As I rode out, two things were heavy on my heart:  a very strong and healthy seeming friend had gotten very bad health news, and Netlify had layoffs yesterday and almost everyone who works at Netlify is someone I am friendly with or consider a friend.  So I saw a lot online chatter from good folks who had been let go through no fault of their own.  I may need to stop the alumni chat group from showing up on my bike computer, although I was glad to be aware enough to pass out some hugs.
<p>
With that as a backdrop, the ride through Chilliwack was great, and the rest of the day was way better than it would have been had I followed my initial plan to take Highway 1 to Hope;  my warmshowers host convinced me to take Highway 7 instead.  He gave me a great, direct route out of town that was perfect and warned me about the 1.2 mile bridge that would be stressful (I had to block the highway-speed traffic while I hustled over it;  they were patient and let me get across and back onto the otherwise-continuous-all-day shoulder of the road before passing me.  After that, it was 25 miles of pleasant river valley with minimal traffic, and one well-placed gas station that fed me lunch in the shade.
<p>
That highway was quiet, scenic, and low-traffic.  It also featured the third emotionally hard (but very beautiful) thing that I stumbled onto unawares: the amazing and heart-wrenching  <a href=https://skawahlook.com/syexw-choleqw-adventure-park/>sacred parkland created by a nearly vanished First Nations tribe<a>.  The park was gorgeous, had great art and some of the best groomed (green-level) mountain bike paths I've ever ridden - perfect gravel through the trees with mossy shoulders and river views.  But, there was signage describing the small remaining population of their tribe due to, effectively, colonization and cultural genocide.  This land is their very small remaining tribal land and they have created a wonderful space to share and teach about their culture and history.  At first I was giggling because there was much ado about Sasquatch, but as I traveled through the space and read the signs, I learned that they have had experiences with the Sasquatch and consider it a protector, though their tribe was almost wiped out by smallpox and Canada's forced boarding schools for Native children attempted to "train" kids for over a centure to be more Western and forget their heritage.  Yet the tribe has persisted and put together a great and informative display that was realistic about the past but hopeful for the future.  The best line on the signage I saw was:
<p>
"There is room here for your whole self, and all of the emotions of any kind that you may experience"
<p>
...which for me were fairly teary but they also insisted that there was hope as their culture rebuilds and preserves their land, langauge and traditions despite the attempted and nearly-effective cultural genocide of the 19th and 20th centuries.
<p>
Chatted a lot with my warmshowers hosts from last night before setting out today;  the fellow (who is probably 6 inches shorter than me) insisted on riding my bike around the block.  He managed despite it being pretty wobbly with all the gear on and set up for a much taller person (and he was disappointed that I didn't have a quick release on the post to lower it quickly...).  They fed me an amazing breakfast, to the extent that I needed to stop in town to use the bathroom.  To use the bathroom, I bought a coffee - turns out that while I like espresso and tonic separately, them in a single glass was not good.  But trying new things is fun!
<p>
<img src=https://q42.me/trips/crosscanada/day4-squatch-small.jpg>
<p>
On the way into Hope, I caught up with another (local) cyclist who gave me some advice on the high-traffic shoulder (kinda freaked me out since he kept riding in traffic to ride next to me even though I expressed my discomfort with side-by-side riding on at a slow speed as we climbed into town, on the one-lane-each-way highway).  He confirmed my route choice ahead was good and commiserated about the crappy bridge from earlier, and we split up and I found a cute, nice motel for a quick shower, before a visit to the post office, the local bookstore which was recommended by last night's host, and took some cute (?) selfies in the park on the way to dinner at STALLONE'S restaurant, since Hope, BC, is where Rambo was filmed.  I haven't seen the move in decades but it was cute to see all the art and "historical markers" on sites of various movie scenes.
<p>
<img src=https://q42.me/trips/crosscanada/day4-rambo-small.jpg>
<p>
Tomorrow is a hard (nearly 4k feet of climbing, one of my biggest days in the past several yaers), but short (22 miles or so) ride halfway up the mountain to a campground, which is the only thing on the way up the twice-that-high and three-times-that-long mountain, to the next campground, where I'll go the next day!  
<p>
Guessing it may be a few days before I can post again.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
