---
import Layout from '../components/Layout.astro';
---

<Layout title="Fast then Frustrating">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Fast then Frustrating</h1>
        <h2>
           Pretty smooth sailing at the start but got hot, slow, and leaky near the end
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 65 mi
<br>
Climbing: 1690 feet
<br>
Descending: almost the same
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/12147554992>Link to workout in Strava</a>
<hr>
<p>
Not a lot to talk about today, and not many photos, so may be a short post!
<p>
Was up early, before 6, and before breaking down camp I pedalled up to Tim Horton's for breakfast and the all important coffee to regulate digestion on my schedule.  Ate and drank as much as I could and returned to camp carrying an apple fritter for later.
<p>
Finished packing up and rolled at 6:45 and got to ride into the sunrise.  I started out in a construction zone that lasted about 30 miles, which was fairly non-impactful in terms of making the road harder to ride on;  just a couple of flaggers doing one way traffic which made the road somewhat easier to ride on for the first 20 miles or so - traffic would come in waves and then nothing for 5 minutes, which made handling the traffic - even though the shoulders were missing - not too bad.  Made great time for the first 30 miles!
<p>
<img src=https://q42.me/trips/crosscanada/day47-bikelane-small.jpg>
<p>
Around mile 20 the great trail + waterfront trail joined the highway which meant that the highway shoulders got great!  And stayed great pretty well as long as the trail stayed with the freeway.  I'd heard this might happen from some folks who are a few weeks ahead of me, whose videos I watch, so I was ready and happy to see a nice buffered bike lane with a rumble strip in the buffer!
<p>
<img src=https://q42.me/trips/crosscanada/day47-trail-small.jpg>
<p>
Around mile 35 the trail became a separate rail-trail-like affair just next to the highway, which was a little more challenging than highway riding since gravel surface, a bit more climbing (short punchy ups and downs), and occasional gravel-drifts (think a snow drift or sand dune, but it's a pile of gravel at the bottom of a sweeping turn - very easy to lose control in deep anything!).  I didn't crash, but it is possible that the trail contributed to a back flat tire which I was fortunately able to keep pumping up to get to the hotel (noticed it about 12 miles before the hotel and did not want to change the tire on the side of the road).
<p>
<img src=https://q42.me/trips/crosscanada/day47-murals-small.jpg>
<p>
Later, the shoulders went away again (I suppose I missed or ignored the turn off for the trail, but I was also in "just get there ASAP" mode by that point).  With the heat and a bit of headwind, I was feeling pretttty slow and then had to stop somewhat frequently to pump up the tire too.  Bummer end of the ride!
<p>
Made it to the town of Spanish where I am staying in the only hotel, it was just a convenient distance away, no other reason to be here.  Since I arrived though I did already get my places to stay the next few nights booked (and I will have some very wet riding for a few days since I couldn't find a place to wait out the showers that are coming day after tomorrow...looks like I will just ride on through it and be wet, but fortunately, not cold). Also tried to schedule a bike shop visit in Toronto (new tires and tune up), and now I need to change that flat tire...yeehaw!
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
