---
import Layout from '../components/Layout.astro';
---

<Layout title="A Blustery Seaside Ride">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A Blustery Seaside Ride</h1>
        <h2>
           Wrung out my gloves, squeezed between traffic and sand
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 44mi
<br>
Climbing: 2300ish feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href=https://www.strava.com/activities/12114207288>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day44-beach1-small.jpg>
<p>
I slept well, and long, despite the noise from some late night arrival neighbors who showed up after I had bedded down, and were a bit loud...and traffic noise turned out not to be something that bothered me.  Woke up to a lack of rain which as a surprise, but then it kicked in so I laid in the tent for a couple hours reading until it let up.
<p>
<img src=https://q42.me/trips/crosscanada/day44-downhill-small.jpg>
<p>
It was off and on wet all day, including when I set out (I paused for a few minutes at the visitor center - 1 mi from my campsite at the exit to the freeway - and it did stop sprinkling!).  Again today, using my rain gear helped at times, but I got soaked through the rain gear which is not 100% waterproof on two occasions, and the hotel room is draped with various and sundry of things I was wearing today.  Some of it will dry before tomorrow, probably!  The rain was of all types - sprinkle, sunny mist, cold and pelting, warm and splashy - but for the most part didn't degrade visibility that much which was critical considering how much traffic needed to dodge me (I usually dodged traffic, but sometimes it had to dodge me).
<p>
<img src=https://q42.me/trips/crosscanada/day44-signpost-small.jpg>
<p>
Perhaps due to the excessive wetness, or perhaps unrelated, Garmin lost its sense of elevation today so it was showing some nonsense like me going up and down 32% grades (that's probably steeper than I could walk up) and going well below and above the elevation I knew I was at (lake's at one elevation and the highway keeps getting down to its level, but not...below there!)  So my Strava workout has some wrong/weird data and I wasn't sure how much I was climbing during the ride, but that turned out to be no problem - the big climbs just went, although one of them it was pouring rain and windy and that was a bit of a bummer, but I didn't really stop during any of them, just powered through.
<p>
<img src=https://q42.me/trips/crosscanada/day44-squatch1-small.jpg>
<p>
The shoulder was mostly missing alllllll day today in a way that meant I was riding in the gravel next to the pavement a lot, since I would dip off the tiny (0-2') lip of pavement outside the stripe, anytime the radar warned me of approaching traffic from behind, which was several hundred times over the course of the ride.  There was one (worst) uphill portion of the route where the guardrail was 6" from the edge-of-driving stripe on a substantial uphill - leaving me nowhere to ride at 5mph up the steep!  But, the other side had a good shoulder so I walked my bike up that side instead.  Couldn't quite convince myself to bike up the "wrong" shoulder, too freaky being that close to oncoming traffic though I am often that close to same-direction traffic and don't lose much sleep over it?
<p>
Snacked on another couple cool, felt-like-the-ocean beaches today.  Couldn't muster energy for lunch-making, and was lulled into complacence when I started seeing billboards for upcoming stores near the end of the ride and held out for them.  First, came to the store that couldn't sell me a hot chocolate (water boil notice allowed only coffee?) and had to disappoint me again that the apple fritter I had been seeing signs about, and was willing to accept as a consolation prize, was still further down the road.  There, I had an ice cream instead and shivered while I ate it.
<p>
<img src=https://q42.me/trips/crosscanada/day44-weather-small.jpg>
<p>
The hotel I'm staying at turns out to be the home of the apple fritter!  Had one, it was indeed legendary in size and apple-ness.  only 5$ Canadian, quite a steal!
<p>
Tomorrow: Sault Saint Marie where I'll take another rest day.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
