---
import Layout from '../components/Layout.astro';
---

<Layout title="Up, up, and away">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Up, up, and away</h1>
        <h2>
           Started with a big climb; lots more in the town where I started than the one I ended in...
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 59 mi
<br>
Climbing: 2546 feet
<br>
Descending: similar
<br>
Difficulty: moderate
<br>
<a href=https://www.strava.com/activities/12080417353>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day41-sunset-small.jpg>
<p>
Last night after I wrote, I ate and then chatted with Lori whilst I hiked around the town's beach and adjacent trails.  Caught a pretty great sunset, got bitten by some mosquitoes, and met some folks from Japan who were very curious about my trip!  Chatted a bit before I had to head home and ZZzzz.
<p>
Felt sick when I woke up, but eventually rallied and rode;  was a good thing since I had breakfast and lunch all set and would probably not have eaten them had I lolled in bed all day.  Also to be fair, I only didn't loll in bed since the hotel I stayed at was (already) full of other people when I asked the front desk fellow if I could extend my stay, so I did a little analysis and realized the tummy badness seemed to have passed.  Tempted fate with a coffee, but everything just went as planned and I got packed and fed at the neighboring Tim Horton's fairly quickly.
<p>
Nice thing about today's route was that the only really hard climb happened right at the beginning, right out of town, up 400 feet.  Since I'd coasted down 300 feet of it yesterday, I knew what was coming, but I also always prefer climbs when I'm fresh at the beginning of the day rather than closer to the end...it was even still kinda cool out despite it being 10am by the time I got to the top of the climb.  The weather never got past about 80 degrees making the ride and writing this post outdoors (and tonight's camping!) quite a delight, temperature-wise!  There was other climbing, but it was mostly not too annoying.
<p>
<img src=https://q42.me/trips/crosscanada/day41-mark-small.jpg>
<p>
Today - after seeing no cyclists yesterday en route - I ran into Mark, going west!  We chatted for 10 minutes or so;  he said he'd also seen nobody yesterday and was glad to see me today.  We traded intel about upcoming rest stops where we could eat lunch, although he was 2/3 of the way through his ride when we met and I was only 1/3 of the way through mine, we both had the news the other could use...
<p>
<img src=https://q42.me/trips/crosscanada/day41-bigfun-small.jpg>
<p>
Ate lunch at the turnoff to Manitouwadge, where they are proud of their EXTREME ADVENTURE including larger than life snowmachine and ATV (both were taller than me, even though it's a big challenging to tell even with my bike for scale).  There were flushing restrooms at this rest stop, though I still have yet to see one anywhere with potable water, flushing or not.  Like the last flushers I saw back near the Manitoba/Ontario border, they were not in great repair.  But, sufficient to my simple "needs" :)
<p>
<img src=https://q42.me/trips/crosscanada/day41-lakeview-small.jpg>
<p>
I've been liking these nice round 60 mile rides!  One of my distaction techniques while I ride is doing the math in my head - converting the distance signs on the highway from km to miles and then figuring out what proportion of the ride I've completed.  I always try to avoid premature celebration, never thinking that I've made very good progress before I cross over the halfway point, but really celebrating near the end as it goes from 1/2 to 2/3 to 3/4 to 4/5 to 5/6 done - 2/3 to 5/6 all happen between 40 and 50 miles on a 60 mile ride - 40, 45, 48, 50 - and it is a good time in the ride to start feeling a sense of accomplishment and that the end is getting closer and closer.
<p>
<img src=https://q42.me/trips/crosscanada/day41-snowmobile-small.jpg>
<p>
<i>Bighorn sheep aside, I have yet to see any of the warned-about road sign animals after seeing the sign.  To be fair, it's the wrong season for snowmobiles...</i>
<p>
White River, where I am camping tonight (for free!  Funny to celebrate that so hard considering that I am otherwise spending money constantly on this trip...) is the original home of the bear known as Winnie - upon whom the fictional character Winnie the Pooh is based - is from!  Apparently, a soldier bought a bear cub on the train platform here, IMMEDIATELY - THAT WEEK - TOOK IT TO EUROPE WITH HIM WHEN HE WENT TO FIGHT IN WW1, donated it to the London zoo *months* after he'd bought it, and there it lived happily for 20ish years!  During which time, A.A. Milne's kid got to feed it honey, and thus was the character born...
<p>
<img src=https://q42.me/trips/crosscanada/day41-realbear-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day41-pooh-small.jpg>
<p>
<i>obligatory selfie with the larger-than-life pooh statue</i>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
