---
import Layout from '../components/Layout.astro';
---

<Layout title="Rollin' on Up">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Rollin' on Up</h1>
        <h2>
           I'd like more days like this one, please!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 60 mi
<br>
Climbing: 2644 feet
<br>
Descending: similar
<br>
Difficulty: medium-low
<br>
<a href=https://www.strava.com/activities/12275008198>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day57-locks-small.jpg>
<p>
<i>this bridge swings to let boats through!  It's manually operated by cranks!  ...and slow.</i>
<p>
One of the more challenging things about trying to lose oneself in nature is passing auto traffic.  Neither regularly-scheduled nor quite organic, it's jarring and unpredictable and always a slight concern.  I don't worry every pedal-stroke, but it can be easy to forget to smell, and look at, the roses on roads without good visibility or shoulders, and/or ones with heavy and fast traffic.  But there is a point at which you can predict traffic, and I got to enjoy basic predictability both yesterday and today!  Sometimes, there's a bottleneck - a ferry or drawbridge or traffic flagger - that interrupts the traffic flow for a few minutes or more, and few things are as satisfying as following the last car off the ferry, or making it across a drawbridge just before it was opened - because then you know that there won't be any traffic behind you for a moment.  Perhaps several moments, and perhaps several times, especially in case of the ferry!  But either way, for a minute I get a little more immersed in the biking, and the smelling of the roses, and it's wonderful.
<p>
<img src=https://q42.me/trips/crosscanada/day57-sunrise-small.jpg>
<p>
Last night, I rerouted a bit and turned today's 50 mile ride into a 60 mile ride - streamlined it but then pushed to the next town, so that tomorrow wouldn't be a super hard day.  The temperature and my legs feelin' strong colluded to make it a great day!  It started with McDonald's instead of Tim's or A&W for breakfast which is always a nicer start from my PoV.  I even got to walk over to McD's to get the body woken up.  Got all packed up and rolled by 7:15.  About 2.5 miles in, saw Tim Horton's, and stopped for second breakfast of an apple fritter and chocomilk - perhaps surplus nutrition has helped make me so unflappable and strong today?  Not sure but now I'm inclined to eat more in the morning, if I can find reasonably sustaining food I like (I worry - I may be over the "most-available" fast food egg-sandwiches...can be hard to choke down even McD's these days, but the hash brown was easy!).
<p>
<img src=https://q42.me/trips/crosscanada/day57-bearfeeding-small.jpg>
<img src=https://q42.me/trips/crosscanada/day57-nugs-small.jpg>
<p>
<i>Effective signs 101.  That second one says "chicken butt nuggets"!</i>
<p>
I also effectively timed my departure from town so that there wasn't much traffic going my way - opposite the commute into fairly-large Kingston.  I was passed by dozens more cars going the other way (who cares) than ones going my way - by the time it was 9am, and folks might be likely to be returning to the suburbs from errands, I was 25 miles out of town and firmly in the boonies.
<p>
<img src=https://q42.me/trips/crosscanada/day57-trail-small.jpg>
<img src=https://q42.me/trips/crosscanada/day57-frog-small.jpg>
<p>
One neat result of yesterday's reroute/streamlining was that I ended up on some gravel roads and a doubletrack trail.  All of that was traffic free and delightful, though it was lucky it hadn't rained more recently since the trail - which I think is a rail trail - was not super well maintained and was a bit muddy, surrounded by swamps.  On the upside, I finally saw DOZENS of live frogs, which I had seen dozens of dead-only before.  Couldn't figure out how so many dead frogs but then realized that once you find live ones, there are also hundreds of them!
<p>
<img src=https://q42.me/trips/crosscanada/day57-california-small.jpg>
<p>
<i>Didn't make it to portland, but did at least get close</i>
<p>
Spent the first 40ish miles pedaling towards the Narrows (boat) Locks, and had another apple fritter and some liquid there while I watched boats go through the locks, which only raise by 4 feet.  4 essential feet for some other nearby project, but it was interesting to read how folks had interconnected all the waterways in the area and then worried about defending them from the US - as it was an essential military supply route? - while Canada was still "more British than not" back in early 1800s. Unrelatedly, the 15 miles of road surrounding the locks was all twisty and hilly and remote.
<p>
<img src=https://q42.me/trips/crosscanada/day57-rideau-small.jpg>
<img src=https://q42.me/trips/crosscanada/day57-slow-small.jpg>
<p>
(Apparently, accidentally) followed the Rideau trail for some part of today. Mostly slow and steady, much of the way into town (the trail was just the road as far as I could tell, not a separate trail.  Maybe in the winter you're snowmobiling next to the road, on "the trail?"  Not sure!)  Pulled in early despite the extra miles and checked ou the museum (meh).  Also had to test - for science - the local Tex Mex; it turned out to be pretty dang good!  Tomorrow, Ottawa!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
