---
import Layout from '../components/Layout.astro';
---

<Layout title="Hot & Hilly Coastline">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Hot & Hilly Coastline</h1>
        <h2>
           Was great beach weather, but I wasn't swimmin'
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 80mi
<br>
Climbing: 3114 feet
<br>
Descending: similar
<br>
Difficulty: medium-hard
<br>
<a href=https://www.strava.com/activities/12249549807>Link to workout in Strava</a>
<hr>
<p>
Met up with Paul briefly last night for a drink and to hand off my spare tire - once again I'm rolling on new, reliable rubber and don't need the spare!  Also had a couple other things that he graciously offered to ferry home to portland for me.  Then headed back to my place, did some laundry, packed up so I could get a quick start, and went to sleep.  Woke up 1 minute before the 5:30am alarm...
<p>
<img src=https://q42.me/trips/crosscanada/day54-sea1-small.jpg>
<p>
Took a shower, packed a bit more, but started feeling pretty queasy so laid back down for a half hour.  After a little doze I didn't really feel much better but I knew the day would be long and hot so I attempted to eat some starbucks for breakfast and was on the road around 7 (an hour later than planned).  I knew this would be one of my longest day (turned out to be second longest on the trip!) and that the heat was coming back, and thus I made a concerted effort to not dilly-dally, as long as I was feeling ok, which fortunately I did as soon as I started riding.  Stopped for a second breakfast after 20 miles at Tim Horton's, then had lunch at around 50 miles at A&W.  I promise I do eat slow food sometimes, even if not today!
<p>
<img src=https://q42.me/trips/crosscanada/day54-sea2-small.jpg>
<p>
Spent most of the day on the Waterfront Trail route, some street and some path.  Luckily I didn't particularly notice all the climbing - it was mostly smaller climbs that were just annoying rather than demoralizingly long, and there were even some nice rollers that I could bomb down into and then coast up the other side of without shifting way down and spin-spin-spinning.  Many rollers are too spread out to carry much of the speed up the other side, but today had some good short-valley ones that let me feel like a badass pedalling uphill at 20mph for a moment (if the hill is short enough...you make it all the way up in a high gear!)
<p>
Lots of other trail users and other riders or walkers on most of the roads I was on today, so I felt like I was "in civilization" for the whole day.  Sorry I didn't stop for a lot of pictures!
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
