
---
import Layout from '../components/Layout.astro';
---

<Layout title="La Route Verte!">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>La Route Verte!</h1>
        <h2>
           First day riding in Quebec
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 45 + 12 bonus mi
<br>
Climbing: 961 feet
<br>
Descending: similar
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/12309006396>Link to main ride in Strava</a>
<br>
<a href=https://www.strava.com/activities/12309968902>Link to bonus lap in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day59-ottawa-small.jpg>
<p>
<i>Goodbye, Ottawa!  I could have spent longer in you, hope I get another chance!</i>
<p>
Intentional slow start today since the weather was nice and the planned miles were few.  Was nice to be able to eat breakfast in a restaurant at a human hour instead of a vampire hour.  Exited downtown and immediately into Quebec!  A bikes-only bridge fed into a series of mostly paved paths and some bike lanes for a good 15 miles out of the city of Gatineau (I suspect it is similar to Vancouver, WA and Fort Worth, TX - considered by many a suburb of the neighboring bigger city, but a city in its own right by size and its citizens would not use this label to describe their own city.
<p>
<img src=https://q42.me/trips/crosscanada/day59-gatineau-small.jpg>
<p>
<i>Gatineau waterfront, maybe 10mi from downtown</i>
<p>
Nearly immediately in Gatineau, I was routed onto the <a href=https://www.routeverte.com/en/>Route Verte!</a>.  This is Quebec's curated network of bike routes and bike friendly routes, thousands of kilometers.  Today, some trails, some bike lanes, some shoulders.  Always more than nothing and better than unpaved shoulder.  So I am a fan!  Lori got me a paper book about the trails that I've been flipping through.  Somewhere in west Gatineau, an older man on an e-scooter stopped to chat and expressed shock at length of my trip, and shared his incredulity i exclamations in French I couldn't follow, with another fellow on foot, who happened to pass.  Victoria is far to the west!
<p>
<img src=https://q42.me/trips/crosscanada/day59-verte-small.jpg>
<p>
Knowing today was short/easy, I definitely did some improv riding...chasing the path or seeing what's over there.  One such turn accidentally got me to the easiest entry to the state park I'm camping in tonight, by following route verte instead of my more direct planned directions that would have been a lot more highway shoulder and a lot less awesome national park path.  BUT 10 MINUTES FASTER OK?!  This was a happy accident since the park ranger understood the hiker/biker price and got me all set up (informed about destination and paid up) before I wandered directly into the campground per her directions.  I still haven't seen anyone who's asked me for money here - where I happy-accidented into was about 15k from the place I'm camping!
<p>
<img src=https://q42.me/trips/crosscanada/day59-shadow-small.jpg>
<p>
<i>I enjoyed when folks who greeted me on the paths said bonjour today instead of hi</i>
<p>
<img src=https://q42.me/trips/crosscanada/day59-bikecamp-small.jpg>
<p>
Hiker/Biker camp means not having to plan - they will make sure you get a place.  But I shouldn't have worried as I am the only one here in what is at least 4 sites.  It's the day after a long weekend so maybe I JUST missed the party?  Not sure!  I got all set up at camp by 3:30 or so and was feeling peckish.  Instead of cooking dinner at 3:30 I set off for some bonus miles exploring all of the paths the island part of the park I'm camping in has to offer.  12 miles of mostly off-road unpaved paths.  Nice views.  Other folks on bikes.
<p>
<img src=https://q42.me/trips/crosscanada/day59-swamp-small.jpg>
<p>
Came back, cooked, ate, and will soon go read myself to sleep before another pretty short day tomorrow.  It was a couple short days or a long one so I went short!
<p>
<img src=https://q42.me/trips/crosscanada/day59-rockpicnic-small.jpg>
<img src=https://q42.me/trips/crosscanada/day59-brakes-small.jpg>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
