---
import Layout from '../components/Layout.astro';
---

<Layout title="More Hot Times at Lake Ontario">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>More Hot Times at Lake Ontario</h1>
        <h2>
           ...sweated through my clothes by 9am
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 77 mi
<br>
Climbing: 1821 feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href=https://www.strava.com/activities/12258106782>Link to workout in Strava</a>
<hr>
<p>
Set out around sunrise from the hotel back into town for some breakfast at Tim Horton's (about 3.5 miles from the frankly amazing motel I stayed in last night).  En route, I got to ride a road "Choate Road" that reminded me of some friends from <a href=https://texas4000.netlify.app>my texas4000 tour 17 years ago</a> whose last name is Choate!
<p>
<img src=https://q42.me/trips/crosscanada/day55-sunrise1-small.jpg>
<img src=https://q42.me/trips/crosscanada/day55-sunrise2-small.jpg>
<p>
Port Hope turned out to be fairly populous - nearly 20k folks - so I could have done better if I'd tried (McDonald's breakfast is the best fast food breakfast for this guy's taste buds - but there are very few McD's in smaller towns, it's nearly all Tim Horton's and A&W).  But, this morning, 2 blocks after Timmy's was McD's.  I was already fed by the time I saw it so didn't stop, but had I done my research I could have eaten slightly better.  However, silver lining: this way I *did* get an apple fritter for later, so that was a win about 2 hours down the road!
<p>
<img src=https://q42.me/trips/crosscanada/day55-salem-small.jpg>
<p>
<i>I always giggle at the Oregon-named things in Ontario.  Day after tomorrow I'll detour to go through Portland!</i>
<p>
I felt it flip from "cool" to "warming" at about minute 10 of my ride - looked down and saw the thermometer reading 61 degrees F at that moment.  There is no humidity meter but it was clearly high humidity based on the amount I sweated even before it really warmed up.  I was drinking gatorades like whoa, and took some electrolyte pills too, but am still dehydrated enough to get leg cramps as I write this, so drinking some more electrolytes now.  Fortunately, it didn't feel hot (despite the pouring sweat) until around 11:30 when it finally crested 80 degrees heat index, so the first half of the ride was pretty great!  Less trail today - mostly roads - which were mostly ok.
<p>
<img src=https://q42.me/trips/crosscanada/day55-crossing1-small.jpg>
<img src=https://q42.me/trips/crosscanada/day55-crossing2-small.jpg>
<p>
<i>I did see both a tractor and a drawbridge shortly after these signs!  Aside from the swans a week or so ago, it's been extremely rare to see the thing warned about on the "X crossing" signs...</i>
<p>
Fortunately the ride today was fairly small-town-adjacent so I could stop for second breakfast (mostly a liter of chocolate milk and a bit of gatorade to go with the fritter), then I stopped at a breafkast restaurant which I thought would be the last service I'd see before the end of my ride. Got a to-go wrap, and some pastries.  The wait staff was so kind - insisted on feeding me all the ice water I could drink while I waited, and then gave me a free gatorade on the way out the door since I was visibly soaked through and sweaty.  When I stopped to snack an hour later, that gatorade was clutch - still cool! I tried to eat the wrap which was pretty bad, but the pastries and gatorade were fine, so I tossed the second half of the wrap and carried on.
<p>
<img src=https://q42.me/trips/crosscanada/day55-oldroad-small.jpg>
<p>
<i>Not certain the oldness of the road was really related to my dislike of it.  The pavement was not the oldest pavement in Ontario!</i>
<p>
Here came 15 miles of riding that was the worst of the day - a small but mostly steady shoulder on a fairly well-trafficked road - which I could have skipped if I'd been smarter.  Close to the start of this section of road, I found a rail trail parallel to the road, but it nearly immediately crossed the road and headed north, the opposite way I was trying to go.  Apparently, that trail curved south in fairly short order since I picked it up again (as planned) at the end of that long, crappy section of road.  Oh well! 
<p>
<img src=https://q42.me/trips/crosscanada/day55-bells-small.jpg>
<p>
<i>This bike shop was cool even before they helped me</i>
<p>
While crawling down the rail trail - it was nearly 2pm now and I was hot and tired and still soaked in sweat, but at least not hounded by traffic anymore - a spoke in my rear wheel suddenly broke for no discernable reason.  I stopped to google bike shops - could I find one in the town I was going to?  No.  However, found one only a couple miles away from me which I knew was also a warmshowers host (since I'd asked to stay there, but got no response from them - pretty typical of my recent experiences, sadly).  Fortunately, this shop was AMAZING! They dropped everything to help me immediately, and ended up replacing two spokes since another (original) spoke broke while he was truing the wheel after replacing the first one (so he got to deflate the tire again, and replace the second spoke and then re-seat and reinflate).  Once done, they wouldn't let me pay.  So - I left them a nice tip and a killer review on google maps, and carried on the final 5 mi into Picton where I am staying.
<p>
At almost exactly 3pm check-in time, I arrived at the cutest AirBnB with swell hosts in the cute town of Picton.  Now to go explore (on foot) since the town is small and walkable.  Fortunately, tomorrow is a short day into Kingston, and is forecast to be rather cooler!
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
