---
import Layout from '../components/Layout.astro';
---

<Layout title="A delightful ride into Ottawa">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A delightful ride into Ottawa</h1>
        <h2>
           Plenty of trails, pleasant roads, perfect weather
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 55 mi
<br>
Climbing: 830 feet
<br>
Descending: slightly more!
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/12283794852>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day58-clouds-small.jpg>
<p>
<b>oops - sorry I forgot to post this friday after writing it then!</b>
<p>
I struggled to develop a sense of urgency about departing for the ride, as the weather looked like it would be nice all day; took awhile to get out of bed!  But, I treated myself to another two breakfast morning again!  Since at 6:45 the neighboring Wendy's was open only to cars who could trigger the drive through bell, which me-on-foot could not, I headed to nearby McDonald's instead.  Had pancakes and bacon, then went across the street to Tim Horton's for a chocolate milk and apple fritter before setting out.  Of course, I always take a fritter for the road when I do this and this day was no different.
<p>
Today's road out of town was a little busy with commuter traffic since I had delayed my own start, but it had a good shoulder all the way until it was time for me to turn off.  After that, all the roads were pretty low traffic farm roads, and then a bunch of trails all the way into Ottawa!
<p>
<img src=https://q42.me/trips/crosscanada/day58-antibollard-small.jpg>
<p>
<i>...or you could put bollards in?</i>
<p>
<img src=https://q42.me/trips/crosscanada/day58-forest-small.jpg>
<p>
I rode on dozens of miles of gravel trails, had a fun forest-tunnel moment, saw a couple ATV's further out in the country, but soon only bikes and peds for quite a few miles (at some point motorized traffic became verboten on the path).  Finally,  paved trails for last 10+ mi into town.  And tons, tons, tons of trail users!  Ottawa likes to get outside, even on a friday afternoon!
<p>
<img src=https://q42.me/trips/crosscanada/day58-trail1-small.jpg>
<img src=https://q42.me/trips/crosscanada/day58-trail2-small.jpg>
<img src=https://q42.me/trips/crosscanada/day58-trail3-small.jpg>
<p>
Despite my late start, I was still arriving too early for my airbnb in Ottawa, but fortunately there was a cafe on the bike path where I stopped for lunch.  Spent a couple hours reading there, and a fellow cyclist at this cafe forced 20 bucks on me (which I used to buy a beer at the barcade on sunday!)...but he also gave good advice on how to get around the area which I took advantage of on my day-off tourism, as I visited museums and barcades and bike paths and Quebec, oh my!
<p>
Last social interaction en route to town was a couple on bench at park, who gave me all kinds of tourist advice which I made good use of.  Especially excited to take their advice on the "correct" routing on the other side of the river that I'll ride on this week between Ottawa and Montreal.
<p>
Random thing I learned on friday:  <a href=https://catonmat.net/fibonacci-miles-kilometers>you can rather accurately convert kilometer to mile using fibonacci numbers!</a> 
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
