

---
import Layout from '../components/Layout.astro';
---

<Layout title="Dodging Downpours">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Dodging Downpours</h1>
        <h2>
           ...with some success!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 51mi
<br>
Climbing: 2165 feet
<br>
Descending: slightly less
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/12182801957>Link to workout in Strava</a>
<hr>
<p>
You could skip the next 3 paragraphs if you just want to read about the riding!
<p>
Rest day in Lion's Head was odd.  My legs were tired but I was more worried about the severe rain alert for my area, including some lightning bolts!  Several forecasters agreed, surely the biblical floods were coming?  Well, it rained hard for an hour or so, but mostly was cloudy or clear all day.  I could likely have outridden the rain,  had I set out at my usual time.  But at the time I went to bed the night I had arrived in town, the weatherman still said YOU WILL REGRET IT and so I stuck with my plan to not depart in the morning.
<p>
I got out of the hotel after the library had opened and tucked my bike (minus the laptop case) behind the fire station (Lion's Head is a small enough town that folks didn't lock their bikes; I locked mine to itself making it a very awkward 120 pound weightlifting challenge).  I had thought about going straight to breakfast at the only restaurant in town which I had enjoyed dinner at, but I planned to nurse a beer there all afternoon, so I didn't want to just camp out night, morning, and then all afternoon in the same place (though I suspected they'd be ok with it, I wanted to try to keep it reasonable?), so I put off eating for a bit and got the blog posted and did some other homework from the library, mostly around confirming and improving my routes forward from there which I'd laid out but not really scrutinized carefully.  Fixed things up, worked through some email backlog, read a bit, chatted briefly with the librarian (this was a one-room library) and watched the townspeople cycle through.  Library closed at 2 and airbnb not available til 4, so had to do something between; the restaurant did have TV's and kinda considered itself a bar?  So  I treated it like one.  And ate more good food.
<p>
During my library time, the rain came down loudly enough to be audible for a moment, and steadily for maybe an hour.  It drizzled and spit on and off but otherwise was a fine day.  No thunders nor lightnings observed.  A bum forecast meant that this was not a required rest day, which was part 1 of the odd.  Part 2 was the airbnb I had to move to since hotel was unavailable for another night;  it was a room in some folks' house.  It was fine, but the door wouldn't quite close and opened onto their kitchen/living room/hallway the bathroom was in, so I got to listen to their dinner and nighttime bathroom visits more than I might have liked.  But they had a tiny kitty (not a kitten, it seemed, just small cat) who bravely let me pet her a couple times but mostly was fascinated with my room which I guess she wasn't otherwise allowed in...
<p>
<img src=https://q42.me/trips/crosscanada/day50-mist-small.jpg>
<p>
The ride today was good!  I did successfully not ride in any rainstorms, though I got a few drops on a few separate occasions.  However, I was soaked through from the fog that was out when I started, and then added to it all my sweat from riding.  Cool and cloudy, started out on some nice back roads that got more and less busy and more and less shouldered throughout the day.  Never really dangerous except the little piece of highway I had to ride on to bridge a gap from one back road to another, and that was just standard "unpaved shoulder" but it was pretty soggy which made it extra challenging and slow.  Not deadly, tho!
<p>
<img src=https://q42.me/trips/crosscanada/day50-trail-small.jpg>
<p>
Had quickie mart snack after about 20 miles, and in the parking lot of the circle K, chatted with a couple who had ridden across quebec once and were excited for me to see the route verte and other facilities that quebec has for cyclists.  Felt good heading out of town (Circle K was in Wiarton, ON), since I knew I was off the highway for the day.  Headed south on more backroads about 25 miles towards Owen Sound including a nice rail trail (?  seemed rail-trail like though I think from other evidence it may not be) just as the rain was starting to pick up; the dark clouds had already been overhead for a few miles but I had just stared em down.  Struggled with my soggy phone to find a place I could sit for a few hours, found a brewpub at about 11:45 and it was the right decision (the place was open - just barely, at 11:30 - and spacious enough to let me camp!).  Locked the bike and gear up on the patio, brought the laptop and kindle inside.  Had some pretty good poutine, and some good beer.  Managed to nurse each beer for about an hour, as I watched the forecast for the storm I could see out the window stretch out from 1 hour to 4 hours.  Around 3:45 the rain let up and around 4pm I started to believe it wasn't just a lull and set out for the final 10 miles.
<p>
<img src=https://q42.me/trips/crosscanada/day50-falls-small.jpg>
<p>
The night before, Lori had helpfully found me a scenic waterfall nearby to check out, and while I was watching the rain, I confirmed that my route went right past it.  I saw a sign for it during one super steep (8% grade, but I was riding) climb and thought briefly that I'd missed it, but there it was, just to the left of the road.  I pulled in, took a picture, and rolled.  Not much to see there plus I still didn't 100% trust that it wasn't going to rain again.  It was kinda sprinkling on and off...
<p>
Shortly after that, got to the rail trail that I finished on (and will spend most of tomorrow on) and it was consistently good riding, even in the wet (though there were puddles, they were navigable).  Excited for tomorrow when it'll be super trail-tastic!  About half/half the day after heading into Guelph.
<p>
Once I arrived, I discovered that my rear panniers had not survived the deluge unscathed - both had let some wet in.  The one with my laptop and clothes was only halfway a bummer since laptop was safe in its plastic bag cover, and there were some dry clothes to change into.  But bummer since most of the rest of the stuff is somewhere between damp and wet, so I guess I'll bag it up and try to dry it out again in the next hotel.  Or at Albert's place I can just wash and dry it, but would hate for it all to hang around wet for 2 days first.  Why did this happen, is my gear failing?  No.  Somehow the interior zips - the ones that make them dry bags - had come down.  Possibly when I was cramming them overfull of stuff, over and over again?  Anyway, I re-zipped and all shall be well, soon enough.
<p>
should have taken a photo of the ad for my hotel *on the rail trail*; made me feel like I picked the right place.  But this place is kinda a dump.  It'll do for drying out a bit, but it's pretty meh.  At least they have some food I can eat so I don't have to go out in search on the highway or cook my own.  Had a nice chat with Meredith tonight.  Now for food and bed.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
