

---
import Layout from '../components/Layout.astro';
---

<Layout title="Rail Trails all the way">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Rail Trails all the way</h1>
        <h2>
           less traffic, less steep
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 62mi
<br>
Climbing: 1624 feet
<br>
Descending: less
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/12190644283>Link to workout in Strava</a>
<hr>
<p>
The hotel I stayed at Sunday night wasn't restful (worst I've stayed in this trip) but I still managed to get a late start after dashing down some oatmeal.  I hadn't intended to leave early or anything, just surprised I managed not to since I was up by 6 or so.  But, rolled out around 9, hit the rail trail, and went south for the next 8 hours.  The trail was great!
<p>
<img src=https://q42.me/trips/crosscanada/day51-trail1-small.jpg>
<img src=https://q42.me/trips/crosscanada/day51-trail2-small.jpg>
<img src=https://q42.me/trips/crosscanada/day51-trail3-small.jpg>
<p>
It was gravel, so I moved a little slower - it was long day timewise/ridingwise despite normal mileage.  But the surface was in general great (worse at the very beginning and end;  recently resurfaced for probably the middle 50 miles and nearly uniformly great - even when wet - in that section.  Views varied, and other trail users were few (maybe 15?  8 on ATV's, which are allowed on this trail.  couple other non-touring cyclists, and a few walkers, canine and human.  Also, the weather stayed nice - windy (from behind!) cool, cloudy all morning and sunny in the afternoon.  There were swans!
<p>
<img src=https://q42.me/trips/crosscanada/day51-warning-small.jpg>
<img src=https://q42.me/trips/crosscanada/day51-swans-small.jpg>
<p>
I'm not sure I enjoyed the all-gravel-trail day of riding enough to do exactly that again;  paved trails are less effort to ride for sure and it was 7+ hours on the bike yesterday for a normal length trip with no steep climbs.  But the no-traffic allll day - I rode without my helmet and without concern - were great!  More of that today so we'll see how it goes, but half on the road too.  And a friend at the end!  (Staying with former-riding-buddy Albert, at his parents' in Guelph tonight).
<p>
<img src=https://q42.me/trips/crosscanada/day51-twirl-small.jpg>
<p>
<i>When the wind towers are pointing at you, the wind will be in your favor.  This was the closest one to the trail.</i>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
