
---
import Layout from '../components/Layout.astro';
---

<Layout title="Valley of (liquid) Sunshine">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Valley of (liquid) Sunshine</h1>
        <h2>
           Good and Bad but not Ugly
        </h2>
      </div>
<p>
I split up what I was planning to do in one day: a rather large climb, into two days (today and tomorrow), thanks to intel from folks I'd met so far.  Sure am glad I did because I was pretty spent after "just" this portion! I'll celebrate a rare thankful moment for a mapping error that had inserted an out and back on the steepest part of the climb into the GPS route, which I of course declined to turn around and do once I realized while riding.  So - today's ride was pretty short - (<a href=https://www.strava.com/activities/11550629550>link to the workout on Strava</a>) but also one of the biggest climbs I've ever done in a single push.  Nonetheless, tomorrow's ride (<a href=https://ridewithgps.com/routes/46931914>link to route on RidewithGPS</a>) is still 20  miles longer, and 1000 more feet of climbing than today, so I'll be getting a good workout despite these tired legs.  The next day (<a href=https://ridewithgps.com/routes/46937657>Link to route on RidewithGPS</a>) is 35ish miles and 2500ish feet of climbing.  I imagine I will be very ready for a rest day after those rides, and that town of Princeton I'll be coming into is the biggest settlement around for several days in each direction, so it's a good place to take it.  But first, I have to get there through the wilderness - there is almost no settlement along this route!
<p>
<img src=https://q42.me/trips/crosscanada/day5-carpet-small.jpg>
<i>at some point I rested on this neon green very spongy boulder</i>
<p>
Today I'm staying at an RV park that has warm showers and a hot tub I've already taken advantage of once and shall again before bed, but also have active bear traffic, so I was glad I geared up in Hope, mounting the bear spray and the bear bell on the bike.  Tonight I'll leave my food locked in a bear locker away from the tent and sleep with none of it.  It's pretty blustery, but pretty, and I'm tucked back in the only few trees yet the highway is only a few hundred yards away so I am hearing traffic whenever it passes, which is not constant, but is frequent.  Not sure what it'll be like overnight, probably a bit less?  Anyway I've got earplugs...
<p>
After settling into camp and warming up in a hot tub, I made it over to the Tashme Museum as recommended by my host night before last, and was glad I did.  This site - literally the RV park - was an internment camp for Japanese Canadians during WW2, and the museum demonstrated and talked about the life in the camp, which was a grave injustice much like the American versions of these camps, including outright theft of all property of the displaced people by the government despite promises that it would be repatriated.  Still, much like the adventure park I described yesterday, the people of the town made the most of their lot and built a strong cooperative culture despite the trauma of displacement and thorough, loud, systemic racism, and fortunately this type of camp lasted for only a few years unlike the residential school system for brainwashing natives which lasted for over a century.
<p>
It was interesting to read in the museum that Canada has (had?) a Minister of Anti-Racism.  Sure wish America was trying as hard, but I can't see that happening in the near future in our political morass.
<p>
Today I started the best path to weight reduction for my gear:  eating the 20+ pounds of food I have along!  pb&j for lunch, dehydrated meal for dinner and breakfast, and similar plans for the next couple days.  I haven't found any gear I don't want, and seem to keep adding more on - I picked up a (very lightweight) book from the bookshop yesterday (local history) and will finish it up tonight and leave it behind for someone else.  But otherwise should start seeing minor net reductions in weight as I eat more of the food I brought - which may last me all the way until I meet Lori in almost 4 weeks.
<p>
<img src=https://q42.me/trips/crosscanada/day5-dinner-small.jpg>
<p>
I already have a warmshowers host lined up in Princeton for the first night I'll be there, though it's just camping in their yard (with use of their shower, wifi, and laundry).  I may get a hotel for the second day/night depending on how the weather is and how the town's public spaces are - I'm hoping for more than just a coffee shop to hang out and blog in, but maybe they'll have a library that's cozy and the weather will get a bit warmer.  That is likely to be the next time you hear from me - on Monday - since I am more certain that there is no cell service/network at my next stop.  But maybe I'll be surprised again :)
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
