

---
import Layout from '../components/Layout.astro';
---

<Layout title="Back Into Civilization">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Back Into Civilization</h1>
        <h2>
           ...now, with many creature comforts!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 62 mi
<br>
Climbing: 1900 feet
<br>
Descending: slightly more!
<br>
Difficulty: moderate
<br>
<a href=https://www.strava.com/activities/12198908441>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day52-trail1-small.jpg>
<img src=https://q42.me/trips/crosscanada/day52-trail2-small.jpg>
<p>
I struggled a bit with my prior ride,  even though the terrain was easy, but am happy to report that today felt better despite similarly challenging terrain!  Out on the road before 7am so I could be at the breakfast restaurant near when it opened;  a powerful meal of banana-blueberry pancakes and sausage brought me to mile 20 without thinking about food (or wishing I had).  Weather was cold enough that I wore pants but tried to keep the shorts available for a quick change if needed, but it never was.
<p>
<img src=https://q42.me/trips/crosscanada/day52-bigsky-small.jpg>
<p>
<i>Almost felt like Montana's Big Sky country for a minute there</i>
<p>
Started out on the roads in town, but transitioned to a different rail trail about 10 miles outside of town which had an equally good surface to yesterdays - better perhaps since ATV's are not allowed on it and this is actually enforced with some pretty narrow gates, which I brushed repeatedly as I re-entered the trail after crossing roads.  This trail had a fair number more users than yesterday's despite it being only 1/3 the length I traveled on it, perhaps because civilization was rapidly becoming denser as I approached Guelph? I suspect Guelph probably doesn't quite consider itself a suburb of Toronto, but on the map it's starting to get close, and we're starting to see less space between stuff even in "the countryside".  Last couple of days I have not really needed to carry much water/food since the route was well stocked, which should change my riding a lot from a "hurry to the next service!" to more "enjoy the ride", maybe?  Hopefully!
<p>
<img src=https://q42.me/trips/crosscanada/day52-canoe-small.jpg>
<p>
<i>I wonder if this "head" of a canoe captured and mounted by a hunter put up a hard fight?</i>
<p>
As I transitioned from some intermediary roads to yet another trail that led into Guelph, I had to cross Ontario's oldest (built 18xx, reinforced many times), only remaining (I think?) covered bridge, which is called the kissing bridge - apparently a "traditional toll" was a kiss?  One supposes the bridgekeeper was fairly selective in whom he charged...The bridge was pretty ratty and in poor repair, so enjoy one of its more flattering angles.
<p>
<img src=https://q42.me/trips/crosscanada/day52-kissing-small.jpg>
<p>
The trail into Guelph was nice and fed me into their nexus of in-town biking trails, which I found nice but a bit lacking in major street crossings (often had to go a block to a light, cross, and then head back up the block on the other side to continue).  However, always enjoyable to bike through a new city separate from cars!
<p>
<img src=https://q42.me/trips/crosscanada/day52-guelph-small.jpg>
<p>
Second to last stop of the day is the home of the famous poet John McCrae, who wrote the haunting <a href=https://www.poetryfoundation.org/poems/47380/in-flanders-fields>In Flanders Fields</a> based on his experiences fighting in several large wars.  He died pretty young, 45, as a decorated soldier, doctor, and poet, and his house was frankly not super interesting but neat that it could be maintained as a historical monument now.  I mostly visited and took this picture since my last name - McCraw - has its origins from Clan Macrae in Scotland.
<p>
<img src=https://q42.me/trips/crosscanada/day52-mccrae-small.jpg>
<p>
Finally rolled into Albert's house, where I met his family, he cooked us a great chicken dinner, and then some of his friends stopped by and we played some new-to-me board games.  A good ride with a satisfying finish and sleeping in a home with people I like felt pretty good!
<p>
<img src=https://q42.me/trips/crosscanada/day52-falls-small.jpg>
<p>
<i>only waterfalls I saw today were all man-made</i>
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
