---
import Layout from '../components/Layout.astro';
---

<Layout title="A Short Slog">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A Short Slog</h1>
        <h2>
           Not a long day, but still felt hard
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 43 mi
<br>
Climbing: 1115 feet
<br>
Descending: similar
<br>
Difficulty: Easy, but felt hard.
<br>
<a href=https://www.strava.com/activities/12266992176>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day56-morning-small.jpg>
<p>
Picton was cute!  Airbnb was swell!  AirBnB hosts provided an amazing and protein-tastic breakfast of including a lot of local stuff like coffee, berries, honey, homemade granola, specially-formulated high-protein spread for my breakfast sandwich, and tomatoes from their garden.  I was their second guest (ever) and I am going to advise them to double their price; they were far and away the cheapest place to stay in Picton yet it was a rather deluxe and attentive experience.
<p>
<img src=https://q42.me/trips/crosscanada/day56-ferry-small.jpg>
<p>
Today's ride was planned to be short and easy - not much climbing and nearly 50% shorter than yesterday.  But, first I had to get to the ferry, which was about 5 miles from the Airbnb.  That short ride felt pretty good, but after the break for the ferry ride (20 minutes or so from pulling up to disembarking - short one!) I started dragging a bit and couldn't shake it for the rest of the day.  There was a headwind most of the day which was annoying but not terrible, but it definitely slowed me down.  Got a pick-me-up of seeing many cyclists riding the road I was (for over 30 miles, after the ferry!), and fortunately none passed me going my way (would have been easy since I was moving so slow!  But, I didn't have to swallow any pride and remind myself that hey I am carrying 90 pounds of stuff when someone breezed past.)
<p>
The sun played peekaboo from behind pretty solid cloud cover, emerging for more than a moment around noon, but it was nice and cool all day since the sun never did come to stay for more than 30 minutes.  Lack of sun definitely offset the annoyance of the headwind - since I just didn't sweat much at all today, after pouring sweat allll day yesterday and struggling with the associated dehydration.  Hopefully tomorrow will be similarly cool but less windy?  Really as long as it isn't hot and windy, I'll do fine.
<p>
<img src=https://q42.me/trips/crosscanada/day56-loyalist-small.jpg>
<p>
Rode all day today, and much of yesterday, on the "Loyalist Parkway", where if I am reading the plaques right, many folks who fought against America's independence for the British were granted land on relocated to after the Revolutionary war in the late 1700s.  This is pre Canada being very self-regulated, so I guess it was just "British gave it away".  Good scenery all along it, pretty good reward to have 200 acres of lake frontage...before there was even a road out to some of it (go by boat!).  Today, I see few redcoats and little anti-American sentiment along the route, but they sure do have tons of Loyalist street sign labelling, business naming, etc!
<p>
<img src=https://q42.me/trips/crosscanada/day56-bikehouse-small.jpg>
<img src=https://q42.me/trips/crosscanada/day56-quilt-small.jpg>
<p>
I'm pretty early to check into my airbnb so chilling at the site of the sailing events in the 1976 olympics, which is a pretty boring boat dock.  It is next to <a href=https://en.wikipedia.org/wiki/Kingston_Penitentiary>a defunct historically important penitentiary</a> - running since forever (1835) and longest running at the time it closed (operating til 2013).  
<p>
Gotta kill a bit nore time before I can check into my airbnb.  Some of that will be looking for ways to make tomorrow's ride a bit shorter (can't get much shorter, but I had added on 5 mi to visit Portland, Ontario, that I'll probably undo in favor of, well, arriving less exhausted!)
<p>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
