---
import Layout from '../components/Layout.astro';
---

<Layout title="Into the 4th Largest City in North America">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Into the 4th Largest City in North America</h1>
        <h2>
           A crush of people but still kind and friendly
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 71mi
<br>
Climbing: 2234 feet
<br>
Descending: about 1000 feet more
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/12216798359>Link to workout in Strava</a>
<hr>
<p>
<p>
<img src=https://q42.me/trips/crosscanada/day53-fishart-small.jpg>
<img src=https://q42.me/trips/crosscanada/day53-fishart2-small.jpg>
<p>
Had a nice rest day in Guelph, eating great homecooked food at Albert's house, chatting with him, and managed to pick up the just-arrived contacts Lori had mailed me a week and a half ago.  Mailing between Canada and the US is kinda complicated and slow, is one thing I've learned on this trip!  Albert had decided to bike to Toronto with me, so we set out after a great breakfast (thanks to Albert's mom!)
<p>
Guelph is about 50 miles as the crow flies to Toronto, but the roads aren't super direct, and the ones that are more direct are also less pleasant. So, we ended up riding over 70 miles to draw the two legs of a right triange, and effectively biked south to the waterfront as a start.  This first half of the ride was country roads, and we made great time - probably the best first 35 miles of any day I've had on tour in terms of consistently fast pacing, even despite the hills.  We were averaging almost 14mph which is definitely the high end of what I can sustain loaded, but felt great!
<p>
<img src=https://q42.me/trips/crosscanada/day53-skyline-small.jpg>
<p>
Finally, we reached the shore of Lake Ontario - my first time seeing it - and turned left (east).  Stopped for a bite to eat as we were fully "in town" now; we had already gotten a lot slower as this section was already pretty urban.  I spent a lot of effort following the waterfront trail which tended to be pretty but then have to detour away from the shore for a block before heading back, so it wasn't very direct, and even on the direct road that parallels the lakeshore, traffic was heavy and there were frequent stoplights.  The peepshow of the skyline kept getting bigger and bigger as we suddenly rounded corners, but we made much slower time and we rolled into town around 4pm.
<p>
<img src=https://q42.me/trips/crosscanada/day53-froyo-small.jpg>
<p>
Albert and I split up: he met up with the friend he was staying with and I got settled into my place which is pretty hilariously across from a comic convention. Thanks to the comic con, there has been GREAT people watching (many folks in costume), since I arrived, all over town but especially near where I'm staying.  Marched through that swirl of color and creativity and went to dinner with Albert and his friends.  Some good conversation over dumplings, bubble tea, and Korean frozen yogurt which is probably the weirdest thing I've eaten on this trip.  It...was powdery, doesn't melt in the bowl, but does melt in your mouth.  The flavor was interesting, the textures were amazing and novel.  Still not sure if I liked it but it was a cool experience!  It also had mango, cheesecake, and cornflakes in it?
<p>
<img src=https://q42.me/trips/crosscanada/day53-albert-small.jpg>
<p>
Knowing I'd stay a few days, I had scheduled some work on my bike, so dropped off the bike first thing (giving them some time to recover from unexpected issues - which there were!), and then Albert tour guided me around town: to the art museum, through Chinatown, kensington market, graffiti alley, and times-square-like Yonge & Dondas.  He'd lived here for awhile while he went to school a few years ago.  It was a whirlwind tour and also a lot of walking around town which I always enjoy.  We said our goodbyes "til next time" and went our separate ways.
<p>
<img src=https://q42.me/trips/crosscanada/day53-amor-small.jpg>
<p>
Lori had figured out that a different friend, one from Portland, was also in town!  So, for dinner I went to meet Paul Z.  We grabbed a meal, hung out, and walked around a bit including to "the stacks" - a neat quasi-unofficial public space built out of shopping containers, a mini-mall where we unexpectedly saw (but did not smell) a (wild) skunk. Then, made plans to meet up again in the morning for another full day of adventure.  I ended up walking almost 17 miles this day!
<p>
<img src=https://q42.me/trips/crosscanada/day53-paul-small.jpg>
<p>
Next day, we spent the day exploring on bikes after breakfast: picking up my bike (which had to get new pedals, though I had paid someone to refurbish the already-pretty-new ones I had about a thousand miles ago, I guess either they didn't do it or it wasn't done well), then riding along the waterfront to the ferry to toronto islandwhere we spent the afternoon, walking the bizarre downtown-spanning underground/enclosed "Path", ate good food, and then slept it off.
<p>
Today I'll meet Paul one more time to hit the Royal Museum, have already run errands and this evening I'll getting pack up and sorted out for the next week, riding into Ottawa!
<p>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
