
---
import Layout from '../components/Layout.astro';
---

<Layout title="Uphill, both ways, in the rain">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Uphill, both ways, in the rain</h1>
        <h2>
           Still seen no bears, deer.
        </h2>
      </div>
<p>
Slept very well after the second hot tub visit last night.  There were no bumps in the night, and even the highway noise was pretty minimal despite being a few hundred feet away with nothing to interrupt the sounds of the passing vehicles.  But still, it gets light by 4:30am at this latitude and so I woke earlier than I might have otherwise, and still there was good network signal from my tent (this RV park had figured out the mesh networking setup!), so I lazed for a while before getting up.  The park's staff was all new and their website let me substantially overpay for the tent site ($45 vs $10 intended for bikers), but they said they would try to get a refund for the difference now that they had realized what happened.  And I think that if nothing else, the (friendly!) staff will be more aware of cyclists coming in in the future, and offer the cheap rate :)
<p>
It had rained a lot overnight, but not enough to wash away the bear poop I found next to my tent.  (I found it there the day before, before I set up!)  But my tent was pretty wet, so I set it out to dry, hanging from the washroom building's covered deck, and then started to figure out food.  I had promised myself that I would make and eat two breakfasts to ensure I was well-fueled enough for today's ride, and I did, and it worked!  I ate a double instant oatmeal "with protein" (says the label) and a handful of raisins, and then some weird cocunut kale rice thing that Lori had been gifted but wasn't interested in.  It was good enough to eat and I managed to finish that too.  Felt good about the fuelling, and it was time to roll, and while there hadn't been any sun in Sunshine Valley while I was there, it also hadn't rained by the time I left, although it had looked various levels of threatening.
<p>
The ride out today was flatter, or anyway typically not straight uphill for miles without a break.  It did start raining after an hour or so, but not enough to bother me very much, certainly I didn't put on a rain jacket or even change anything about my clothes, which were fortunately (ok, intentionally) 100% wool and did pretty much keep me warm even as they got soaked through with rain and sweat.  I stopped whenever I felt tired, or there was a roadside sign, or I felt like I could eat.  This is not the way I am used to biking;  I am used to pre-fueling, drinking 3 pints of water and being a camel for the duration of a longish ride which I finish with minimal stoppage.  However, this accustomed pattern has not been serving me well at this point in my life anymore - despite it supporting me in most endeavors as recently as 5 years ago.  One of the stops was a trail to show off the local rhododendrons, which are mostly not in Canada except for this spot.  I was a few days too early for the "show" but found a couple early bloomers:
<p>
<img src=https://q42.me/trips/crosscanada/day6-rhodie-small.jpg>
<p>
Near the top of Allison Pass I started to see another cyclist ahead in high-viz colors.  He was not moving much faster than me and I was going pretty slow since this was the end of a long climb that I'd been resting, snack, and stopping my way up.  I saw him walking his bike a few times, and I was not shy about doing so myself, especially when the grade went above 7%, which my Garmin "helpfully" highlit for me.  I passed him just as we were cresting the summit, asking him only "going to Manning?" (my planned next stop was the Manning Park visitor center area) and when he grunted an affirmative, I said "see you there!" and kept going my speed up the last few feet over the pass.  I was by this point soaking wet from sweat and rain and it was starting to get cool, 50 degrees or so.  Yay for wool!  But I still wanted to get to the next thing which was hopefully a warm thing, ASAP.
<p>
<img src=https://q42.me/trips/crosscanada/day6-allison-small.jpg>
<p>
I cruised mostly-downhill to the spot, which was not my end spot, but a "see what's at this populated area" stop.  There turned out to be a cafe so I decided I was going to eat there, and stood outside to see if the fellow I'd passed was going to stop as he should have been close behind me.  He did finally roll up and I explained my plan to eat here and he said he'd join me, but he desperately needed to charge his ebike battery while we ate.
<p>
We chatted and ate and Albert and I are on similar missions to figure out what's next, though he's 15 years younger than me.  Taking a break from the old life and trying to transition into the new, using the time to bike tour and think.  After warming up, I confirmed the direction of the campground I intended and that that campground had showers, and rode out so I could set my tent up before the rain got any worse.  It was a 5k or so ride, mostly downhill, to the closed campground.  Which was locked.  So, I turned around and rode back uphill, in the rain, and found Albert still charging, and we discussed a change of plans.  
<p>
So now we're at the RV campsite a few miles up a side rode, in a campsite that cost $71, a new high for me (Albert insisted on helping to pay so it wasn't as horrible a value as it would have been for just me).  But there were showers and water and trees, and after riding the last 4k - yes, all uphill - to this campsite, some of which was walked due to a 9% uphill grade, I was not about to ride further especially since I think the next campground was something like 10k back past the spot I'd already turned around.  I just wanted done.
<p>
I got set up and showered, then cooked and chatted more with Albert, stashed food in the bathroom where a bear could presumably not open the door to? then somehow found the energy to go on an hour long hike around a pretty lake.  Now, sleep!  Tomorrow we should end up in the same town at the same warmshowers host, but it seems unlikely we'll ride together since he's e-powered and I am just gonna be tired and having to do yet another big ol climb.  Hopefully not in the rain?
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
