

---
import Layout from '../components/Layout.astro';
---

<Layout title="Bucolic miles towards Montreal">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Bucolic miles towards Montreal</h1>
        <h2>
           Beach to beach riding
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 40 mi
<br>
Climbing: 833 feet
<br>
Descending: similar
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/12318333846>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day60-scenery-small.jpg>
<p>
Slept long and poorly.  Awoke a bit before the sun ; very cold and damp (dew/condensation). Intentionally "slept in" til 8 to let the sun crest the horizon so I could start drying the tent as soon as I left it.  Did that.  Cooked & ate oatmeal.  Dropped, then found sunscreen as I was packing up.  Departed.
<p>
<img src=https://q42.me/trips/crosscanada/day60-cyclists-small.jpg>
<p>
<i>I wasn't quite sure if this was intended to be a rest stop for cyclists "stop, for cyclists!" or an admonition to drivers: "STOP FOR CYCLISTS".  So I didn't sit</i>
<p>
Had to ride backwards - back towards Ottawa - 5 miles to get back to the highway from the island/national park I was at.  Then, turned and made my way through Papineauville and a string of nearby small cute towns along the rivershore (the river is massive - Ottawa river).  Second breakfast at Tim Horton's there - I ordered in French and only got one wrong item (apple juice instead of orange juice, which was fine)!
<p>
<img src=https://q42.me/trips/crosscanada/day60-sign-small.jpg>
<p>
<i>This sign means you must ride 3 abreast, right?</i>
<p>
Third breakfast at a fromagerie in the next town, had coffee and a pastry to kill some time.  Tried ordering in French and she just repeated back to me in English.
<p>
<img src=https://q42.me/trips/crosscanada/day60-guy-small.jpg>
<p>
Ate my own food in the next town: PB&J with Tim Hortons apple-fritter-saved-for-later.  While pulled off and able to check my laptop, briefly considered pushing on to the next bikes-guaranteed-accommodation campground instead of the one that was only 40 miles from the start (and thus not too far down the road by this point), but decided not to after seeing it was +25 miles to that next one.  Tomorrow will be a normal-length day, around 60 miles.
<p>
<img src=https://q42.me/trips/crosscanada/day60-american-small.jpg>
<img src=https://q42.me/trips/crosscanada/day60-texas-small.jpg>
<p>
<i>The first picture is a modern muscle car and no less than 4 eagle statues flanking the driveway.  USA!  The second made me do a doubletake for the texas road sign...aaaaand the confederate flag flying in the background.  USA :(</i>
<p>
Campground is "on" the Route Verte - the official route runs through the campground which is a lil silly but also cool I guess - easy to rejoin the route tomorrow!  After some hunting, found the camp host, paid up, settled in, watched the local fire department do a photo shoot with their new truck, route planned (now I'll go an extra 5 miles tomorrow but be on the route vert almost the entire way!), showered, now blogging on the beach.  Later, you guessed it - dinner! - reading, and snoozing.
<p>
And then there was a wonderful sunset, on this my likely last night camping on the trip.  Helped remind me that this is free beauty I get to soak in all day but it's also priceless.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
