
---
import Layout from '../components/Layout.astro';
---

<Layout title="Mostly Trails into Montreal">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Mostly Trails into Montreal</h1>
        <h2>
           a pleasant and soft landing!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 63 mi
<br>
Climbing: 1581 feet
<br>
Descending: similar
<br>
Difficulty: medium-easy
<br>
<a href=https://www.strava.com/activities/12327010700>Link to workout in Strava</a>
<hr>
<p>
<img src=https://q42.me/trips/crosscanada/day61-campground-small.jpg>
<p>
<img src=https://q42.me/trips/crosscanada/day61-respectsign-small.jpg>
<p>
<p>
Got up shortly after dawn, but took about an hour and a half to get packed and get breakfast cooked and ate.  Once I escaped the campground, transitioned immideately to a path before 10 miles or so back on the roads before mostly-paths (or at least cycletracks - 2-way bike lanes designated on normal streets) all the way into Montreal!  And you know I like riding some paths :D
<p>
<img src=https://q42.me/trips/crosscanada/day61-vagabond-small.jpg>
<img src=https://q42.me/trips/crosscanada/day61-path-small.jpg>
<p>
<i>this stretch of path even had a pedestrian lane!</i>
<p>
Had a snack in the first town I hit - 15 miles or so in - but then didn't really eat or drink until about 45 miles in.  Not my best move since despite getting fueled up, it was a bit of a slow feeling for the last 20 miles or so - guessing I got behind on nutrition and it's hard to come back from that!
<p>
<img src=https://q42.me/trips/crosscanada/day61-quadno-small.jpg>
<img src=https://q42.me/trips/crosscanada/day61-quadwarning-small.jpg>
<p>
<i>The densest warning signs of the trip!  4 for the price of 1!</i>
<p>
the last 25 miles or so were pretty urban, albeit, often the trail was winding through parks so it wasn't always urban feeling, just had busy roads before and after the parks.
<p>
<img src=https://q42.me/trips/crosscanada/day61-ornatebeachlog-small.jpg>
<p>
<i>a guy carved some pretty ornate logs on this beach I happened to stop at for a rest!</i>
<p>
<img src=https://q42.me/trips/crosscanada/day61-sharrows-small.jpg>
<p>
<i>I suppose you COULD just paint sharrows across the whole intersection to alert drivers to the bikeway?</i>
<p>
Am a bit torn to be probably ending my ride here - after all this riding I'm kinda "in the zone" (but, my butt still hurts every day), and also belatedly realized that camping at night feels a lot better than a hotel even though a hotel is substantially easier.  Only took me a few months to figure that out, I guess?  Maybe friend Hillary, whom I'll stay with for a couple days, will convince me that Quebec City is super nice and how could I not also ride there before calling it?  Will spend the next couple days here in Montreal coming up with a plan and will let you know here :)
<p>
<img src=https://q42.me/trips/crosscanada/day61-yardart-small.jpg>
<p>
<i>some yard art in the wild.  Probably not the best picture, but it was a lot of shady art!</i>
<p>
Dinner/Breakfast, and walking around Montreal with Hillary and her fiancee Rosanna felt great!  I miss being surrounded by friends and I miss the bustle of a city - well, my city!  But, camping these last two nights was also really nice to be out in the world, soaking in nature, trees, beach, sun.  Still, maybe I could take a rest from touring and go enjoy the remains of summer in Portland?
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
