
---
import Layout from '../components/Layout.astro';
---

<Layout title="More downhill than up">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>More downhill than up</h1>
        <h2>
           Soggy night gave way to brilliant riding
        </h2>
      </div>
<p>
The afternoon and evening were quite wet.  After we went to bed, the park ranger came over and (in a polite, Canadian way) forced my compatriot to move his tent to comply with an unstated rule that limited our camping to the parking area of our campsite for erecting tents, rather than the surrounding, more comfortable dirt.  This RV park is pretty new, so I guess they are picky about things.  Or maybe BC Parks is.  Fortunately, I'd stuck my tent in the gravel since there wasn't an already-clear space big enough in said dirt for me, and at pitchin' time, I was in a hurry to get set up before everything could get soaked.  But Albert got up from his slumber and re-pitched his tent, justifiably grumbling as he did.  Then it proceeded to rain all night, finally taking a small break sometime around 3 so I could go pee without needing to put on waterproof clothes, though it was raining quite hard by the time the sun rose and for the next hour or so.  It decided to only-drizzle for a bit so we packed up in a hurry.
<p>
The prior day, we had developed a plan to go eat in the cafe on the way out of the camp area, but instead we spent quite some time drying up and repacking in the bathroom-foyer, which was heated and enclosed (during which I cooked myself some oatmeal breakfast - outside! - while Albert tried to dry his stuff under a hand drier).  Since I had already eaten first breakfast, and since it was merely sprinkling and not raining hard when I got to the cafe, I just kept riding (Albert had eaten while drying his stuff out and was no longer planning to stop - but was waiting for his ebike battery to top off before setting out).  I knew the next 5km since I'd been down intending to camp down the road already, but after that it was unknown, though I saw <a href=https://ridewithgps.com/routes/46937657>on RidewithGPS</a> that there was some substantial elevation gain, so I was anxious to get it started so I could get it done.  I assumed Albert would pass me at some point during the day since he was going to be powered.
<p>
The sprinkle stuck with me for the first 10 miles or so, at which point I stopped for a snack.  As I rolled, the rain stopped and the sun started to peek through and has stayed with us since about 9:30am, which made both the ride and the afternoon of hanging out in a park in the middle of Princeton, BC, much nicer!  But first we had to get there...
<p>
<img src=https://q42.me/trips/crosscanada/day7-sunday-small.jpg>
<p>
After cresting the summit, I knew there was still climbing so I didn't start celebrating too quickly, but after the next climb, this sign indicated that it might, indeed, be celebration time:
<p>
<img src=https://q42.me/trips/crosscanada/day7-downhill-small.jpg>
<p>
And so it was mostly downhill into Princeton and there was much zooming (<a href=https://www.strava.com/activities/11565985880>link to Strava workout</a>).  I cruised into town about 20-30 minutes before Albert, grabbed a snack and researched hotels, and we met up in the tiny park in the middle of town to make plans.
<p>
Needing a rest day before I can climb anymore without serious grumbling, I found a suitable cheap hotel to stay at a couple nights, and have managed to get my tent dried out already and most of my gear charged.  Albert and I will have dinner together in town (maybe with the warmshowers hosts - he is still staying with them even though I bailed to the hotel), and then he'll set out tomorrow and quickly outdistance me since he's leaving a day earlier, bit also, he's younger, fitter, and has an ebike.  The reason I caught him yesterday is that his bike ran out of battery, which is the main reason I had never considered touring on an ebike...
<p>
You can check out Albert on instagram: (azb3k), if you like.
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
