
---
import Layout from '../components/Layout.astro';
---

<Layout title="Over the River and through the Valley">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Over the River and through the Valley</h1>
        <h2>
           A day off followed by a fairly easy and fast route
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 42mi/67km
<p>
Climbing: 1371ft/417m
<p>
Difficulty: Medium-low
<p>
<a href=https://www.strava.com/activities/11582492213>Link to workout on Strava</a>
<hr>
<p>
My legs were complaining about the miles around as much as my soul was lifted by the same miles, so I spent around 40 hours in Princeton, BC instead of pressing on the next day, especially since my compatriot-by-chance was turning off my route anyway.  I took the chance to rest said whiney legs, but also to resupply (increasing load) while also decreasing load (throwing out a few things and mailing a few more back to the states so I don't have to carry them up the remaining Mount-Everest-or-Two worth of climbing on my route before the end of the month!)
<p>
After I wrote about my ride a couple days ago, I did indeed enjoy dinner with Albert and also the couple whom I had planned to stay with.  Since my tent had been so wet when I packed up, and camping in a wet tent while it is raining is terrible, I had bailed on camping in their yard and that turned out to be a mistake since the weather became sunny and their yard turned out to be a gorgeous spread against the creek outside a wonderful home, which we sat in and chatted with more amazing people for awhile before Albert decided it was time to turn in, and so we split up - but not before Albert and I exchanged hugs and best wishes since there is only a small possibility of our paths crossing again on this trip.  We also took some pictures for the memory book;  here's the best:
<p>
<img src=https://q42.me/trips/crosscanada/day8-albert-small.jpg>
<p>
The next day was my rest day, and I had a reasonably long to-do list which I got 95% done!  I managed to:
<ul>
<li>grocery shop (I don't think that I quite managed to add 5 pounds to my bags, but it was close...)
<li>mail off some postcards
<li>eat well (I had brisket nachos;  they were amazing)
<li>mail home 5 pounds of gear (>5% of my ~90 pound load).  I am carrying too much and it is making the climbs miserable...this was an attempt to reduce the misery!
<li>did laundry
<li>fixed some of my gear to the extent I was able (re-tightened my front wheel, managed to rethread a drawstring that had come halfway out of a pannier, repacked)
<li>and explored town a bit - went to the museum, checked out some plaques and statues, etc.  Below you'll see  view from the Kettle Valley Rail Trail which I've been advised not to take since the surface changes a lot and some of it isn't bikeable on my bike...
<li>Met another couple who was one day behind me on a similar trip at the grocery store!  They were heading to the same folks that Albert had stayed with the night before...I think <a href=https://www.facebook.com/simon.brain.104/>this is the fellow on facebook</a>.
</ul>
<img src=https://q42.me/trips/crosscanada/day8-pano-small.jpg>
<p>
<i>panorama from the Kettle Valley Rail Trail just outside town.  Most of that is a huge Weyerhauser lumber plant</i>
<p>
Today I had scouted out the diner with the big breakfast that opened early and enjoyed my "Sportsman's Breakfast" before getting packed up, pounding a bunch of water, and rolling out.  I pounded too much water, it seems, since I've had to pee several times since setting out, but better to have too much liquid than too little!
<p>
Following the route I had planned, which for maybe the first time matched the recommendations of the warmshowers hosts, left me across the river from the highway for the first 20 miles, which was great and traffic free.  
<p>
<img src=https://q42.me/trips/crosscanada/day8-goatsign-small.jpg>
<p>
<i>unfortunately, I kept my eyes peeled and despite multiple signs like this, there was no sign of any goats!</i>
<p>
The next 20 miles the highway had come to meet my road and we rolled together for a further 20 miles into the town of Keremeos, where I attempted to get a good milkshake (status:  best of the trip, but still meh...), and then got the largest gyro I've ever seen for lunch, and am now killing a bit of time in the library posting this before I head to the campground I'll stay at tonight, which you may agree is cute:  <a href=https://www.oldgristmill.ca/>The Old Grist Mill</a>.
<p>
<b>Note: I would enjoy hearing from you, reader!  Drop me an email or text if you feel like it and I'll respond as soon as I can :)</b>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
