
---
import Layout from '../components/Layout.astro';
---

<Layout title="A good, very hard, day">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A good, very hard, day</h1>
        <h2>
           Walked and rested more than I rode for the second half of the day, but MADE IT.
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 51 miles / 82 km
<p>
Climbing: 5500 feet / 1676 m
<p>
Descending: ~3000 feet / 914m
<p>
Difficulty: moderate morning, brutal afternoon
<p>
<a href=https://www.strava.com/activities/11592547141>Link to first half of workout in Strava</a>
<a href=https://www.strava.com/activities/11592266147>Link to second half of workout in Strava</a>
<hr>
<p>
Had another crisis of faith today, prompted by of all things, a tech snafu.  My bike computer refused to boot up despite being fully charged when I was done riding yesterday. It's not super essential since I have my phone and the routes are in RidewithGPS, but it's a big psychological safety blanket, especially since my phone battery doesn't last super long when being used to track activities in real time...and I'd just mailed my phone mount back to the states since I hadn't used it yet!  I use the Garmin bike computer to navigate but also to track the work: How much further?  (so I'm now 1/6th of the way there, and I'll be 1/5th in how long?) How steep is this anyway?  (I don't try to ride 9+% grade with my load, but walk it instead since I can barely spin in first gear at that steepness).
<p>
In this state of distraction, I rode towards the major town of the day, Osooyos, scheming about how I could possibly get a replacement computer anytime soon, plotting how I'd pitch to their tech support team that I was going to call from lunch at Osooyos.  When I got there, I did the standard "hold the power button for awhile and try to reset it" and of course it started right up!  Disaster averted before lunch, I had to confront my naysaying morning-self who assumed it would take all afternoon to resolve the Garmin situation and had decided "well, we can stay in Osooyos while we work to resolve this;  don't have to worry about climbing 3500 feet in the afternoon heat after all!" 
<p>
<img src=https://q42.me/trips/crosscanada/day9-challenge-small.jpg>
<p>
Elden sent me a text today that "you will" (get through it) and somehow his gentle assurance was a big part of what motivated me to set out up the hill.  I walked more than half of the way - 5+ miles on foot - all the steepest parts but also just when I was too tired, or the shoulder was barely there, I felt like I could react better to an approaching car on foot rather than weaving up the hill at my "barely able to pedal" pace - 5mph (walking speed:  3.7mph, so it wasn't much slower...)
<p>
I left town around 1pm and got to the top of the 17ish mile climb at 5:15pm, after stopping at the only restaurant within 20 miles, which was a decent mexican cafe in the middle of nowhere.  Thank goodness for the meal so I don't have to cook tonight but also at the spot the restaurant was, there was only 2.2 mile left to ride, and 500 feet to climb still.  But, I rode that whole final climb without walking after calculating that it probably wasn't 9+% grade.  (Garmin agreed).
<p>
<img src=https://q42.me/trips/crosscanada/day9-summit-small.jpg>
<p>
The RV park is a little hippy-dippy but I felt welcomed and they moved me to a spot with better grass so the tent is cushy tonight.  Also I was told to "shower like you're at home!  30 minutes, an hour, two hours, go nuts!" but I only took a normal shower.  Still, it was my sweatiest day yet and so the shower was excellent.  Set up camp very slowly, took a handful of electrolyte pills to hopefully stave off cramps that I felt coming on, and now I am typing this wearing the dorkiest hat (with the mosquito netting) since the bugs were giving me some grief, although not really the biting type fortunately.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
