---
import Layout from '../components/Layout.astro';
---

<Layout title="Some Time Off">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Some Time Off</h1>
        <h2>
           ...but ready to get back to it!
        </h2>
      </div>
<p>
Since I last wrote, Lori and I spent some time getting back to the states (by car), and then we spent almost 2 weeks with my family.  In the past 5 days, I spent the better part of 3 days on the train, kicked around Vacouver a little bit and Winnipeg a lot, and will start my ride again tomorrow!  The next few weeks are pretty rural, so I may not be able to post every night but I'll write every night and post when I can.
<p>
I spent the last couple days preparing for phase 3 of the trip, and my bike (got a tune up in seattle) and gear (sent a bit more stuff home to make room to carry more food; replaced the cleats on my shoes that were not staying clipped in very well, refreshed soap and food supplies) are all ready to go in the morning!  I had some deep thoughts on the train and while I traveled but none of them "stuck with me" enough to post here...
<p>
I took a ton of pictures and will include a few below, including some highlights below:
<p>
<img src=https://q42.me/trips/crosscanada/daysbetween-sweatshirts-small.jpg>
<i>We cruised to Alaska! The family got matching sweatshirts, which I will let my cute niece and nephew demo for us</i>
<p>
<img src=https://q42.me/trips/crosscanada/daysbetween-glacierwedding-small.jpg>
<i>to the surprise of parents and in laws, I got to officiate my sister's wedding, on a glacier outside of Juneau!</i>
<p>
<img src=https://q42.me/trips/crosscanada/daysbetween-bears-small.jpg>
<i>Saw more bears in captivity than I got to see in the wild.  Still, neat!
<p>
<img src=https://q42.me/trips/crosscanada/daysbetween-paddle-small.jpg>
<i>got some paddling in at one of the stops</i>
<p>

    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
