---
import Layout from '../components/Layout.astro';
---

<Layout title="foolish travels">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>foolish travels</h1>
        <h2>
          I'll be journaling about my journeys here. Summer 2024 bicycling across Canada!
        </h2>
<hr>
      </div>
<h3>
<b>Some posts from before I set out on this trip, about gear and preparation</b>
</h3>
<a href=/routeplanning-1>30 Dec 2023: Route Planning</a>
<a href=https://fool.medium.com/the-first-days-of-the-rest-of-my-life-1d2bc2852991>21 Jan 2024:  The first days of the rest of my life</a>
<a href=https://fool.medium.com/on-the-why-of-adventuring-and-how-im-approaching-my-new-direction-in-life-5039bf0c0781>22 Jan 2024: Happy Accidents</a>
<a href=/a-short-and-bumpy-start>16 Feb 2024: A Short and Bumpy Start</a>
<a href=/shakedown-ride-and-campout>20 Feb 2024: Shakedown Ride and Campout</a>
<a href=/loops-vs-outnbacks>21 Feb 2024: Loops versus Out-and-backs</a>
<a href=https://fool.medium.com/silver-linings-3807642529ea>7 Mar 2024: Delays and Silver Linings</a>
<a href=/back-on-track>15 May 2024: Back on Track!</a>
<h3>
<b>Posts from the road</b>
</h3>
<a href=/day0>26 May 2024: Hurry up and wait</a>
<a href=/day1>27 May 2024: To the Edge</a>
<a href=/day2>29 May 2024: A Host with the Most</a>
<a href=/day3>30 May 2024: Seduced by well-meaning MUP's</a>
<a href=/day4>31 May 2024: Underbiking Overload to Hope</a>
<a href=/day5>01 Jun 2024: Valley of (liquid) Sunshine></a>
 

			<div class="resource-list">
<hr>
I've linked some older blogs about trips below.
        <ul>
          <li>
            <a href="https://texas4000.netlify.app">2007: Texas to Alaska</a>
	  </li>
          <li>
            <a href="https://foolishtravels.tumblr.com/">2014: California to Texas + New Zealand</a>
          </li>
          <li>
            <a href="https://bestcoast-part1.netlify.app/">2019: Vancouver BC to Yachats, OR</a>
          </li>
        </ul>
      </div>
    </div>
	</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
