
---
import Layout from '../components/Layout.astro';
---

<Layout title="Loops versus Out-and-backs"
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Loops versus Out-and-backs</h1>
        <h2>
           A litany of small things and a big one
        </h2>
      </div>
<p>I delighted in taking a different route home from <a href=/shakedown-ride-and-campout>yesterday's trip</a> than planned; I consider more variety more better in almost every circumstance, and trip routes are no different, though I'd been lazy and figured I'd just go back the same way by default.  Even better, a route with the same ratio of multi-use path as yesterday's ride presented itself!  The campground I was at was right where the <a href=https://www.columbiacountyor.gov/crownz-trail>Crown Zellerbach trail</a> which I took for the last half of yesterday's ride met up with the <a href=https://stateparks.oregon.gov/index.cfm?do=park.profile&parkId=104>the Banks-Vernonia trail</a>, so I decided last night that I would go the "other way" home.  The distance is about the same, but without the brutal climbs, and almost no dirt/gravel.  In the cool light of morning, that plan continued to jive with the rained-all-night-and-until-I-finished-packing-up-my-tent hors d'oeuvres which left me worried about some of the steeps I'd intended to ride today if I returned via the CZ trail.
<p>Ate at a diner in town, 3 blocks from the campground, and took my time hoping for the rain to let up.  It didn't really, so I headed back and packed up, doing as much as possible in my tent - which thankfully stayed waterproof despite a pretty steady overnight rain!  But then I had to take down the tent and it was still raining, so I just packed it up wet since I knew I'd get home later today where I could dry it out easily.
<p>The ride started out well, with the first 15 miles being rather pretty, fairly quiet (the path went away from the highway for awhile), and a bit damp.  But then my crotch started hurting - no big deal, I thought, my butt hurts sometimes too and I just keep riding and this, too, shall pass.  What wouldn't pass was the more populated roads that started to border the trail, as I was returning to civilization ready or not.
<p>After limping into Banks with increasing soreness, I had gas station lunch and then headed dutifully onwards on my original 55-mile planned route..  About 2 miles in, the pain had come back, so I decided to change pants in case these new pants were causing the problem.  Pants swapped on the muddy roadside with only minimal hassle and 0 surprise drive by flashings (road was pretty rural).  But, the pain persisted.  So I rerouted into the next suburb's downtown, which was still probably 10 miles away, to catch a train for as much of the rest of the way home as I wanted to.  How much?  TBD on how I felt by the time I got there, which was "ok" to good (with some time out of the saddle - the time I was on the train).
<p><div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="10810480911" data-style="standard"></div><script is:inline src="https://strava-embeds.com/embed.js"></script>
<p>So, took the train to the top of the hill, avoiding 12 or so miles of suburban riding and a big climb to the zoo, but zoomed down on my bike, and headed home with relative ease.  
<p><div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="10810994335" data-style="standard"></div><script is:inline src="https://strava-embeds.com/embed.js"></script>
<p>All of the time I rode today, I was thinking about all the things this trip has left me to follow up on, so here's a list of all the things I'll need to deal with ASAP:
<p>
<b>done already!</b>
<ul>
<li><strike>email bike fitter about testing a different seat to confirm</strike>
<li><strike>find drawstring-grabber for pannier</strike>
<li><strike>figure out tent pole and screen repair (do I need to order parts? yes!  And I did!)</strike>
<li><strike>schedule bike-boxing w/tire swap at metropolis</strike>
<li><strike>in case strava embed no workie, check that out</strike> (it still no workie.  I figured out <a href=https://docs.astro.build/en/guides/client-side-scripts/#opting-out-of-processing>this astro change</a> was what I needed, and it works now!)
</ul>
<p>
<b>immediate</b>
<ul>
<li>scheduling a haircut
<li>research clunking sound in drivetrain
<li>check out video editing software
<li>figure out how to make sure garmin only posts to strava if I tell it to (I'd rather post from my phone)
</ul>
<b>soon</b>
<ul>
<li>repair tent poles
<li>repair tent
<li>try an overnight without the second sleeping mat (so cushy, but also takes up a lot of bag space!)
<li>order fuel to Gavino
<li>garmin tweak
<li>learn camera
<li>evaluate USB cables to see if I need additional
<li>need to remount the "cupholder" to be sturdier
</ul>
<p>But first, a cup of chocolate milk, my favorite recovery drink!
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
