
---
import Layout from '../components/Layout.astro';
---

<Layout title="route planning">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Route Planning</h1>
        <h2>
           The plan so far is in 2 or 3 parts.
        </h2>
      </div>
<p>
      I intend to set out on midafternoon on 12 March from Portland, OR to Del Rio, TX by Amtrak.  I'll arrive in Del Rio at 1am on 15 March after two separate ~30 hour rides, and plan to get some sleep in Del Rio, eat breakfast in town, and then set out riding later that day.  I'll follow the <a href=https://www.adventurecycling.org/routes-and-maps/adventure-cycling-route-network/southern-tier/>Southern Tier route</a> and aim to be in Austin within a week.  For the next month and a half, I'll carry on along the southern tier route until around the time the route goes from Alabama to Florida, when I'll turn north and head for Atlanta where I can catch a train back to Portland.
<p>
      I'll regroup and then set out north by car with Lori to Vancouver, BC, and we'll take a ferry over to Victoria, BC, from where we'll ride north to catch a return ferry at Nanaimo and I'll set out east taking inspiration from <a href=https://www.google.com/maps/d/viewer?hl=en&mid=1NEEQLv7IXuf_KMahsVfYfvCD1WBA2F5K&ll=50.96118733519039,-106.97309488952523&z=2>this map</a>, while Lori heads on to her next adventures.  I'll meet up with her again near Banff in late June, and we'll ride together around the area with an intention to end up in Jasper wherefrom we'll head back to the west coast to meet the family for a weekling cruise from Seattle to Alaska, before taking Amtrak & VIA rail back to where I'd left off to continue eastward.  
<p>
      Tentative plan is to use VIA Rail to skip a chunk of the middle part even though it does go through Jasper, and resume my eastward journey from Winnipeg, where I'll head on as far towards the eastern edge of Canada as I can get before it starts getting wintry.  Realistically this is probably something like Eastern Nova Scotia since the ferry I'd want to take back from the end of the route east in Newfoundland only runs until the end of September, and I'm not likely to make it there in time.  I can ride back to Halifax to catch the train all the way back across Canada, probably stopping for a week or so in Montreal on the way.
<p>
      I'm attempting to make this journey without flying at all.  I don't love flying nor its ecological impact, plus taking a bike and camping materials on the plane is logistically challenging at best. Also, I'm looking for more chances to travel slowly and intentionally and give myself time to think, write, and read.  So the train fits in well and I'll enjoy several <a href=https://www.amtrak.com>Amtrak</a> routes as well as the <a href=https://www.viarail.ca/en>Canadian VIA rail system</a> before the end of this year's journey.  
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
