
---
import Layout from '../components/Layout.astro';
---

<Layout title="Shakedown Ride And Campout">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Shakedown Ride And Campout</h1>
        <h2>
           Fully loaded and pretty tired
        </h2>
      </div>
<p>It's 7:40pm and I'm waiting for my dinner to reconstitute at a campground in Vernonia, OR.  I had a good ride today, first ride with all 4 corners loaded (front and rear panniers).
<p>I've never been one for half measures, so I took my untested-and-last-used-by-someone-else tent (can you smell the foreshadowing?) and grabbed most of what I thought I'd be taking on tour with me in a month.  Around noon I finally set out for a 44 mile ride, half on dirt/gravel and out of cell range, with more climbing than I've ever done on this bike.  
<p>
<div class="strava-embed-placeholder" data-embed-type="activity" data-embed-id="10804936467" data-style="standard"></div><script is:inline src="https://strava-embeds.com/embed.js"></script>
<p><i><a href=https://www.strava.com/activities/10804936467>here's a link to the strava route</a> since I am having trouble getting the embed graphic above to show up.</i>
<p>
And there were more firsts:  first time I'd ridden the last 10 miles or so of this route;  first time using the <a href=https://www.garmin.com/en-US/p/798777>fancy Garmin</a> that Lori got me;  first time (trying to;  haven't looked at the results yet) video parts of my ride and my tent setup.  First time spending a night in Vernonia, and hey, <a href=https://www.vernonia-or.gov/departments/parks/#camping>this campground</a> has a friendly host, is open year round has showers and dry tables and plugs, so not a bad stop for bikes!
<p>
I'd ridden 3/4 of the route I did today before, and it went about as expected:
<ul>
<li>normal/no rain in the neighborhoods before I crossed the river (5 miles), also almost the only place I saw other cyclists until near the end of my ride
<li>monotonous but not objectionable on the highway up to the trail (16 more flat miles)
<li>trail was gorgeous even in the winter (I am not sure I'd ever ridden in the winter before, though I have ridden portions of this trail a dozen or so times before), and almost unpopulated.  I saw maybe a dozen walkers and 2 cyclists for the entire rest of the trip, and the trail ended in Vernonia less than a mile from the campground.
<li>I knew there was a steep climb, but I somehow hadn't realized there were 2 sharp (mile or three) 600+ foot climbs on the route, and I was pretty tired by the time I got to the second one.
</ul>
<p>
I don't love camping in the rain, but I'll take it over riding in the rain;  most of the day it looked threatening and the ground was rather wet, but I didn't get rained on too much before I got here.  Not enough to really need the rain jacket and definitely not enough to need rain pants.  But my panniers and shoes were pretty spattered, even if my pants were pretty dry at least above where the wet shoes had touched the cuffs and allowed them to wick up water, thanks to the VERY THOROUGH fenders on this rig!
<p>
I'll figure out the video tomorrow once I'm home, I don't even know if it turned out or how to edit the weird 360 camera's view, but I noted that it only ran for about 1.5 hours on steady record before it petered out, and that it was happy to charge from the power brick I brought even while I rode.  The Garmin also managed to charge from the dynamo hub while I had it plugged in while I was on the long flats out of town.  I imagine the camera could get charged right where it is mounted as well, will have to test that out next time it's drier and I'm zooming.
<p>
Things I forgot or should acquire:
<ul>
<li>gaiters?  Not sure worth the hassle but might keep the pants from getting too wet/dirty to want to bring into the tent.
<li>a catch for one of the front pannier's drawstrings so they don't disappear into the neck (seems it was forgotten during assembly)
<li>a knife!  Struggled with elastic-worn-out in my tent cords and could have fixed it if I had a knife.  All I brought was a spoon
<li>didn't quite end up with the right combo of USB cables but it'll do to recharge camera/phone/garmin and would have charged laptop if needed.
<li>need to remount the "cupholder" but I'll probably do that before I set off tomorrow
<li>Garmin needs a lot of tweaks to be quieter, and show me what I want to see (time and odo primarily) while I ride.  And I need it not to post to strava for me though it was cute to have it read the upcoming climbs off to me, so not sure I want to totally disconnect it either..
</ul>
<p>Camp is set, I'm showered and fed, off to call Lori and then read myself to sleep!  Tomorrow I ride back, maybe I'll go a different way home though since some of those steeps in the dirt were more challenging than a paved road or rail trail would be..
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
