
---
import Layout from '../components/Layout.astro';
---

<Layout title="Chicotastic">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Chicotastic</h1>
        <h2>
           more pleasant easy miles, with more bonus miles
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 47ish miles (forgot to record the first part of my ride around town)
<br>
Climbing: 700+ feet
<br>
Descending: similar
<br>
Difficulty: easy
<br>
<a href=https://www.strava.com/activities/13346411017>Link to ride into town in Strava</a>
<br>
<a href=https://www.strava.com/activities/13348256844>Link to ride around town in Strava</a>

<hr>
<p>

Ended up getting quite a sweetheart deal on the campsite; had to wait a bit for the office to open but then they only wanted 20 bucks, cheapest stay I've had other than home stays!  
<p>
I had realized as I went to sleep that I'd lost the single bone headphone/earpiece I was wearing when I arrived, but managed to find it on the ground by the office this morning.  Took a moment to remark on my luck to Lori...but then immediately went to the bathroom and pooped in a stall that was without toilet paper and had to waddle to the next one to clean up.   But, had a good ride into town nonetheless and no more bad luck manifested.
<p>
  I'm in a geography that allows and even encourages long, straight roads though nowhere.  I guess that's the benefit of agricultural zones without many people or structures to break things up?  Both yesterday and today I rode for 8+ miles in a straight line and saw very few other people while doing so.  It's peaceful, though moreso when you know that it is coming than when you are discovering a route and wondering if it will <i>ever</i> get back to civilization.
<p>
  Whilst on the long haul towards town (Chico), I saw another recreational cyclist (roadie); we waved and went our ways. Interestingly, I also saw one coming into Chico from the south last week - and saw them nowhere else except on the 17 mile bike path up between Redding and the Shasta dam.  Makes me think there aren't a ton of roadies around, outside of Davis?  Not sure!
<p>
  It was another tail windy day - made great time and didn't work too hard.
<p>
  I met my host coming home on his bike right as I pulled up.  Very friendly fellow, suggested some trails to go ride around town, so I did!
<p>
  After dropping off my bags, underbiked up in the nature preserve but then had the best time on criss cross singletrack along the creek for a few miles back into town.  Missed the pool he suggested I take a dip in - seriously, I think - but didn't go back for it after realizing that since I don't love biking in wet clothes and hadn't come prepared with a change nor towel.
<p>
  Picked up beer per hosts stated taste ("hazy IPA") to have with dinner; I got <a href="https://www.farmersbrewing.com/garage-dweller">the "Garage Dweller"</a> since it was a hazy IPA as requested - and my room for tonight is in the garage.  Chatted with the host family for quite awhile before turning in.  They're the kind of folks we'd be friends with if we lived here.  Bikey and kind and friendly and curious and fun.  I am glad I've made the effort to do so many homestays this trip;  they've all been wonderful!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="/vday8">Click here to read the next entry</a></center><p>
</Layout>
