
---
import Layout from '../components/Layout.astro';
---

<Layout title="back out of Butte country">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>back out of butte country</h1>
        <h2>
           friendly miles and a happy landing
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 62 miles
<br>
Climbing:380 feet
<br>
Descending: similar
<br>
Difficulty: medium
<br>
<a href=https://strava.app.link/UInNbREibQb>Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/G8amZYB6B628UBsw6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Slept cozily out in the garage room, though my penchant for pounding water before bed left me with plenty of trips to the bathroom.  I wish I was slightly better at hydrating through the day rather than just afterward, but better late than never seems to be my philosophy these days.
<p>
Had a delightful homemade bagel breakfast while I chatted with Aren, got a citrus-from-our-tree (fresh citrus is pretty great!) send-off, and hit the road southbound.
<p>
I stopped to get a better picture of a freakbike I'd seen in a metalworking shop yard on the way into town since I passed the same way on the way out, and the creator popped out of the shop and we chatted for almost an hour.  Greg is a man of many interests and insisted I ride on some of his creations - a car-tire fat bike, a 15 foot tall dragon trike with articulated tail, and a tandem where the rear rider faces backwards.  He even took my touring bike for a spin.  Definitely one of the high points of my day to have such a fun chance meeting.
<p>
Following Aren's advice, I had a pleasant route  that was really quiet and direct.  Rolled into Gridley after 32 miles and had a satisfying lunch at a brewpub, followed by a foot long cookie from Subway which was in fact too much for me to finish, so I wobbled stuffed-ly south towards Yuba City.
<p>
I'd talked to Aren about getting closer to some buttes that were on the way into town - Sutter Buttes, aka the world's smallest mountain range.  He suggested I could get into the foothills but I wasn't really begging for Bonus climbing, just wanted a better view.  So I veered a bit left out of the way along a route that the heatmaps showed me other cyclists rode and received two rewards:
<br>
1.  A better view of the buttes, which are craggy and volcanic.  But as desired I got no extra climbing as the road essentially dodged any elevation gain.
<br>
2. Another cyclist caught up with me on this stretch - a fellow from a moderately distant town out on a loop ride, and we talked a bit about bikes and since he was faster than me, he offered to let me draft for awhile, which I did, though I couldn't keep up for long and so I fell off his back a bit before our routes diverged anyway.  But it was a nice change of pace (literally, went rather faster for a couple miles) to be in a group of two.
<p>
On the way into town, I ended up riding right past the hotel where I had stayed on my way up, since the bike route cuts through its parking lot at the north end of town.  Made it south towards my hosts' home at the south end of town, only to discover that it is right at the end of the bike trail that I also took on the way into town, so I've incorporated that bike path on the route out of town which is a bit indirect to get on the other side of the the Feather river for smoother sailing and less of having to ride highway 99 later on.
<p>
Had a delicious dinner, and great chats with wonderful new friends, trading stories about life experiences, ranging from touring to beekeeping, athleticism to aging and cooking to relationships.  We are pretty politically different but that didn't stop us from connecting deeply and it seems likely that the two of them will stop by in Portland and let me help them out to the coast on their next tour which they'll come to by train (which doesn't quite get to the coast, but does stop in Portland).
<p>
Also: took possibly the best shower of my life in their steam shower.  I now regret not getting one installed in my bathroom, but it's not too late for Lori's bathroom to get one.
<p>
Finally, I've been enjoying a music playlist I created for a series of dance party social bike rides I led last decade as I rode.  Since it was already downloaded to my phone, it's worked great even in the moments of slower cell signal (I'm not sure I've wandered out of range for more than a few minutes total during this trip - mostly near the Shasta Dam did I become aware of it at all.  Good job past me in creating a fun and upbeat soundtrack to pedal to.
<p>

Tomorrow's the last day back into Sacramento and then back home capping off 11 days straight of riding in the valley.  What a privilege to get to smell my way through some new, sunny landscape in the depths of winter.  Looking forward to getting home to Lori and the kitties and more than the clothes I could carry, though :)
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
