
---
import Layout from '../components/Layout.astro';
---

<Layout title="Rolling on the River">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Rolling on the River</h1>
        <h2>
           A train, no plane, a man, a canal...Sacramento?
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: ~50 mi
<br>
Climbing: 1588 feet
<br>
Descending: similar
<br>
Difficulty: bit of climbing, but otherwise nice and easy
<br>
<a href="https://www.strava.com/activities/13276185006">Link to workout in Strava</a>
<hr>
<p>
A somewhat blah beginning to the trip; I usually bike out the door.  But instead I let Lori drive me to the train station in Portland yesterday since it was raining somewhat hard and I didn't want to be damp for much of the overnight train trip which was a likelihood if I biked for more than a few minutes in the rain, even with my rain gear on.  I think it was a good decision, and the train trip was ok.  I didn't sleep well despite having a double seat to myself all night, since the woman behind me was coughing nonstop and I was wearing a mask all night, but morning eventually came. I got the bags reattached to my bike at the train station and rode off into the dawn for a quick bagel-y breakfast.  Sacramento is pretty empty on a Sunday morning before the sun rises, which suited me fine to ride through the unknown streets while finding my way.
<p>
As I cruised out of town, I watched my Garmin tell me about all of the cute named alleys I was passing: Tomato Alley, Historic Alley, Improv Alley.  Once I turned east, I cruised out of town on H street and into East Sacramento.  I stripped off a layer of warmth as the sun started to warm things up, and munched on some of Lori's homemade cookies as I made it to CSU Sacramento and took a quick wrong turn into the arboretum.  Figured out my mistake pretty quickly, and reversed course to the river where I'd spend much of the rest of the day on the paved waterfront bike path.
<p>
It was an interesting change of pace to see, instead of Portland-traditional spoiling crabapples in the bike lane, freshly fallen citrus!  The trees here are right in season and fruiting, and the palm trees are green and even some roses are blooming, right next to the last still-illuminated Christmas lights.
<p>
The waterfront path was GREAT: pavement was well maintained, wide, and striped the whole way - about 20 miles - that I rode it.  I passed dozens of friendly runners, and was passed by a few friendly cyclists as the miles spooled by.  It was almost spooky how friendly folks were on the trail, but not unwelcome.  The dawn turned back to mist for an hour or so as I wove along the riverbank, before the sun broke through as I snacked on the last of Lori's homemade cookies, which was my primary post-breakfast food today until a fantastic dinner.  The path-park was frequently quite wide (not just a few feet wide as Portland's tends to be) and featured ducks, geese, swans, and even some turkeys in additional to the fairly copious - but never crowded - human traffic.
<p>
I got off the path around 11:30am and set out through suburbia starting in Folsom and heading towards Roseville, where I was to meet and stay with a friend.  The suburban miles were pretty ho-hum especially after that stellar waterfront path/park.  I did get a few miles on various MUP's even after I left the waterfront trail so that was a nice respite from the hilly, variably residential or industrial streets that my route took me on - a route cobbled together from RidewithGPS heatmaps and Google maps' idea of where bike lanes and trails might be, which data can both be spotty at times.
<p>
I stopped to see a sculpture garden, send some texts, and made it to my friend's house around 1.  Enjoyed hanging out with him, his partner, and their pups, playing some bocci and board games, eating a phenomenal vegan dinner, and turning in to bed around 9:30 so I can get up in the morning and do it all over again.  But, it's nice to be staying in a homely home with some wonderful folks (and animals) on my first night out on the road!
<p>
Tomorrow:  Davis, CA, one of the bikiest cities in America!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="/vday1">Click here to read the next entry</a></center><p>
</Layout>
