
---
import Layout from '../components/Layout.astro';
---

<Layout title="Saying goodbye to the mountains">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Saying goodbye to the mountains</h1>
        <h2>
           ...turned around a few times to check em out as they got smaller behind me
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 70 mi
<br>
Climbing: 1532 feet 
<br>
Descending: more
<br>
Difficulty: medium
<br>
<a href=https://strava.app.link/Mv2SCXS06Pb>Link to workout in Strava</a>
<hr>
<p>
  The weather has been so delightful that I keep forgetting it isn't "high season" around here;  everything keeps weird hours or is closed "for the season" and flying by the seat of my pants has served me well to some degree and poorly to some other degree.  I suppose the balance is good since nothing tragic has happened like the only restaurant being closed or the RV park being full, but today were some exercises in "oh, I see".
<>
  Set out from the Redding after a great breakfast at the local, but oddly named diner:  "Deja Vu".  I wasn't really interested in seeing breakfast a second time, but no worries, the breakfast was great (and came with a stack of pancakes instead of toast - yes please! - also, boysenberry syrup which tastes like childhood to me).  Got a fairly early start since it was a long day - 70 miles - and I wasn't sure how I'd be feeling to start, nor 2/3 of the way through.  But I shouldn't have worried as the tailwind covered more than 90% of the distance and was strong, and having ridden the same route days ago, I felt like a pro - I knew where the food stops were and when the shoulder would come back.  I have decided that I kinda like an out-and-back route, at least over a short-ish distance, I think! (checking in from the end of the tour:  yup, it was nice to be revisiting recently discovered places all the way back!)
  <p>
  I powered 40 miles south very quickly, with barely a stop before I got back to where I'd last stayed - Red Bluff.  I was doing so well on time that I took a detour to check out a historic monument - a boring old adobe house/farmstead with a sign pointing towards it; turned out to be only a mile off course.  But in the "surprise!" category, the visitor center was open on a Sunday and so I learned about a Mr. Ide, who was the only ever president of the Republic of California, which existed for less than a month on the way to California becoming a united state.  The visitor center was so-so and the grounds less than awesome, but I do like picking up some arcane historical knowledge so I call it a win; I wouldn't have learned much if the center was closed.
  <p>
  I ate at (another instance of) the same restaurant that I'd had lunch at yesterday, since it was better than anything else I saw in Red Bluff, and it didn't disappoint - a seared tuna bowl piled with veggies, a bowl-sized cup of shepherd's pie with a fresh crust on top, and a massive cronut for later snack since I was full from the prior snack donut I'd had about 5 miles before lunch.  As I left the restaurant I chatted with one of the kitchen workers who was smoking near where I'd parked my bike and he was shocked to hear I'd ridden from Sacramento.  I expressed thanks that the weather has been so good for me, and he pointed out that it was bad for them - should be raining much more.  I felt a little privileged in my bubble of "good for me" since I guess it's not so great for the area, much like in the Pacific Northwest: if there is a dearth of precip, we get more fires in the summer and fall.  But, he was a nice kid and I left smiling, only to be stopped by a fellow walking his dog a block later.  He and his wife bike tour sometimes and we swapped stories for a few minutes and he strongly suggested touring in Europe and hey, we're working on it!
  <p>
  With about 30 miles to go after lunch, I knew I'd be in before darkness but wanted to give myself some padding on getting to this RV Park while the staff was there.  I only have to camp at it, since the state campground across the street is closed for the season along with its bathrooms (I double checked on my way past a few days ago).  I'd emailed the staff and they suggested I could just show up on any given day and there would be room for me;  Brenda was pretty blase about it but I double confirmed with her before counting on it, since it's far from any town or other legit/legal camping opportunity, and I'm still not a huge fan of free/stealth camping; I'd rather go somewhere I know I can be legally, and have running water, too!
  <p>
  I made great time, skipping a snack stop in the last town before my stop since I wasn't hungry and was feeling great.  I'd flown - moving average 14.5 mph is higher than I usually manage unloaded in Portland, and this was a 70 mile day!  I did stop at the world's largest olive for a picture, because it was just weird enough. I knew it was nearby the route, but somehow routed around it on the way up - so, made sure not to do that today.  I got to the RV Park around 3pm to find the office closed, as it apparently is every Sunday, which Brenda had failed to mention.  There was fortunately a "if you need help call X number". So, I did, and stand-in Cliff told me to take a spot by the bathrooms and pay in the morning, so I did.  I had to call Cliff back 5 minutes later to get the door code for the bathroom lock, but I got in and got a shower and got camp all set up.
  <p>
  As I was setting up I got quite a bit of the stink-eye from a couple who had a primo RV spot; I was maybe blocking their view of the river like 1%?  Not sure, but later as I reviewed the site map to find the dumpsters, I saw that there is a separate place for tents and camping - and I am far far from it!  But when I walked past that designated spot, it seemed to be parked full of dusty vehicles and boats and there were anyway no other tents around.  I guess I'll find out how naughty I have been in the morning when I go to pay.  Maybe this will end up being a $80 campsite since it is riverside and has a full hookup, and that's what they charge RV's for spots like this.  Who knows!
  <p>
  Dinner was planned at the quickie Mart just across the river which I'd scoped out as I came past last time;  they have a kitchen and make burgers, sandwiches, etc.  I got into it around 5 (having snacked on that incredible cronut at 3:30 and then taken my time setting up camp).  To my relief I saw that the "kitchen open" sign was still posted, whew! Hmm, but the menus (which were televisions) were turned off.  The kitchen was not, in fact, open.  I ate some hot case fried foods for dinner and was thankful to get nearly the last of them lest I had to bust out the stove and eat my last dehydrated meal or just dine on quickie Mart fare like donuts, jerky, and chips.
  <p>
  Got back to the campsite and came to write this up and noticed that my tent is COVERED in bird shit.  Like a bird party happened overhead, even though I'm not quite under any trees?  I guess I'm downwind from one tree that the birds love to sit in.  I'll see if I can clean it up at all in the morning before I pack up.
 <p> 
  Tomorrow's a short day into Chico to meet a host family and then explore town!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="/vday7">Click here to read the next entry</a></center><p>
</Layout>
