
---
import Layout from '../components/Layout.astro';
---

<Layout title="Paths of northern/western Sacramento, and Davis">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Paths of northern/western Sacramento, and Davis</h1>
        <h2>
           Off street pleasantry, grit, and not so bad really tedium
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 41 miles
<br>
Climbing: 620 feet
<br>
Descending: similar
<br>
Difficulty: not bad
<br>
<a href=https://www.strava.com/activities/13285539652>Link to workout in Strava</a>
<hr><a href="https://photos.app.goo.gl/G8amZYB6B628UBsw6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>

<p>
After a delightful night with old boss/mentor and now friend David and his new-friend-to-me partner Robin, we all slept in a bit before a delightful vegan breakfast (soysage and bubble waffles). I decoded 10am was a good time to hit the road into a brilliant blue-sky day.
<p>
  About 6 miles of the smile-inducingly-named Fiddleyment road, I turned off onto a series of paths that made up most of the rest of the day - Dry Creek path, North Sacramento bike path, the Great American Bike Path (which I had also ridden a different part of out of town), and then an MUP parallel to interstate 80 heading out of West Sacramento most of the way into Davis.
<p>
  It was interesting to discover that I'd been in the more affluent/rural portions of suburban Sacramento up til now, since things got notably less affluent, devolving into taquerias and tire stores instead of subdivisions, and then camps of unhoused folks as I got a bit closer into North Sacramento.  I felt the usual wishes I could do more to meaningfully affect the housing crisis, and I suppose also felt a bit of the misery-loves-company vibe to see that other communities had tinges of what Portland is going through to some degree.
<p>
  The trails were well maintaned and pretty clear of debris until I ended up parallel to the highway outside of West Sacramento, on a path reminiscent of the i-205 path in portland - noisy, exhaust-smelling, a bit littered and basically only there for getting one across a chasm, in this case the Yolo Bypass wetlands.  Once I got into the city limits of Davis, the path still paralleled the highway but was more tree lined and less noisy, and I followed it direct to campus where I found a bubble tea place to sit and write until my WarmShowers hosts for the evening are back from an afternoon bike ride of their own. Hard to complain about riding 30 off-street paved miles today, despite some 8+ mile straight shots without a turn (aforementioned tedium), all told.
<p>
  Davis is, as a friend warned me, filthy with bikes!  From the penny farthing on the welcome to Davis sign, to the flood of bikes exuding from campus as I approached, to parking areas on campus with hundreds of bikes locked up in front of many different buildings...it's easy to go bike-blind, like I used to go nipple-blind when counting the thousands of riders in the videos from the world naked bike ride back when I helped coordinate it and held a "counting party" to do the post-ride census.  Sitting on a campus corner, there are almost as many bikes going past as pedestrians, and both outnumber the cars here by a factor of around 100, no joke.
<p>
  The weather today was pretty glorious, though I did get a taste of the wind as I turned due west.  I expect that it'll make a bigger difference in my effort level over coming days, since Murphy's law suggests that the longer days - the next two are my longest at 70+ each day - will also be the windiest.  But maybe - hopefully - Murphy and my premonition will be wrong.  Still, happy to be riding in the relatively warm and very dry air versus Portland's liquid sunshine...
<p>
  My Warmshowers hosts, Eleanor and Martin, are really friendly and kind and bikey and we had a lovely afternoon talking bikes and pets and retirement.  So glad to  be a part of this community and wishing Portland weren't so overcrowded with hosts that I rarely get contacted by visitors via the site...
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
