
---
import Layout from '../components/Layout.astro';
---

<Layout title="Making eyes at Mount Shasta">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Making eyes at Mount Shasta</h1>
        <h2>
           ... since you can't see the wind
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 75 mi 
<br>
Climbing: 1470 feet
<br>
Descending: more!
<br>
Difficulty: pretty hard
<br>
<a href=https://strava.app.link/UaVubUze2Pb>Link to workout in Strava</a>
<hr>
<p>
Woke at 4am to a lot of wind and a baseless suspicion that some critter was trying to get into my bag outside the tent (wherein a candy bar lurked).  The wind was real, but I saw no critters at the campground at all, and the lack of "trash security" (open trash cans and dumpsters) made me think they weren't out in numbers, during this off season, at least.  Read for awhile and fell back asleep for an hour or so but still woke up before the sun at around 645 and while I was still pretty tired, decided to get up and get moving since I knew today was going to be a long ride and I wanted to get a relatively early start.
<p>
Cooked breakfast, broke down camp, used the facilities and managed to roll by 8:30, still taking longer than I would have liked but not really wasting any time except in folding up my ground cover since the wind was blustering and making it a challenge to get the tyvek folded up.  The tyvek, btw, is a homemade ground cover that cost approx 1/10th of what the official one costs, but is also INCREDIBLY LOUD AND CRINKLY like I'm opening a candy bar through a megaphone whenever I move it or even more while I'm in the tent on top of it.  I'll probably shell out $100 for the official one when I get home.
<p>
The ride out was delightful, since I got to zoom down the hill I'd climbed yesterday, and redo some of the nice part of yesterday's ride in reverse (including the closed road, which I took a picture of the scary lack of support underneath today).  Cruised into Chico around 10:30 and found an already-open pizzeria next to the college campus, right on my route through town, and had a very satisfying second breakfast.  Booked my campsite for tonight while I was there "just in case I was running late, later" (foreshadowing!), sent Lori a text about how the wind wasn't too bad today (also foreshadowing) and set out to the North and West.
<p>
So, as I pulled out of Chico, the wind immediately picked up and hounded me for the next 30 miles or so.  I was crawling along, albeit on nice, deserted, but well-paved back roads.  Great roads for riding but I was just crawling along at 8mph average, in my low gears, even when I turned 90 degrees, I didn't really get any respite from the wind.
<p>
Made it to the small town of Corning where I downed 3 quesabirria tacos, a coconut water, and a Gatorade for dinner.  This put some figurative wind in my sails; well, that and my now likely arrival after dark in my destination town lit a bit of a fire under me!  As I turned north out of town, the road pointed directly at Mount Shasta, so I got to stare at her for the next 25 miles.  Not bad!  Also, again, great routing as the roads were paved, parallel to but not right next to the highway, and fairly deserted.  I managed to pick up the pace to about 12mph average which is where I like to be, and felt fairly energetic, or anyway not like I was dragging.  I powered into town just after sunset, getting to enjoy the various stages of alpenglow on Shasta and another nearby tall-snowy peak, and got into the campground with just enough light to make it to my site; still, by the time I was setting up my tent it was already pretty dark.  Got a shower, walked into town (3/4 mi;  this is a KOA campground where the sites cost 60$ and are still next to the freeway, sigh), had some ok dinner and a great beer but nobody at the bar seemed very chatty, so I walked back on very tired legs and wrote this entry.
<p>
Tomorrow is supposed to be a shorter (40-ish miles) day, followed by a rest day, and I am excited for this.  My legs and butt are also excited for this, for they are tired and sore respectively.  Also, it will be good to do some laundry, since I'm wearing my last clean socks/undies and my riding pants can almost stand up on their own, though a lot of the filth there is just sweat from some warmer days - it was in the 70s today!  Tomorrow it cools down a little bit but still some wind to keep me company, it looks like, for the rest of the week...
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="/vday5">Click here to read the next entry</a></center><p>
</Layout>
