
---
import Layout from '../components/Layout.astro';
---

<Layout title="A dam delightful off day">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A dam delightful off day</h1>
        <h2>
           More great weather on a fun unloaded "rest" ride
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 26 mi
<br>
Climbing: 1545 feet
<br>
Descending: maybe a bit less
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/13328927319>Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/G8amZYB6B628UBsw6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Felt much better this morning than I did last night - last night I would hobble for a few blocks after I got up from a seat before my legs remembered how to walk normally.  So of course I just rode more!
<p>
  I'd gotten some good food recommendations from the chefs at the dinner restaurant last night, so I started off at their morning reco and had a nice coffee and breakfast sandwich and read for a bit while I waited for it to be time to catch the bus.  Also got an almond croissant for later.
<p>
    Caught the bus to the furthest north it ran, hoping to stop at a nearby museum but it was closed for the month, so I just pedalled on up to the <a href="https://en.wikipedia.org/wiki/Shasta_Dam">Shasta Dam</a>, which had a delightful 17 mile path back to town from it.  I hadn't really done the math on the fact that a dam is tall, and the road towards it was even taller, so I got a nice 500 foot climb pretty much right out of the gate, but my legs and light bike felt good and I made good time up the road.  It was almost completely empty, just me and a <a href="https://www.strava.com/activities/13328927319/segments/3313286190865378948">5.3% grade over 2 miles</a>, before I got to bomb down to the visitor center.
      <p>
      The visitor center had a pretty fascinating film - well, fascinating to me but I do love my immense public works projects - which you can <a href="https://www.youtube.com/watch?v=vRZRDoJOzV4">watch here</a>, if you are like me.  What interested me most was not the tales of derring do and man vs nature so much as the transformative nature of the dam on California's economy - changing the central valley from a desert to an agricultural paradise (I cycled past hundreds of miles of fruit and nut trees and other farming, and rather less ranching, but still some of that too), but also powering SF.  The agricultural aspect would be a little less interesting to me if not for the fact that I have just been soaking in it all week.  And, it tamed the Sacramento river - California's largest - making violent flooding a thing of the past (though as I learned, flooding of the tamer-but-still-impassible-sometimes sort is still a thing here).
        <p>
        Came back to town to ride over the <a href="https://en.wikipedia.org/wiki/Sundial_Bridge_at_Turtle_Bay">iconic sundial bridge</a> and have lunch at another recommended restaurant, before heading back to the place I'm staying to do a second load of laundry - everything I have with me is clean now (except this jacket which needs to be re-waterproofed when I wash it, and I didn't bring the special stuff along to do that).  I also firmed up my WarmShowers host in Chico for Monday night and it's a family that is excited to host me and cook for me, which has been a really neat thing that has happened at all of my homestays so far.  I'm eating extremely well, even if I might have a little calorie deficit overall from the days when I am largely in the middle of nowhere.
          <p>
          Still, looking forward to turning south (and hopefully getting some tailwind; the weatherman seems to think I will) tomorrow and heading back towards the train, and back towards home since as I discovered on my longer odyssey this summer - even with friends found along the way, I have a limited tolerance for living out of my suitcase and do tend to get somewhat lonely on the road, and Lori and the kitties await at home.
            <p>
            Got a somewhat long day tomorrow to a campground, then a short day to Chico on Monday, then a long day to Yuba city on Tuesday, then a normal length day back into Sacramento for dinner with my pal and a train home on wednesday night.
              <p>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
