---
import Layout from '../components/Layout.astro';
---

<Layout title="Central California Valley Bike Tour, January 2025">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">

        <h1>Central California Valley Bike Tour, January 2025</h1>
        <h2>
           Escaped Portland for a couple weeks of sunny miles 
        </h2>
      </div>
<h3>Trip Summary</h3>
<b>Distance</b>: 576.99 miles
<br>
<b>Climbing</b>: 7553 feet
<br>
<b>Difficulty</b>: medium
<br>
<a href="https://ridewithgps.com/routes/49539704">Link to final route in RidewithGPS</a>
<hr>
<a href="https://photos.app.goo.gl/G8amZYB6B628UBsw6">Full photo gallery from this trip</a>
<hr>
<hr>
<a href="https://q42.me/trips/valley/vday6.jpg"><img src=https://q42.me/trips/valley/vday6-best-small.jpg></a>
<p>
Getting a little itchy during the rainy, cold and dark Portland winter, I hunted a bit for "winter-recommended bike tours nearby" and found this gem: 
<br>
<h3><a href="https://ridewithgps.com/ambassador_routes/2086-great-central-valley-bicycle-route">The Great Cental Valley Bicycle Route</a></h3>
<p>
Since I could easily get to Sacramento by train, I started planning in earnest and a few weeks later I was arriving in Sacramento, planning to ride north to Shasta Lake and then back to Sacramento - essentially doing <a href="https://ridewithgps.com/routes/37859389">this portion of the larger route</a> as an out-and-back trip.  In the end, I deviated substantially from the route, but used more than half of the routing in my journey.  <a href="https://ridewithgps.com/routes/49539704">This route</a> was what I ended up actually riding, including visits to my hosts' homes, and various rerouting for closed roads, sightseeing, and per the advice of several hosts.
<p>
While I was out on the road, I had 0 mechanical issues, 4 great stays at homes of friends old and new, saw a fair amount of boring flat farmland but also a fair amount of more interesting cute countryside, wetlands, buttes and foothills, with my highest point being the Shasta Lake Dam.  You can read about the trip in the individual daily journals linked below, which also link to my per-day routes on Strava.
<p>
<a href=vday0>Day 0 - Sacramento to Roseville</a>
<br>
<a href=vday1>Day 1 - Roseville to Davis</a>
<br>
<a href=vday2>Day 2 - Davis to Yuba City</a>
<br>
<a href=vday3>Day 3 - Yuba City past Oroville </a>
<br>
<a href=vday4>Day 4 - campground to Red Bluff</a>
<br>
<a href=vday5>Day 5 - Red Bluff to Redding</a>
<br>
<a href=vrestday>Day off - Riding around Redding</a>
<br>
<a href=vday6>Day 6 - Redding to past Corning</a>
<br>
<a href=vday7>Day 7 - campsite to Chico and around town</a>
<br>
<a href=vday8>Day 8 - Chico to Yuba City</a>
<br>
<a href=vday9>Day 9 - Yuba City back to Sacramento</a>
<p>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
