
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Powered by Pancakes">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Powered by Pancakes</h1>
        <h2>
           A very long hard day
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 62 mi
<br>
Climbing: somehow over 1000 feet but never saw a hill?
<br>
Descending: similar
<br>
Difficulty: hard.  type 2 fun.
<br>
<a href=https://www.strava.com/activities/13320621280>link to Strava workout for this day</a><hr>
<hr>
<p>
The reason I have a belt drive is my 7th gear.  I am one to prefer to pedal harder rather than shifting, and the Rohloff internally geared hub I have is noisiest in 7th gear.  So, typically I try to stay above 7th gear unless I'm climbing a big hill.  I feel an almost moral deficiency if I have to pedal in a low gear and it's not up a big hill.  This behavior, when coupled with a typical bicycle chain, basically ensures that the chain won't last very long before needing to be replaced, and I don't like having planned maintenance while I'm out on tour (or worse, exposure to catastrophic unexpected failure).  Today, there was very little climbing but I rode below 7th gear nearly all day thanks to some pretty extreme winds pushing into my face for nearly all of the 62 miles.  Today, the belt drive didn't allow me to change the calculus of my speed versus a whoa headwind, and it was disheartening and frustrating in addition to being exhausting.
  <p>
I had a great, chatty breakfast with the most delicious sourdough pancakes with Eleanor and Martin and took my time getting started.  Set out west and then north and the wind was immediately brutal and kept me at what felt like half my pace from the prior days.  Since today was scheduled to be 70 miles - quite a bit longer than either previous loaded day - I was pretty worried about getting to my destination by dark, which is still pretty early this near-solstice time of year even though I'm south of where I live - I'm not south of the late afternoon darkness.  I worked hard to get to Woodland, about 15 miles into today's ride, and my pace hadn't really picked up the whole time;  the wind was consistent.  It was so windy that the roadside olive trees were shedding olives that were BLOWING INTO MY FACE rather than dropping straight to the road.  I did not try eating any though I probably could have plucked one out of the air if I'd tried...
  <p>
I was texting with Lori and Martin about changing my route, and had another 10 miles to decide before reaching the point I'd need to divert up in Knight's Landing.  Got on a no-shoulder highway out of Woodland accidentally and quickly routed back to CA 100 which was a signed bike route with generous shoulders, all the way into Knight's Landing where I would see my last services of the day - and where I had to choose my own adventure.  I had a delicious torta for lunch, visited the library to check my work on <a href="https://ridewithgps.com">RidewithGPS</a> (routing using the app on the phone works ok, but heatmaps to see where others have ridden and thus where it might make sense for me to ride, are hard to read). I decided I had a good route and got Martin and Lori's votes of confidence to shorten the ride to 50-ish miles into Yuba City.
  <p>
Put on one of my new bone conduction headphones to try it out in the wind and traffic noise - verdict is it works ok for that situation but not perfectly - the wind is loud!  Headed northeast instead of my previously-planned northwest.  Here I diverted from my pre-planned-at-home route and was freestyling, and folks, it was not the easy way!
  <p>
The shoulder was at first good, but the traffic really picked up.  The route I had cut across some wetlands and a freeway, and those wetlands were WET.  Got some cool visuals of a few thousand birds taking flight as I started down a dirt road, finally turned on my butt radar since finally there wasn't constant traffic (actually, there was NO more traffic at all until I got back on the freeway later, and for good reason).  While there was mixed dirt and pavement, it was all good riding and I could hear my tunes better since no traffic noise as I rode between flooded fields.
  <p>
I saw a little "road closed" sign on the side of the road and though "maybe just for cars?  I think I'm only a couple miles from the other end of this road so I'll just go check since it's so nice and car-free" and boy, that road was well and thoroughly closed.  Flooded dozens of feet deep.  Unfortunately, I couldn't see that til I was upon a levee that separated the real wetlands from the flooded fields. But, I noted that the levee trail (a nicely graded gravel doubletrack road with occasional gates to keep motorized traffic off) curved back to the highway - so I took a chance and set out on it, cutting diagonally across, instead of retracing my path the longer way directly back to the highway.  RidewithGPS told me the levee road was about 4mi long, so I figured worst case I'd go 8ish mi out of my way if I just had to turn around anyway when I got to the highway.
  <p>
It was still windy AF and now I was riding on gravel, so it was even yet still slower going.  But, it was somewhat pretty and while I grew increasingly worried that I'd have to turn around since I seemed to be on the wrong side of a bridge less irrigation canal as I approached the highway - which was itself on a bridge over even the levee - I was instead rewarded with a real car bridge over the canal, and another gate that I could slip the bike under to get back on the generously shouldered highway. Whew & huzzah!
  <p>
The highway bridge over the flooded parts was pretty long - probably a mile - so I guess that place is flooded much of the time, to some reasonably large degree.  Screw you for suggesting I go that way, RWGPS!  (To its credit, the road that was closed was indeed paved - not a vague dirt track - just, also, totally, many feet underwater.  With a flood gage next to the flooded part, so this can't be rare.)
  <p>
I'd route-planned an alternate off-highway route north of the bridge, so as I approached it I was happy to get off the dwindling shoulder of CA 113.  But, this time I heeded the small "flooded" warning sign and turned back to the highway after all.  The headwind was making me wobble in the 2' shoulder but there was some relatively solid gravel next to it so I just gravel rode over the next several miles whenever the butt radar told me about approaching vehicles, and made it off the one highway onto what I thought was a small final portion that was google-maps identified as a bike route, the last stretch into town!  I was already at 50mi thanks to the routing snafus adding on, apparently, 10 miles to my planned 50mi total ride at this point.
  <p>
When I turned, Garmin helpfully showed me 9 miles remaining to my arbitrary endpoint at the south end of town and that new highway was not much better, traffic-wise, than the one I left, and had even smaller "shoulders" (about 1' of inconsistent pavement next to the white line, and traffic was picking up for post work rush-y hour).  I was pretty deflated since I was tired and wobbly and the wind was still punishing and I just couldn't look forward to 9+ miles of close passes.
  <p>
I took a close look at Google maps and found that there was a parallel-ish road(?) called Levee Road, and it started just a half mile up this highway, so I decided to check it out.  Turns out, it was a trailhead of sorts for more non-motorized gated gravel nicely graded road, on top of the levee, natch.  The tops of levees are the most windy places around, so the bluster was real and progress was slow, but I was thrilled to have no cars passing, and for the next 8 miles, not even a single other person to be seen.  That levee "road" was indeed driveable but I guess nobody...uses...it?  I saw an occasional shotgun casing but not even any other trash until I got pretty close to town and a few folks were camped out on it and others were dog walking on it.
  <p>
It was pretty slow going on that gravel track, though, since the wind had picked up even more - so, I just dragged and struggled and struggled into town.  Somewhere in there I realized I should probably snack and lo and behold I found 3 leftover pancakes from this morning's breakfast, and friends, those were the best 3 cold, floppy, naked pancakes I have ever scarfed down.  I was enjoying the second one so much I almost crashed in a gust of wind, but I caught myself just in time and stopped to swallow before proceeding.
  <p>
As I came abreast of the first subdivisions south of town, I stopped and found a hotel and booked a room before proceeding through the sunset along the now-a-paved-bike-trail that the levee "road" had turned into, and passed more folks out for walks as I cruised past the tiny airport and off the end of the trail into town proper.
  <p>
Martin had warned me there wasn't much happening in Yuba City, but it at least isn't an ugly town and had decent bike lanes that went towards my hotel pretty well, and I rolled up just after sunset but before dark, got my room, and just made it to happy hour at the neighboring brewpub where I caloried up and had a huge beer.
  <p>
My reroute that was supposed to save 15 miles ended up saving less than 5, and I still almost ended up riding after dark, but it was a type-2 fun adventure with a happy, hot-tub-y ending.  The original ending was a very small town which might have had a restaurant still open, or not, and probably not even a shower for me at the campground since as we'll discover tomorrow, the showers here don't take quarters and quarters were what I had with me.
  <p>
Bone headphone review (I just wore one today): ran for 4 hours or so without trouble, and since I had my phone plugged into my generator-hub-USB-outlet, phone was fairly well charged upon arrival.  Only downside is I forgot I had the bone-phone in (muted to talk to front desk lady) when I got in the shower, but it seemed to survive me finding it as I rinsed the sweat out of my hair...
  <p>
Last fun detail about Yuba City:  Apparently, city hall used to be a farm and when it became city hall, they let the chickens loose, so they just hung out in town, and reproduced...and now they are protected by city ordinance and just...multiply like whoa and hang out everywhere.  At the hotel, at the brewpub, at apartment buildings...just crowin' up a storm and begging for food as I rolled my bike to my room.  Local flavor, indeed.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="vday3">Click here to read the next entry</a></center><p>
</Layout>
