
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Back to reality">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Back to reality</h1>
        <h2>
           Final sunny Cali miles
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 46mi
<br>
Climbing: 289 feet
<br>
Descending: similar
<br>
Difficulty: medium low
<br>
<a href=https://strava.app.link/h6IctPoObQb>Link to workout in Strava</a>
<hr>
<p>
<a href=https://q42.me/trips/valley/vday9-axolotl.jpg><img src=https://q42.me/trips/valley/vday9-axolotl-small.jpg></a>
<p>
Slept well and had a great breakfast with Marius and Lea before getting packed up and setting out around 10am.  Marius had helped me route out of town and into the city and so the route had shrunk from 60-something to 40-something, direct and easy, so I took my time both in leaving and in riding.  I no longer went 10 miles out of my way and used that bike path, but hey, I didn't really need to revisit the same miles in the same direction to make my experience complete!
<p>
Started out by going straight for about 10mi down a road that had daunted me on the way into town on day 3, but no concerns this morning as I've since adapted to less-well-shouldered roads during the last week, as always is the case during tours, it seems.  I am tentative at first, taking the sidewalk through town; confident soon enough; and eventually just taking the space I think I deserve without any real concern.  This may be a bit maladaptive but it has so far served me pretty well in all my longer tours, even if the first few days feel less comfortable and the later days feel less safe.  I don't worry about it, just notice it as a pattern in myself.
<p>
Finally made a left onto the biggest highway I've ridden on for more than a few feet this trip, but the shoulders were generous and it was a way to connect that we'd established definitely wouldn't be flooded - as the last connection I attempted in this area was. And, it also didn't require me to backtrack 5 miles into downtown to cross the river - which was the only other option to get across the Feather river today.
<p>
The highway was painless despite a lane closure on the long bridge as traffic was pretty light despite it being 11am on a workday.  Immediately after crossing, made a right onto my road for the rest of the day - the Garden Highway (second part - first part was the 10mi straight stretch I started on).  This was a <a href="https://www.strava.com/activities/13365733512/segments/3314740950471052730">28 mile long segment</a> that curled along the Feather and then combined Feather and Sacramento Rivers, starting in the middle of nowhere.  I saw almost no cars for the first 10 miles or so, at which point I stopped for lunch and ate the rest of the citrus that Aren had given me the other day, and some almonds and jerky.  While I was eating, a husky came over the crest, peed on my bike, and then came to check me out.  She was friendly but very interested in the food in my pannier which I denied her so she eventually wandered off and I packed up and I meandered on southwards, taking it pretty easy as civilization picked up (or anyway, fancy houses started appearing on the road, eventually getting denser and denser towards and into the city after I passed the airport and crossed under I-5).  Some of the houses were pretty palatial and had funky architecture, some were more modest, but I could sense they were all more expensive than my home.  Nonetheless traffic stayed pretty light and I got to play leapfrog with a mail delivery truck for a bit before the road sprouted a bike path on its side and I cruised onto it.
<p>
<a href=https://q42.me/trips/valley/vday9-garden1.jpg><img src=https://q42.me/trips/valley/vday9-garden1-small.jpg></a>
<a href=https://q42.me/trips/valley/vday9-garden2.jpg><img src=https://q42.me/trips/valley/vday9-garden2-small.jpg></a>
<a href=https://q42.me/trips/valley/vday9-beached.jpg><img src=https://q42.me/trips/valley/vday9-beached-small.jpg></a>
<p>
<i>Some of the Garden Highway Experience</i>
Don't think I've ever ridden a <a href="https://www.strava.com/activities/13365733512/segments/3314740950471052730">28mi Strava segment</a> before, but that was the "Full Garden Highway Experience", today.  I'd planned my route into the general neighborhood of the train station - though I knew I'd have time to kill, and pulled in around 3, so I'm sitting with a beer on a patio at the waterfront and will probably go walk around a bit to kill time before I meet up with friend David for dinner and to pick up my duffel and laptop at 6, a few blocks away.  Before and after dinner, I turned out to kill most of my time at a <a href="https://www.yelp.com/biz/capital-pinball-parlor-sacramento">really enjoyable pinball barcade</a> which was a fun way to cap things off.
<p>
<a href=https://q42.me/trips/valley/vday9-messaging.jpg><img src=https://q42.me/trips/valley/vday9-messaging-small.jpg></a>
<a href=https://q42.me/trips/valley/vday9-kong.jpg><img src=https://q42.me/trips/valley/vday9-kong-small.jpg></a>
<a href=https://q42.me/trips/valley/vday9-sacrail.jpg><img src=https://q42.me/trips/valley/vday9-sacrail-small.jpg></a>
<p>
<i>Murals and encouragement of Sacramento</i>
The trip was great overall, but I sure was dragging a bit the last dozen miles and my butt hurt a lot of the day.  It'll be good not to ride much for the next few days, although it was wonderful to ride long, in the sun, for 11 days straight and see so much new country, and get a little sunburn to help perk me up for the remaining months of the Portland winter.
<p>
<h3>You can read about my other trips <a href="/">on the main page of this site</a></h3>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
