
---
import Layout from '../../components/Layout.astro';
---

<Layout title="A pleasant ride to Redding">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A pleasant ride to Redding</h1>
        <h2>
           Great weather and short miles and a good route?  Yay!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 41 mi
<br>
Climbing: 1457 feet
<br>
Descending: a bit less
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/13320089975>Link to workout in Strava</a>
<hr>
<p>
Slept super poorly in the deluxe 60$ campsite since the freeway was a stone's throw away; you can't cuddle with the noise from engine brakes but they were too close to ignore.  I woke often from weird dreams of drowning my bike (and rescuing it!) and being on tour with more clothes than I have with me now, even though in retrospect from the end of the tour I had just slightly too many clothes (never used my tights nor puffy jacket nor rain gear).
<p>
Finally got up around 7:30am - I lounged since I knew it would be a short day and that I wouldn't have to cook breakfast. Got dressed, hung my rainfly to dry from the condensation I had created by breathing under it (no moisture nor dew as far as I could tell), and then walked into town to eat at the primary cafe.  Said cafe had chicken fried steak and orange juice which was just what I wanted.  Breakfast was fine, and then I took my time packing up, reserving an AirBnb in Redding, and confirming my route before I rolled out around 11, which was quite a late start for me.
<p>
The wind was for once unnoticeable and I ambled up through the countryside, including the primary intended gravel section of the "blessed route" I based my actual route on. (For the last 2 days, following it precisely).  There were a couple of water crossings - all in the gravel section - which the map had indicated <i>could</i> be flooded, but fortunately they were all puddle-depth and no problem for me.  I wandered into the extended suburbs of Redding where I had a snack followed a few miles later by lunch, just after the second and final major (few hundred feet) climb of the day.
<p>
Redding suburbs were fine, and I arrived at my place around 3pm, met the host who was a very friendly and bikey Rhonda who showed me the ropes of my short-term home, and suggested some activities. Then, I got cleaned up, started the laundry, and headed to the library where I got my Strava-struggles from a few days ago sorted out, and got my propoed route home dialed in and saved on RidewithGPS.
<p>
Wrote this up, and now off to explore town and consider what to do on my day off (possibly:  go on a 20ish mile bike ride :P)
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="/vsummary/vrestday">Click here to read the next entry</a></center><p>
</Layout>
