
---
import Layout from '../../components/Layout.astro';
---

<Layout title="a real butte-ty">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>a real butte-ty</h1>
        <h2>
           more route freestyling but with a happy ending
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 57 mi
<br>
Climbing: 2323 feet 
<br>
Descending: way less
<br>
Difficulty: kinda hard
<br>
<a href=https://www.strava.com/activities/13304096490>Link to workout in Strava</a>
<hr>
<p>
Intended to get an early start but faffed about at the hotel for awhile and didn't actually roll until 9.  I'd spent some time working with Lori (virtually) last night on a route and hadn't quite settled on anything, but finally picked my way north and east this morning into a somewhat lessened headwind, as I worked my way out of town.  I was freestyling since Yuba City wasn't at all on the northbound route I'd been working from for the trip, but also because not a lot of cycling seems to happen around there, according to Strava and RidewithGPS heatmaps.
<p>
Also, there was not much in the way of bike lane marked on Google maps.
<p>
I worked my way north through the suburban tailings of town and headed back towards the levee road, which had been so delightfully traffic-free the day before.  It seemed to stretch north for 15+ miles and avoid some real "heatmaps desert" where we couldn't tell which roads might be even suitable, let alone good for riding.  Lori was skeptical but I took the plunge and it mostly worked out for me.  I got onto it and stayed on it for the better part of 12 miles, though there was a lot of walking around, sliding under, and climbing over locked gates to slow me down to an 8mph average or so.  I did come upon one gate that was too tall to climb over and too well fenced to walk around - cattle proof, perhaps? - and bailed back out to the main road for that last bit.  Well, I guess it was more a side road since there was no traffic, so a-ok by me!
<p>
Pulled into the town of Gridley for lunch, finally abandoning the levee road for good.  I'd seen exactly 2 cars for the whole levee-duration, and both were crossing ahead of me; 0 roadway user conflict, a win!
<p>
Gridley was small and sleepy but had a good Mexican restaurant where I gorged on queso and nachos and had a margarita, then visited the post office to mail a postcard to Lori.  Last time I bought postcard stamps, they were 21 cents...now, 56!  Man, I feel like the guy complaining about past prices when I was a kid...but I guess I am that guy now.
<p>
Out of Gridley, I was back on the main route that inspired this trip and the roads it picked were mostly low traffic, having good shoulders, or both.  That got me into Oroville where I had to make a decision...stay here?  There were no campgrounds so I would have had to take another hotel stay, and I started to look for one to stay at but then on a lark checked the mileage to my intended campground, and it was only 16 miles, and it was 2:30pm.  I knew that was about 3 hours of light so decided to just push on to the planned campground, even though I was a bit tired.  Fortunately the wind was not draining like yesterday.  I stopped at a quickie Mart in town to energize with chocolate milk, and forgot to zip my pants pocket back up, but somehow the bike lock key stayed tucked in there for those 16 miles til I discovered the error at the campground.
<p>
The ride from town to the campground was the best riding of the trip so far!  I was in the foothills of the buttes, the land was pretty, there was no traffic but I was close enough to the highway for cell signal and in case I needed to bail.  It was pretty, and it was apparently the route the locals ride;  Strava kept telling me I was on one climbing segment or another.  I can see why, as it was bucolic and delightful and even the wind seemed to die down as I climbed up towards camp.  Camp was, however, at the end of a seriously long climb and I hadn't quite entered the route to it completely, so it was just up and up and up even past the "end" of the route.  Probably 500' of elevation gain in the last 1.5 miles.  And then the campground was at the end of a long road, adding 3 more miles to the end of a long day.  Also, the road was closed right at the foot of the climb - thought I'd have to go back and around - but fortunately, I could walk over there closure (quite a sinkhole in the pavement!)
<p>
I finally pulled into the campground, got a campsite, got a shower (thanks to very kind camp host who comped it for me since I did not have appropriate small bills to activate the shower correctly), pitched the tent, got fed, chatted with Lori, typed this, and now I'll sleep super well as it is quiet and cool but not cold, and we are far from any of the noises of civilization, or its lights.  All is well.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
<center><a href="/vsummary/vday4">Click here to read the next entry</a></center><p>
</Layout>
